Repository vg-json-data/sm-json-data, pull requests merged in 2023-08, with the labels that each got.

#992 Double Chamber Wall Jump
  region/norfair/east.json
Labels: Area:Norfair

#999 Update Baby Skip
  region/tourian/main.json
  tech.json
Labels: Area:Tourian

#998 canEnemyStuckMoonfall Strats
  region/brinstar/green.json
  region/brinstar/pink.json
  region/brinstar/roomDiagrams/pink_58_DachoraRoom.png
  region/crateria/central.json
  region/crateria/west.json
  region/maridia/inner-pink.json
  tech.json
Labels: Area:Maridia, Area:Crateria, Area:Brinstar, Room Diagram Update

#1000 Blue Brinstar: G-Mode Immobile and Setups
  region/brinstar/blue.json
Labels: Area:Brinstar, Tech:G-Mode

#1002 Split LN notables
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#997 Norfair reserve
  region/norfair/east.json
  region/norfair/roomDiagrams/east_99_NorfairReserveTankRoom.png
Labels: Area:Norfair, Room Diagram Update

#1007 Add obstacle req on Kihunters Already Killed
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#1004 G-Mode in Kraid's Brinstar
  region/brinstar/kraid.json
Labels: Area:Brinstar, Tech:G-Mode

#1003 Blue Brinstar G-Mode Uses
  region/brinstar/blue.json
  region/brinstar/roomDiagrams/blue_41_BlueBrinstarEnergyTankRoom.png
Labels: Area:Brinstar, Room Diagram Update, Tech:G-Mode

#1013 Tighten heat frames
  helpers.json
  region/lowernorfair/east.json
  region/lowernorfair/roomDiagrams/east_141_LowerNorfairFarmingRoom.png
  region/norfair/east.json
  region/norfair/roomDiagrams/east_113_KronicBoostRoom.png
Labels: Area:Norfair, Area:Lower Norfair, Room Diagram Update

#1014 Add requirements for WRITG top pirate
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#1015 retime volcano room
  region/norfair/east.json
Labels: Area:Norfair

#1016 East ocean strats
  region/crateria/east.json
  region/crateria/roomDiagrams/east_34_EastOcean.png
  tech.json
Labels: Area:Crateria, PR: Not Ready

#1021 East Ocean Springball Hops + Spacejump strat
  region/crateria/east.json
Labels: Area:Crateria

#1022 Maridia - Max height spring ball, tricky frozen enemies
  region/maridia/inner-pink.json
  region/maridia/outer.json
Labels: Area:Maridia

#1024 East Sand Hole Insane Walljump Morph
  region/maridia/inner-pink.json
Labels: Area:Maridia

#1025 Update Crab Freeze Strat
  region/crateria/east.json
Labels: Area:Crateria

#1023 Spring ball Room Escape
  region/maridia/inner-green.json
Labels: Area:Maridia

#1028 Add more uses of canPseudoScrew
  region/brinstar/green.json
  region/maridia/inner-green.json
  region/maridia/inner-yellow.json
Labels: Area:Many

#1020 Update Thread The Needle Room
  region/maridia/inner-yellow.json
Labels: Area:Maridia

#1029 Add uses of canDisableEquipment
  region/brinstar/kraid.json
  region/maridia/inner-pink.json
  region/maridia/outer.json
  region/maridia/roomDiagrams/inner-pink_196_EastCactusAlleyRoom.png
  tech.json
Labels: Area:Maridia, Area:Brinstar, Room Diagram Update

#1031 Add uses of canCameraManip
  region/brinstar/green.json
  region/brinstar/pink.json
  region/crateria/east.json
  region/crateria/west.json
  region/lowernorfair/east.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  region/norfair/east.json
  region/norfair/west.json
  region/tourian/main.json
  region/wreckedship/main.json
Labels: Area:Many

#1032 Green Hill X-Ray Wiggle - Notable
  region/brinstar/green.json
Labels: Area:Brinstar

#1027 Add canMaxHeightSpringBallJump
  helpers.json
  region/brinstar/blue.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  tech.json
Labels: Logic:Tech

#1033 Make Spring Ball Escape Bomb Spring Ball Notable
  region/maridia/inner-green.json
Labels: Area:Maridia

#1034 Speed ball revisit
  region/brinstar/blue.json
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/crateria/west.json
  region/lowernorfair/east.json
  region/norfair/east.json
  region/norfair/west.json
  region/wreckedship/main.json
  tech.json
Labels: Logic:Tech, Area:Many

#1037 Grapple Gate Glitch
  region/brinstar/green.json
Labels: Area:Brinstar

#1036 Pink Brin ice clips
  region/brinstar/pink.json
  region/brinstar/roomDiagrams/pink_59_BigPink.png
Labels: Area:Brinstar, Room Diagram Update

#1038 G-Mode Etecoon/Green Main Shaft
  helpers.json
  region/brinstar/green.json
Labels: Area:Brinstar, Tech:G-Mode

#1040 Fix Zeb Ice Crumble Clip
  region/brinstar/pink.json
Labels: Area:Brinstar

#1039 G-Mode: Green Brinstar Pt. 2
  region/brinstar/green.json
Labels: Area:Brinstar, Tech:G-Mode

#1035 Metroid rooms
  region/tourian/main.json
Labels: Area:Tourian
