Repository vg-json-data/sm-json-data, pull requests merged in 2023-07, with the labels that each got.

#884 Add some quick wall jumps in lower norfail
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#883 Hard Moonfall Tech
  region/crateria/central.json
  region/crateria/west.json
  tech.json
Labels: Strat:High-Level, Area:Crateria, Logic:Tech

#882 Walljumpless strats
  region/brinstar/pink.json
  region/maridia/inner-pink.json
Labels: Area:Maridia, Area:Brinstar

#886 some canLeaveCharged
  region/maridia/outer.json
  region/wreckedship/main.json
Labels: Area:Maridia, Area:Wrecked Ship

#887 canUnderwaterWalljump
  region/crateria/west.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  tech.json
Labels: Strat:High-Level, Area:Maridia, Area:Crateria, Logic:Tech

#894 Add canIframeSpikeJump WS E-Tank
  region/wreckedship/main.json
Labels: Area:Wrecked Ship

#893 LN SpringBall Maze Room
  region/lowernorfair/east.json
  region/lowernorfair/roomDiagrams/east_146_LowerNorfairSpringBallMazeRoom.png
Labels: Area:Lower Norfair, Room Diagram Update

#895 GT Add Morph to PB Strat
  region/lowernorfair/west.json
Labels: Area:Lower Norfair

#891 LN Firefleas
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#890 Ki stairs
  region/lowernorfair/east.json
  region/lowernorfair/roomDiagrams/east_137_RedKihunterShaft.png
  tech.json
Labels: Area:Lower Norfair, Logic:Tech, Room Diagram Update

#896 Musketeers
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#899 Blue hopper dodge notable
  region/tourian/main.json
Labels: Area:Tourian

#900 Pants Room Grapplejump
  region/maridia/inner-green.json
Labels: Area:Maridia

#902 Pre ridley Farm Room
  region/lowernorfair/east.json
  region/lowernorfair/roomDiagrams/east_141_LowerNorfairFarmingRoom.png
Labels: Area:Lower Norfair, Room Diagram Update

#903 SpikeSnake damage boosts
  region/norfair/east.json
Labels: Area:Norfair

#904 Return Through Broken Crumbles - Notable
  region/brinstar/blue.json
  region/brinstar/pink.json
  region/norfair/west.json
Labels: Area:Norfair, Area:Brinstar

#901 Main Street SpeedKeepChain
  region/maridia/outer.json
  region/maridia/roomDiagrams/outer_172_MainStreet.png
Labels: Area:Maridia, Room Diagram Update

#907 Clarify canBabyMetroidAvoid tech
  tech.json
Labels: Area:Tourian

#911 Add clearsObstacles strat property and update docs
  logicalRequirements.md
  region/region-readme.md
  schema/m3-region.schema.json
  strats.md
Labels: Model:Logic Element

#912 Edit Mickey Mouse Runways
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#906 Wall jump to reset fall speed upon entry of Fish Tank
  region/maridia/outer.json
Labels: Area:Maridia

#913 Increase Length of Door Runways
  region/brinstar/pink.json
  region/crateria/central.json
  region/crateria/east.json
  region/crateria/west.json
  region/lowernorfair/east.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  region/norfair/crocomire.json
  region/norfair/east.json
  region/norfair/west.json
  region/region-readme.md
  region/wreckedship/main.json
  schema/m3-region.schema.json
Labels: Area:Many

#914 Increase Croc ammo for low difficulties
  region/norfair/crocomire.json
Labels: Area:Norfair

#916 Croc speedway reverse spark fix
  region/norfair/west.json
Labels: Area:Norfair

#917 PCJR HiJump+Speed+SpringBall strat fix
  region/norfair/crocomire.json
Labels: Area:Norfair

#905 Helper Structure
  .github/workflows/ci.yml
  helpers.json
  resources/ci/common/keywords.py
  schema/m3-helpers.schema.json
Labels: Logic:Helper

#915 Update Sky Missiles
  region/crateria/east.json
Labels: Area:Crateria

#918 Ceiling and Ice Clip Rework
  helpers.json
  region/brinstar/green.json
  region/brinstar/red.json
  region/crateria/central.json
  region/crateria/east.json
  region/crateria/west.json
  region/lowernorfair/east.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/norfair/crocomire.json
  region/norfair/east.json
  tech.json
Labels: Logic:Tech, Area:Many

#920 Remove canDraygonTurretGrappleJump, use notable instead
  region/maridia/inner-pink.json
  tech.json
Labels: Area:Maridia, Logic:Tech

#924 G-Mode North West Yellow Maridia
  region/maridia/inner-yellow.json
Labels: Area:Maridia, Tech:G-Mode

#919 Yellow Maridia G-Mode Setup and Immobile
  region/maridia/inner-yellow.json
Labels: Area:Maridia, Tech:G-Mode

#928 notable schema update
  region/brinstar/green.json
  region/brinstar/pink.json
  region/lowernorfair/east.json
  region/lowernorfair/west.json
  region/maridia/inner-pink.json
  region/maridia/outer.json
  region/tourian/main.json
  schema/m3-region.schema.json
Labels: Model:Key Element, Area:Many

#929 Yellow Maridia East G-Mode
  region/maridia/inner-yellow.json
Labels: Area:Maridia, Tech:G-Mode

#885 Amphitheatre
  region/lowernorfair/east.json
  region/lowernorfair/roomDiagrams/east_136_Amphitheatre.png
Labels: Area:Lower Norfair, Room Diagram Update

#931 Water door stuck xray climbs
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/crateria/west.json
  region/lowernorfair/west.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/outer.json
  region/norfair/crocomire.json
  region/norfair/west.json
  tech.json
Labels: Logic:Tech, Area:Many

#930 Reduce Some Heat Costs in LN spring ball maze room
  region/lowernorfair/east.json
  region/lowernorfair/roomDiagrams/east_146_LowerNorfairSpringBallMazeRoom.png
Labels: Area:Lower Norfair, Room Diagram Update

#933 Rename lavaPhysicsFrames, Add Heat and Acid Variants
  logicalRequirements.md
  region/norfair/east.json
  schema/m3-requirements.schema.json
Labels: Logic:Tech, breaking

#934 LN Firefleas Spike pit
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#936 G-Mode in Quicksand rooms and Bug Sand Hole
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
Labels: Area:Maridia, Tech:G-Mode

#937 G-Mode Sand Holes
  helpers.json
  region/maridia/inner-pink.json
Labels: Area:Maridia, Tech:G-Mode

#938 G-Mode Aqueduct, Crab Shaft
  region/maridia/inner-pink.json
Labels: Area:Maridia, Tech:G-Mode

#940 Pink Maridia G-Mode Setup and Immobile
  region/maridia/inner-pink.json
Labels: Area:Maridia, Tech:G-Mode

#943 Restructure East Cac Alley
  region/maridia/inner-pink.json
  region/maridia/roomDiagrams/inner-pink_196_EastCactusAlleyRoom.png
Labels: Area:Maridia, Room Diagram Update, Tech:G-Mode

#941 Add Majority of Missing G-Mode in Pink Maridia
  region/maridia/inner-pink.json
  tests/asserts/keywords.py
Labels: Area:Maridia, Tech:G-Mode

#946 Convert Metroid Hits to Frames
  logicalRequirements.md
  region/tourian/main.json
  schema/m3-requirements.schema.json
Labels: Area:Tourian, Model:Logic Element

#944 X-Ray Rework
  helpers.json
  region/brinstar/blue.json
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/crateria/west.json
  region/lowernorfair/east.json
  region/lowernorfair/west.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/outer.json
  region/norfair/crocomire.json
  region/norfair/east.json
  region/norfair/west.json
  region/wreckedship/main.json
  tech.json
Labels: Logic:Tech

#942 Tests
  region/brinstar/pink.json
  tests/asserts/keywords.py
Labels: Tests

#950 Split off canBeVeryPatient and add patience on X-ray climb strats
  region/brinstar/blue.json
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/crateria/east.json
  region/crateria/west.json
  region/lowernorfair/east.json
  region/lowernorfair/west.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  region/norfair/crocomire.json
  region/norfair/east.json
  region/norfair/west.json
  region/tourian/main.json
  tech.json
Labels: Logic:Tech

#951 Crateria Rework Obstacles
  region/crateria/central.json
  region/crateria/east.json
  region/crateria/west.json
Labels: Area:Crateria

#949 Tourian Cleanup and Obstacle Rework
  region/tourian/main.json
Labels: Area:Tourian

#956 update crab hole springball strat
  region/maridia/outer.json
Labels: Area:Maridia

#954 Farms in Central Crateria
  region/crateria/central.json
  tests/asserts/keywords.py
Labels: Area:Crateria

#955 Update Obstacles in Brinstar
  region/brinstar/blue.json
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/brinstar/pink.json
  region/brinstar/red.json
Labels: Area:Brinstar

#948 Wrecked Ship Obstacle Revamp
  region/wreckedship/main.json
Labels: Area:Wrecked Ship

#957 Rest of Crateria and Brinstar farms
  region/brinstar/blue.json
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/crateria/east.json
  region/crateria/west.json
Labels: Area:Crateria, Area:Brinstar

#958 Add canPauseAbuse tech, refine heated farms
  region/lowernorfair/east.json
  region/norfair/east.json
  tech.json
Labels: Area:Norfair, Area:Lower Norfair, Logic:Tech

#963 Other Norfair Farms
  region/crateria/central.json
  region/lowernorfair/east.json
  region/lowernorfair/west.json
  region/norfair/crocomire.json
  region/norfair/east.json
  region/norfair/west.json
Labels: Area:Norfair, Area:Lower Norfair, Area:Crateria

#961 Remove high speed WS Basement speedball entry
  region/wreckedship/main.json
Labels: Area:Wrecked Ship

#964 Outer & Pink Maridia farms
  region/maridia/inner-pink.json
  region/maridia/outer.json
Labels: Area:Maridia

#962 update attic canLeaveCharged
  region/wreckedship/main.json
Labels: Area:Wrecked Ship

#959 Elevator canLeaveCharged
  region/brinstar/blue.json
  region/brinstar/kraid.json
  region/brinstar/roomDiagrams/kraid_78_WarehouseEntrance.png
  region/crateria/central.json
  region/crateria/west.json
  region/lowernorfair/east.json
  region/norfair/east.json
Labels: Area:Norfair, Area:Lower Norfair, Area:Crateria, Area:Brinstar, Room Diagram Update

#965 Maridia Obstacle Revamp
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
Labels: Area:Maridia

#970 Lower Norfair West Obstacle Revamp
  region/lowernorfair/west.json
Labels: Area:Lower Norfair

#968 Rest of Maridia farms
  region/maridia/inner-green.json
  region/maridia/inner-yellow.json
Labels: Area:Maridia

#972 Add refill station strats and helpers
  helpers.json
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/lowernorfair/west.json
  region/maridia/inner-pink.json
  region/norfair/east.json
  region/tourian/main.json
Labels: Logic:Helper, Area:Many

#969 Wrecked Ship Farms
  region/wreckedship/main.json
Labels: Area:Wrecked Ship

#966 Upper Norfair Obstacle Revamp
  region/norfair/crocomire.json
  region/norfair/east.json
  region/norfair/west.json
Labels: Area:Norfair

#971 update Ceiling E-Tank Unmorph Bomb Boost
  region/brinstar/blue.json
Labels: Area:Brinstar

#974 Fix Beetom farms
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/brinstar/red.json
  region/norfair/east.json
Labels: Area:Norfair, Area:Brinstar

#975 Partial Lower Norfair East Obstacle Rework
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#976 Lower Norfair East Obstacle Revamp Pt2
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#977 Obstacle Rework Second Pass Pt1
  region/brinstar/blue.json
  region/brinstar/green.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/brinstar/roomDiagrams/kraid_81_WarehouseKihunterRoom.png
  region/brinstar/roomDiagrams/red_68_X-RayScopeRoom.png
  region/crateria/west.json
  region/wreckedship/main.json
Labels: Area:Crateria, Area:Wrecked Ship, Area:Tourian, Area:Brinstar

#979 Simplify Morph Ball Room Speedball (Right to Left)
  region/brinstar/blue.json
Labels: Area:Brinstar

#980 Random Cleanup
  region/lowernorfair/east.json
  region/lowernorfair/west.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  region/norfair/crocomire.json
  region/norfair/east.json
  region/norfair/west.json
  region/wreckedship/main.json
Labels: Area:Many

#982 Warehouse Kihunter Add Shot Block Obstacle
  region/brinstar/kraid.json
  region/brinstar/roomDiagrams/kraid_81_WarehouseKihunterRoom.png
Labels: Area:Brinstar, Room Diagram Update

#983 Add More Patience Reqs
  region/lowernorfair/east.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  tech.json
Labels: Area:Maridia, Area:Lower Norfair

#984 Heated Elevator Helpers
  helpers.json
  region/lowernorfair/east.json
  region/norfair/east.json
Labels: Area:Norfair, Area:Lower Norfair, Logic:Helper

#985 Add Helper to Spawn All Items
  helpers.json
  region/brinstar/blue.json
  region/crateria/central.json
  region/wreckedship/main.json
Labels: Area:Crateria, Area:Wrecked Ship, Logic:Helper

#981 Tourian Escape 1 Right Door Helper
  helpers.json
  region/tourian/main.json
Labels: Area:Tourian

#989 Damage Boost Rework
  region/brinstar/blue.json
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/crateria/east.json
  region/lowernorfair/east.json
  region/lowernorfair/west.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  region/norfair/crocomire.json
  region/norfair/east.json
  region/norfair/west.json
  region/wreckedship/main.json
  tech.json
Labels: Logic:Tech, Area:Many

#996 Remove Bomb Obstacle in Bubble Mountain
  region/norfair/east.json
  region/norfair/roomDiagrams/east_97_BubbleMountain.png
Labels: Area:Norfair, Room Diagram Update
