Repository vg-json-data/sm-json-data, pull requests merged in 2023-11, with the labels that each got.

#1126 Ceres Runways
  region/ceres/main.json
Labels: Area:Ceres, Cross-Room Migration

#1124 Runway Migration - Easy Rooms in Pink/Green Maridia
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
Labels: Area:Maridia, Cross-Room Migration

#1128 Cross Room Migration: Jump Into Water (Horizontal)
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/outer.json
  schema/m3-region.schema.json
  strats.md
  tests/asserts/keywords.py
Labels: Area:Maridia, Cross-Room Migration

#1127 Update tests to not crash as easily on empty dicts
  tests/asserts/keywords.py
Labels: Tests

#1123 Add scripts to split region files into room files with flattening
  schema/m3-region.schema.json
  schema/m3-requirements.schema.json
  schema/m3-room.schema.json
  scripts/format_json.py
  scripts/split_region_files.py
  tests/asserts/keywords.py
  tests/asserts/validate.py
Labels: PR: Ready, Major Overhaul, Tests

#1130 A Couple Quick Changes to Oasis
  region/maridia/inner-green/Oasis.json
Labels: Area:Maridia, Cross-Room Migration

#1133 Runway migration: a couple Green Brin rooms
  region/brinstar/green/Brinstar Map Room.json
  region/brinstar/green/Brinstar Pre-Map Room.json
Labels: Area:Brinstar, Cross-Room Migration

#1135 Runway migration: Early Supers
  region/brinstar/green/Early Supers Room.json
Labels: Area:Brinstar, Cross-Room Migration

#1134 Runway migration: Etecoon ETank Room
  region/brinstar/green/Etecoon Energy Tank Room.json
Labels: Area:Brinstar, Cross-Room Migration

#1136 Runway migration: a few more Green Brin rooms
  region/brinstar/green/Etecoon Save Room.json
  region/brinstar/green/Etecoon Super Room.json
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/green/Green Brinstar Fireflea Room.json
Labels: Area:Brinstar, Cross-Room Migration

#1132 Cross Room Migration: East Sand Hall
  region/maridia/inner-green/East Sand Hall.json
Labels: Area:Maridia, Cross-Room Migration

#1138 Pants Rooms Restructure, Runway Migration & Connection Cleanup
  connection/connection-readme.md
  connection/maridia/inner.json
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/roomDiagrams/inner-green_220_PantsRoom.png
  region/maridia/roomDiagrams/inner-green_322_EastPantsRoom.png
  schema/m3-connection.schema.json
  schema/m3-room.schema.json
Labels: Area:Maridia, Room Diagram Update, Cross-Room Migration

#1139 Runway Migration: Finishing Green Maridia
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
Labels: Area:Maridia, Cross-Room Migration

#1140 Upper Norfair Runways First Rooms
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Frog Speedway.json
  region/norfair/east/Rising Tide.json
  region/norfair/east/Upper Norfair Farming Room.json
Labels: Area:Norfair, Cross-Room Migration

#1141 Bubble Mountain + Purple Rooms Migration
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Purple Farming Room.json
  region/norfair/east/Purple Shaft.json
  region/norfair/roomDiagrams/east_97_BubbleMountain.png
  schema/m3-room.schema.json
Labels: Area:Norfair, Room Diagram Update, Cross-Room Migration

#1146 Reo Ice Clip Edit
  region/brinstar/pink/Big Pink.json
Labels: Strat:High-Level, Area:Brinstar

#1149 Add 10 PB CF and Ammo Refill Helpers
  helpers.json
  region/brinstar/green/Green Brinstar Missile Refill.json
  region/brinstar/kraid/Kraid Recharge Station.json
  region/maridia/inner-pink/Maridia Missile Refill Room.json
  region/tourian/main/Tourian Recharge Room.json
  tech.json
Labels: Logic:Helper, Logic:Tech

#1148 Runway Migration: Sand Holes
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/West Sand Hole.json
Labels: Area:Maridia, Cross-Room Migration

#1145 Runway Migration: West Pink Maridia
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Crab Shaft.json
Labels: Area:Maridia, Cross-Room Migration

#1144 Upper Norfair East Runway Migration Reserve through SpeedBooster rooms
  region/norfair/east/Bat Cave.json
  region/norfair/east/Green Bubbles Missile Room.json
  region/norfair/east/Norfair Reserve Tank Room.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Speed Booster Room.json
  region/norfair/roomDiagrams/east_101_SpeedBoosterHall.png
Labels: Area:Norfair, Room Diagram Update, Cross-Room Migration

#1151 Aqueduct Leave Shinecharged Strats
  region/maridia/inner-pink/Aqueduct.json
Labels: Area:Maridia

#1150 Runway Migration: Pink Maridia East
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/The Precious Room.json
Labels: Area:Maridia, Cross-Room Migration

#1153 Update Green Maridia Room Diagrams
  region/maridia/roomDiagrams/inner-green_198_Oasis.png
  region/maridia/roomDiagrams/inner-green_210_EastSandHall.png
  region/maridia/roomDiagrams/inner-green_220_PantsRoom.png
Labels: Room Diagram Update, Cross-Room Migration

#1154 Schema change for migrating door-lock bypass strats
  region/brinstar/red/Red Tower.json
  region/maridia/inner-yellow/Butterfly Room.json
  region/region-readme.md
  schema/m3-room.schema.json
  strats.md
Labels: Cross-Room Migration

#1158 Fix malformed 'Wave+Spazer' req in Bubble Mountain
  region/norfair/east/Bubble Mountain.json
Labels: Area:Norfair

#1157 Create script to mostly automate the G-mode cross-room migration
  schema/m3-room.schema.json
  scripts/gmode_migration.py
Labels: Tech:G-Mode, Cross-Room Migration

#1160 Runway migration for Green Brinstar Main Shaft
  region/brinstar/green/Green Brinstar Fireflea Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
Labels: Area:Brinstar, Cross-Room Migration

#1162 Rest of Green Brin Runway migration
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft Save Room.json
  region/brinstar/green/Green Brinstar Missile Refill.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/green/Noob Bridge aka A Bridge Too Far.json
  region/brinstar/green/Spore Spawn Kihunter Room.json
  region/brinstar/green/Spore Spawn Room.json
Labels: Area:Brinstar, Cross-Room Migration

#1167 Crateria Crystal Flash strats
  region/crateria/central/Blue Brinstar Elevator Room.json
  region/crateria/central/Bomb Torizo Room.json
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Map Room.json
  region/crateria/central/Crateria Power Bomb Room.json
  region/crateria/central/Crateria Save Room.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Crateria Tube.json
  region/crateria/central/Final Missile Bombway.json
  region/crateria/central/Flyway.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
  region/crateria/central/Pre-Map Flyway.json
  region/crateria/central/The Final Missile.json
  region/crateria/east/Bowling Alley Path.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/East Ocean.json
  region/crateria/east/Forgotten Highway Elbow.json
  region/crateria/east/Forgotten Highway Elevator.json
  region/crateria/east/Forgotten Highway Kago Room.json
  region/crateria/east/Homing Geemer Room.json
  region/crateria/east/Red Brinstar Elevator Room.json
  region/crateria/east/The Moat.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
  region/crateria/west/Green Brinstar Elevator Room.json
  region/crateria/west/Green Pirates Shaft.json
  region/crateria/west/Lower Mushrooms.json
  region/crateria/west/Statues Hallway.json
  region/crateria/west/Statues Room.json
  region/crateria/west/Terminator Room.json
Labels: Strat:Basic, Area:Crateria

#1165 Runway Migration: Red Fish, Mama Turtle
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Red Fish Room.json
Labels: Area:Maridia, Cross-Room Migration

#1170 Update Room Diagrams: Tourian, WS, Pit Room
  region/crateria/roomDiagrams/central_PitRoom_12.png
  region/tourian/roomDiagrams/main_MetroidRoom1_226.png
  region/wreckedship/roomDiagrams/main_Basement_156.png
  region/wreckedship/roomDiagrams/main_BowlingAlley_161.png
  region/wreckedship/roomDiagrams/main_WreckedShipMainShaft_155.png
Labels: Room Diagram Update

#1168 Runway Migration: Main Street
  region/maridia/outer/Main Street.json
Labels: Area:Maridia, Cross-Room Migration

#1164 Runway Migration: Finishing off Pink Maridia
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
Labels: Area:Maridia, Cross-Room Migration

#1169 Brinstar Crystal Flash strats
  region/brinstar/blue/Billy Mays Room.json
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/blue/Construction Zone.json
  region/brinstar/blue/First Missile Room.json
  region/brinstar/blue/Morph Ball Room.json
  region/brinstar/green/Brinstar Map Room.json
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Etecoon Save Room.json
  region/brinstar/green/Etecoon Super Room.json
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/green/Green Brinstar Fireflea Room.json
  region/brinstar/green/Green Brinstar Main Shaft Save Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Brinstar Missile Refill.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/green/Noob Bridge aka A Bridge Too Far.json
  region/brinstar/green/Spore Spawn Kihunter Room.json
  region/brinstar/green/Spore Spawn Room.json
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/kraid/Kraid Room.json
  region/brinstar/kraid/Kraid Save Room.json
  region/brinstar/kraid/Varia Suit Room.json
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/kraid/Warehouse Entrance.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
  region/brinstar/pink/Big Pink Save Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Dachora Energy Refill.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Hopper Energy Tank Room.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/pink/Spore Spawn Super Room.json
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/brinstar/red/Alpha Power Bomb Room.json
  region/brinstar/red/Bat Room.json
  region/brinstar/red/Below Spazer.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/Caterpillar Save Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/brinstar/red/Red Tower.json
  region/brinstar/red/Sloaters Refill.json
  region/brinstar/red/Spazer Room.json
  region/brinstar/red/X-Ray Scope Room.json
Labels: Area:Brinstar

#1172 Wrecked Ship Crystal Flash strats
  region/wreckedship/main/Attic.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Electric Death Room.json
  region/wreckedship/main/Gravity Suit Room.json
  region/wreckedship/main/Phantoon's Room.json
  region/wreckedship/main/Spiky Death Room.json
  region/wreckedship/main/Sponge Bath.json
  region/wreckedship/main/Wrecked Ship East Missile Room.json
  region/wreckedship/main/Wrecked Ship East Super Room.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  region/wreckedship/main/Wrecked Ship Entrance.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  region/wreckedship/main/Wrecked Ship Map Room.json
  region/wreckedship/main/Wrecked Ship Save Room.json
  region/wreckedship/main/Wrecked Ship West Super Room.json
Labels: Area:Wrecked Ship

#1171 Upper Norfair Crystal Flash strats (Part 1)
  helpers.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/crocomire/Grapple Tutorial Room 1.json
  region/norfair/crocomire/Grapple Tutorial Room 2.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/crocomire/Post Crocomire Power Bomb Room.json
  region/norfair/crocomire/Post Crocomire Save Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Bubble Mountain Save Room.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Frog Savestation.json
  region/norfair/east/Frog Speedway.json
  region/norfair/east/Green Bubbles Missile Room.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/east/Lower Norfair Elevator Save Room.json
  region/norfair/east/Lower Norfair Elevator.json
  region/norfair/east/Magdollite Tunnel.json
  region/norfair/east/Norfair Reserve Tank Room.json
Labels: Area:Norfair

#1173 Tourian Crystal Flash strats
  region/tourian/main/Big Boy Room.json
  region/tourian/main/Blue Hopper Room.json
  region/tourian/main/Dust Torizo Room.json
  region/tourian/main/Lower Tourian Save Room.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Metroid Room 4.json
  region/tourian/main/Rinka Shaft.json
  region/tourian/main/Seaweed Room.json
  region/tourian/main/Tourian Escape Room 1.json
  region/tourian/main/Tourian Escape Room 2.json
  region/tourian/main/Tourian Escape Room 3.json
  region/tourian/main/Tourian Escape Room 4.json
  region/tourian/main/Tourian Eye Door Room.json
  region/tourian/main/Tourian First Room.json
  region/tourian/main/Upper Tourian Save Room.json
Labels: Area:Tourian

#1152 canExtendedMoondance, comeInWithMoondance, leaveWithMoondance
  helpers.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Spore Spawn Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/red/Below Spazer.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Red Tower.json
  region/brinstar/roomDiagrams/green_GreenBrinstarMainShaft-EtecoonRoom_44.png
  region/brinstar/roomDiagrams/pink_BigPink_59.png
  region/brinstar/roomDiagrams/pink_DachoraRoom_58.png
  region/brinstar/roomDiagrams/red_BelowSpazer_70.png
  region/brinstar/roomDiagrams/red_BetaPowerBombRoom_77.png
  schema/m3-room.schema.json
  strats.md
  tech.json
Labels: Model:Logic Element, Area:Brinstar, Logic:Tech

#1174 Maridia Crystal Flash strats
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/Shaktool Room.json
  region/maridia/inner-green/Spring Ball Room.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-pink/Aqueduct Save Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Botwoon Quicksand Room.json
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Draygon Save Room.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/East Aqueduct Quicksand Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/Maridia Health Refill Room.json
  region/maridia/inner-pink/Space Jump Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/West Aqueduct Quicksand Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-pink/West Sand Hole.json
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/maridia/inner-yellow/Forgotten Highway Save Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/inner-yellow/Plasma Beach Quicksand Room.json
  region/maridia/inner-yellow/Plasma Climb aka Kassiuz Room.json
  region/maridia/inner-yellow/Plasma Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/Plasma Tutorial Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/inner-yellow/Thread The Needle Room.json
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel Save Room.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Maridia Map Room.json
  region/maridia/outer/Mt. Everest.json
  region/maridia/outer/Red Fish Room.json
  region/maridia/outer/West (Glass Tube) Tunnel.json
Labels: Area:Maridia

#1176 Lower Norfair West Crystal Flash strats
  region/lowernorfair/west/Acid Statue Room.json
  region/lowernorfair/west/Fast Ripper Room.json
  region/lowernorfair/west/Golden Torizo Energy Recharge.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/lowernorfair/west/Screw Attack Room.json
Labels: Area:Lower Norfair

#1175 Rest of Upper Norfair Crystal Flash strats
  helpers.json
  region/norfair/east/Nutella Refill.json
  region/norfair/east/Purple Shaft.json
  region/norfair/east/Red Pirate Shaft.json
  region/norfair/east/Rising Tide.json
  region/norfair/east/Single Chamber.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Speed Booster Room.json
  region/norfair/east/Spiky Acid Snakes Tunnel.json
  region/norfair/east/Spiky Platforms Tunnel.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/east/Volcano Room.json
  region/norfair/east/Wave Beam Room.json
  region/norfair/west/Business Center.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crocomire Save Room.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Hi Jump Boots Room.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/norfair/west/Ice Beam Acid Room.json
  region/norfair/west/Ice Beam Gate Room.json
  region/norfair/west/Ice Beam Room.json
  region/norfair/west/Ice Beam Snake Room.json
  region/norfair/west/Ice Beam Tutorial Room.json
  region/norfair/west/Norfair Map Room.json
Labels: Area:Norfair

#1177 Crateria Cross-Room Moondance
  region/brinstar/green/Spore Spawn Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Dachora Room.json
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Tube.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/Homing Geemer Room.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Green Pirates Shaft.json
  region/crateria/west/Lower Mushrooms.json
  region/crateria/west/Terminator Room.json
Labels: Area:Crateria

#1178 Rest of Lower Norfair Crystal Flash strats
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Escape Power Bomb Room.json
  region/lowernorfair/east/Lower Norfair Farming Room.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Main Hall.json
  region/lowernorfair/east/Metal Pirates Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Pillar Room.json
  region/lowernorfair/east/Plowerhouse Room.json
  region/lowernorfair/east/Red Kihunter Shaft Save Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/Ridley Tank Room.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/lowernorfair/east/Wasteland.json
Labels: Area:Lower Norfair

#1166 Runway Migration: Mt. Everest
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia, Cross-Room Migration

#1182 Adding missing Base strat in Etecoon ETank Room
  region/brinstar/green/Etecoon Energy Tank Room.json
Labels: Area:Brinstar

#1183 canTrickyUseFrozenEnemies reqs in Red Tower moondance
  region/brinstar/red/Red Tower.json
Labels: Area:Brinstar

#1181 UN EAST Runway Migration - The Rest
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Bubble Mountain Save Room.json
  region/norfair/east/Frog Savestation.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/east/Lower Norfair Elevator Save Room.json
  region/norfair/east/Lower Norfair Elevator.json
  region/norfair/east/Magdollite Tunnel.json
  region/norfair/east/Nutella Refill.json
  region/norfair/east/Red Pirate Shaft.json
  region/norfair/east/Spiky Acid Snakes Tunnel.json
  region/norfair/east/Spiky Platforms Tunnel.json
  region/norfair/east/Volcano Room.json
  region/norfair/east/Wave Beam Room.json
Labels: Area:Norfair, Cross-Room Migration

#1179 UN EAST MIGRATION Single Double Chamber
  region/norfair/east/Double Chamber.json
  region/norfair/east/Single Chamber.json
Labels: Area:Norfair, Cross-Room Migration
