Repository vg-json-data/sm-json-data, pull requests merged in 2023-05, with the labels that each got.

#761 G-mode artificial morph ceiling bomb jump WS E-tank
  region/wreckedship/main.json
Labels: Area:Wrecked Ship, Tech:G-Mode

#763 Bowling g-mode
  region/wreckedship/main.json
Labels: Area:Wrecked Ship, Tech:G-Mode

#762 G-mode ceiling bomb jump sponge bath
  region/wreckedship/main.json
Labels: Area:Wrecked Ship, Tech:G-Mode

#657 Reverse Botwoon Scenario
  enemies/bosses/main.json
  enemies/bosses/scenarios.json
  region/maridia/inner-pink.json
  weapons/main.json
Labels: Area:Maridia

#764 WS Main Shaft g-mode
  helpers.json
  region/wreckedship/main.json
Labels: Area:Wrecked Ship

#765 Basement G-Mode
  region/wreckedship/main.json
Labels: Area:Wrecked Ship

#766 WS G-Mode Immobile
  region/wreckedship/main.json
Labels: Area:Wrecked Ship, Tech:G-Mode

#759 LN Pillars Room
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#767 WS G-Mode Setup
  region/wreckedship/main.json
Labels: Area:Wrecked Ship, Tech:G-Mode

#760 Writg
  region/lowernorfair/east.json
  tech.json
Labels: Area:Lower Norfair

#769 Gravity chozo updates
  region/wreckedship/main.json
  region/wreckedship/roomDiagrams/main_161_BowlingAlley.png
Labels: Area:Wrecked Ship, Room Diagram Update

#783 lower main street jump up to fish
  region/maridia/outer.json
Labels: Area:Maridia

#781 Add canStutterWaterShineCharge, use in Sponge Bath, Outer Maridia
  region/maridia/inner-pink.json
  region/maridia/outer.json
  region/wreckedship/main.json
  tech.json
Labels: Area:Maridia, Logic:Tech

#784 Suitless Plasma Spark
  region/maridia/inner-yellow.json
Labels: Area:Maridia

#786 CF clip rework
  helpers.json
  region/lowernorfair/east.json
  region/lowernorfair/west.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/wreckedship/main.json
  tech.json
Labels: Logic:Tech, Area:Many

#787 Water Shortcharge - Pink/Green Maridia
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
Labels: Area:Maridia

#785 Run slow / unused runway
  logicalRequirements.md
  region/brinstar/blue.json
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/crateria/west.json
  region/norfair/east.json
  region/norfair/west.json
  region/wreckedship/main.json
  schema/m3-requirements.schema.json
  tech.json
Labels: Strat:High-Level, Strat:Basic, Logic:Tech, Area:Many

#791 Add h_lavaProof and have it be required to bypass canSuitlessLavaDive
  helpers.json
  region/norfair/east.json
  tech.json
Labels: Area:Norfair, Logic:Tech

#788 Aqueduct Add Strats and Link
  region/maridia/inner-pink.json
  region/maridia/roomDiagrams/inner-pink_183_Aqueduct.png
Labels: Area:Maridia, Room Diagram Update

#798 Update Pseudo Plasma Spark Room
  region/maridia/inner-yellow.json
  region/maridia/roomDiagrams/inner-yellow_179_PseudoPlasmaSparkRoom.png
Labels: Area:Maridia, Room Diagram Update

#797 West lowerNorfair
  region/lowernorfair/roomDiagrams/west_150_GoldenTorizosRoom.png
  region/lowernorfair/roomDiagrams/west_151_ScrewAttackRoom.png
  region/lowernorfair/west.json
Labels: Area:Lower Norfair, Room Diagram Update

#806 Climb x-ray Climb
  region/crateria/central.json
  region/crateria/roomDiagrams/central_11_Climb.png
  region/crateria/roomDiagrams/central_29_CrateriaSuperRoom.png
Labels: Area:Crateria, Room Diagram Update

#804 h_canThreeTileJumpMorph in more places
  region/lowernorfair/east.json
  region/maridia/inner-pink.json
  tech.json
Labels: Area:Maridia, Area:Lower Norfair

#805 Add Node to Red Fish Room
  region/maridia/outer.json
  region/maridia/roomDiagrams/outer_177_RedFishRoom.png
Labels: Area:Maridia, Room Diagram Update

#799 East Ocean Strat
  region/crateria/east.json
Labels: Area:Crateria

#800 Add Suitless, Bootless Spring Ball Escape
  region/maridia/inner-green.json
Labels: Area:Maridia

#815 More X-ray climbs (including deep stucks)
  region/brinstar/pink.json
  region/crateria/central.json
  region/crateria/east.json
  region/lowernorfair/east.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  region/wreckedship/main.json
Labels: Area:Many

#820 Pink Maridia Partial Update
  region/maridia/inner-pink.json
Labels: Area:Maridia

#754 Colosseum Grapple Changes
  region/maridia/inner-pink.json
Labels: Area:Maridia

#821 Update Pink Maridia Pt. 2
  region/maridia/inner-pink.json
Labels: Area:Maridia

#813 Delete canCrumbleSpinJump
  region/lowernorfair/east.json
  region/norfair/east.json
  tech.json
Labels: Area:Norfair, Area:Lower Norfair

#812 West ocean ice clip
  region/crateria/east.json
Labels: Area:Crateria

#823 pseudo plasma spark crouch jump strat
  region/maridia/inner-yellow.json
Labels: Strat:Basic, Area:Maridia

#819 Update Pants Room
  region/maridia/inner-green.json
  region/maridia/roomDiagrams/inner-green_220_PantsRoom.png
Labels: Area:Maridia, Room Diagram Update

#824 Remove canMaridiaTubeClip
  region/maridia/outer.json
  tech.json
Labels: Area:Maridia
