Repository vg-json-data/sm-json-data, pull requests merged in 2023-06, with the labels that each got.

#818 Add requirements to some enemy kill strats
  region/brinstar/kraid.json
  region/brinstar/roomDiagrams/kraid_81_WarehouseKihunterRoom.png
  region/crateria/central.json
  region/lowernorfair/east.json
  region/tourian/main.json
  region/wreckedship/main.json
  tech.json
Labels: Strat:Basic, Logic:Tech, Room Diagram Update, Area:Many

#826 Update Plasma Spark Room
  region/maridia/inner-yellow.json
  region/maridia/roomDiagrams/inner-yellow_197_PlasmaSparkRoom.png
Labels: Area:Maridia, Room Diagram Update

#825 Yellow Maridia Partial Update
  region/maridia/inner-yellow.json
Labels: Area:Maridia

#829 Sand Pits update
  region/maridia/inner-pink.json
Labels: Area:Maridia

#830 Update Maridia Bug Room
  region/maridia/inner-yellow.json
  region/maridia/roomDiagrams/inner-yellow_180_NorthwestMaridiaBugRoom.png
Labels: Area:Maridia, Room Diagram Update

#837 Colosseum with Ice as notable
  region/maridia/inner-pink.json
Labels: Area:Maridia

#833 Aqueduct xrayclimb notable
  region/maridia/inner-pink.json
Labels: Area:Maridia

#832 Suitless Ridley notable
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#831 Gt Crumble Bridge
  region/lowernorfair/west.json
  tech.json
Labels: Area:Lower Norfair

#834 Crab Shaft Ice Only Crab Climb notable
  region/maridia/inner-pink.json
Labels: Area:Maridia

#838 Update Bug Sand Hole
  region/maridia/inner-yellow.json
Labels: Area:Maridia

#835 Easier reverse leodox option
  region/tourian/main.json
Labels: Area:Tourian

#836 Update Plasma Spark Room
  region/maridia/inner-yellow.json
Labels: Area:Maridia

#814 Friendlier Snail climb
  region/maridia/inner-pink.json
  tech.json
Labels: Area:Maridia

#841 Update West Sand Hall Room
  region/maridia/inner-green.json
  region/maridia/roomDiagrams/inner-green_199_WestSandHall.png
Labels: Area:Maridia, Room Diagram Update

#843 Acid Chozo Statue Partial Update
  region/lowernorfair/west.json
Labels: Area:Lower Norfair

#844 Pseudo plasma fish freeze to tricky fish freeze
  region/maridia/inner-yellow.json
Labels: Area:Maridia

#845 Tourian Add Gmode Immobile
  region/tourian/main.json
Labels: Area:Tourian, Tech:G-Mode

#847 Acid Chozo Room
  helpers.json
  region/lowernorfair/west.json
Labels: Area:Lower Norfair

#851 Tourian G-Mode Setup
  region/tourian/main.json
Labels: Area:Tourian, Tech:G-Mode

#852 GMode in Tourian Escape 3 and 4
  region/tourian/main.json
Labels: Area:Tourian, Tech:G-Mode

#846 Add low level tech
  helpers.json
  region/maridia/inner-green.json
  region/tourian/main.json
  tech.json
  weapons/main.json
Labels: Area:Tourian, Logic:Tech

#862 More Lenient Kraid Super Kill
  region/brinstar/kraid.json
Labels: Area:Brinstar

#861 Add Missing G-Mode Strat in Tourian Escape 3
  region/tourian/main.json
Labels: Area:Tourian, Tech:G-Mode

#853 Outer Maridia Gmode Immobile
  region/maridia/outer.json
Labels: Area:Maridia, Tech:G-Mode

#855 Outer Maridia Partial Gmode Update
  region/maridia/outer.json
Labels: Area:Maridia, Tech:G-Mode

#860 Most Outer Maridia G-Mode Setups
  region/maridia/outer.json
Labels: Area:Maridia, Tech:G-Mode

#857 Add G-Mode Strats to Glass Tunnel, Crab Hole
  region/maridia/outer.json
  region/maridia/roomDiagrams/outer_170_GlassTunnel.png
Labels: Area:Maridia, Room Diagram Update, Tech:G-Mode

#859 G-Mode Main Street/Everest Morph Tunnel
  helpers.json
  region/maridia/outer.json
Labels: Area:Maridia, Tech:G-Mode

#878 Redo the Maridia subregions map
  region/maridia/inner-subregions.png
  region/maridia/maridia-subregions.png
Labels: Area:Maridia

#879 Add and update subregion maps
  region/brinstar/brinstar-subregions.png
  region/crateria/crateria-subregions.png
  region/lowernorfair/lowernorfair-subregions.png
  region/maridia/maridia-subregions.png
  region/norfair/norfair-subregions.png
Labels: Area:Many

#858 Some G-Mode in Main Street, Everest
  region/maridia/outer.json
Labels: Area:Maridia, Tech:G-Mode

#868 Green Maridia - G-Mode Immobile and Setups
  helpers.json
  region/maridia/inner-green.json
Labels: Area:Maridia, Tech:G-Mode

#870 Green Maridia G-Mode Strats
  helpers.json
  region/maridia/inner-green.json
Labels: Area:Maridia, Tech:G-Mode

#865 Add canWallJumpIntoMorph to fix East Sand Hole and use throughout
  region/brinstar/blue.json
  region/crateria/central.json
  region/lowernorfair/east.json
  region/maridia/inner-pink.json
  region/norfair/west.json
  tech.json
Labels: Logic:Tech

#880 Mickey Mouse update
  region/lowernorfair/east.json
  region/lowernorfair/roomDiagrams/east_144_MickeyMouseRoom.png
  tech.json
Labels: Area:Lower Norfair, Room Diagram Update
