Repository vg-json-data/sm-json-data, pull requests merged in 2023-04, with the labels that each got.

#636 Brinstar Reserve canSpeedKeep
  region/brinstar/green.json
  tech.json
Labels: Model:Logic Element

#678 Add grapple tutorial 2 strat with hijump+speedbooster
  region/norfair/crocomire.json
Labels: Area:Norfair

#673 Tourian Hoppers / Alpha PBs
  region/brinstar/red.json
  region/brinstar/roomDiagrams/red_76_AlphaPowerBombRoom.png
  region/tourian/main.json
Labels: Area:Tourian, Area:Brinstar, Room Diagram Update

#679 Add shinecharge movement strat in halfie climb to avoid walljumps
  region/maridia/inner-pink.json
  region/maridia/roomDiagrams/inner-pink_187_HalfieClimbRoom.png
Labels: Area:Maridia

#686 G-Mode Crateria Supers from below
  helpers.json
  region/crateria/central.json
Labels: g-mode

#688 Gmode helpers - Split tech to no longer require morph
  helpers.json
  region/brinstar/blue.json
  region/brinstar/green.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/crateria/east.json
  region/crateria/west.json
  region/lowernorfair/east.json
  region/lowernorfair/west.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  region/norfair/crocomire.json
  region/norfair/east.json
  region/norfair/west.json
  region/wreckedship/main.json
  tech.json
Labels: Logic:Tech

#671 Parlor G-mode strats
  region/crateria/central.json
  schema/m3-region.schema.json
  tech.json
Labels: Area:Crateria, Tech:G-Mode

#681 G mode Pit Room
  region/crateria/central.json
Labels: Area:Crateria, Tech:G-Mode

#680 Big Pink walljumpless strats
  region/brinstar/pink.json
Labels: Area:Brinstar

#685 G mode Crateria Super Room
  region/crateria/central.json
Labels: Area:Crateria, Tech:G-Mode

#658 Lower norfair early room strats
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#697 Update AcidSnakesTunnel
  region/norfair/east.json
  region/norfair/roomDiagrams/east_119_AcidSnakesTunnel.png
Labels: Area:Norfair, Room Diagram Update

#695 Fix Pit Room Speedkeep
  region/crateria/central.json
Labels: Area:Crateria

#696 Update part of IceBeamSnakeRoom
  region/norfair/west.json
Labels: Area:Norfair

#664 Sand Tech Update
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/roomDiagrams/inner-green_199_WestSandHall.png
  region/maridia/roomDiagrams/inner-green_210_EastSandHall.png
  tech.json
Labels: Area:Maridia, Logic:Tech, Room Diagram Update

#706 Speedkeep chain up climb
  region/crateria/central.json
  schema/m3-requirements.schema.json
  tech.json
Labels: Area:Crateria

#718 G-mode Lower Mushrooms
  region/crateria/west.json
Labels: Tech:G-Mode

#719 G-Mode West Ocean
  region/crateria/east.json
Labels: Area:Crateria, Tech:G-Mode

#717 G mode Bowling Alley Path & Crab Maze
  region/crateria/east.json
Labels: Area:Crateria, Tech:G-Mode

#708 G-mode Crateria Kihunter Room
  region/crateria/east.json
  tech.json
Labels: Area:Crateria

#724 Gmode Moat IBJ
  region/crateria/east.json
Labels: Area:Crateria, Tech:G-Mode

#725 G-Mode East Ocean IBJ
  region/crateria/east.json
Labels: Area:Crateria, Tech:G-Mode

#715 Add some speed dash jumps to maridia
  region/maridia/outer.json
Labels: Area:Maridia

#729 Double Chamber heat frames getting to & from the item
  region/norfair/east.json
Labels: Area:Norfair

#731 Make 'X-Ray Climb' in Fast Pillars Setup Room not notable
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#733 Fix requirements in Tourian Escape Room 4
  region/tourian/main.json
Labels: Area:Tourian

#732 Fix spawnAt in top of glass tunnel
  region/maridia/outer.json
Labels: Area:Maridia

#722 Tighten acidFrames in Metroid Room 1
  region/tourian/main.json
Labels: Area:Tourian

#723 Cactus Alley Strats
  helpers.json
  region/maridia/inner-pink.json
  region/maridia/outer.json
  tech.json
Labels: Area:Maridia

#726 G-Mode West Ocean Rework and Add PB Item Strats
  region/crateria/east.json
Labels: Area:Crateria, Tech:G-Mode

#735 Edit fall left strat in everest.
  region/maridia/outer.json
  region/maridia/roomDiagrams/outer_174_MtEverest.png
Labels: Area:Maridia, Room Diagram Update

#728 G-Mode Gauntlet
  region/crateria/west.json
Labels: Area:Crateria, Tech:G-Mode

#727 G-Mode Crateria Supers PB Super Item
  region/crateria/central.json
Labels: Area:Crateria, Tech:G-Mode

#740 Fix requirements in Tourian Escape Room 3
  region/tourian/main.json
Labels: Area:Tourian

#737 Revamp WS E-Tank Room, Add canPreciseGrapple
  region/maridia/inner-pink.json
  region/maridia/outer.json
  region/norfair/crocomire.json
  region/wreckedship/main.json
  tech.json
Labels: Area:Maridia, Area:Norfair, Area:Wrecked Ship, Logic:Tech

#747 Tourian Metroid Room 1 - Gravity acid frames
  region/tourian/main.json
Labels: Area:Tourian

#741 Fish Tank Fix Spawn At
  region/maridia/outer.json
  region/maridia/roomDiagrams/outer_173_FishTank.png
Labels: help wanted, Area:Maridia, Room Diagram Update

#739 Add canSpaceJumpWaterEscape
  region/crateria/east.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  tech.json
Labels: Area:Maridia, Area:Crateria, Logic:Tech

#752 Update Acid Chozo Statue
  region/lowernorfair/west.json
Labels: Area:Lower Norfair

#753 Rising tide
  region/norfair/east.json
Labels: Area:Norfair

#757 Remove Crazy Crab Climb from bottom of Main Street
  region/maridia/outer.json
Labels: Area:Maridia

#743 Grapple Tutorial Rooms
  region/norfair/crocomire.json
  region/norfair/roomDiagrams/crocomire_131_GrappleTutorialRoom3.png
Labels: Area:Norfair, Room Diagram Update

#755 Slightly reduce heat frames in Screw Attack Room
  region/lowernorfair/west.json
Labels: Area:Lower Norfair

#749 West Norfair - Gravity Lava Frames
  region/norfair/west.json
Labels: Area:Norfair

#750 Upper Upper East Norfair - Gravity Lava Frames
  region/norfair/east.json
  region/norfair/roomDiagrams/east_91_Cathedral.png
Labels: Area:Norfair

#751 Lower Upper East Norfair - Gravity Lava Frames
  region/norfair/east.json
Labels: Area:Norfair
