Repository vg-json-data/sm-json-data, pull requests merged in 2023-10, with the labels that each got.

#1085 Tourian Hopper Shinespark
  region/tourian/main.json
Labels: Area:Tourian

#1082 add heatproof to ice snake farm
  region/norfair/west.json
Labels: Area:Norfair

#1081 PBs in Jail CF clip
  region/lowernorfair/east.json
  region/lowernorfair/roomDiagrams/east_147_LowerNorfairEscapePowerBombRoom.png
Labels: Area:Lower Norfair, Room Diagram Update

#1072 Crateria Supers Bobs Notes
  region/crateria/central.json
  region/crateria/roomDiagrams/central_29_CrateriaSuperRoom.png
  tech.json
Labels: Area:Crateria, Logic:Tech, Room Diagram Update, Tech:G-Mode

#1083 Add more strats to cathedral
  region/norfair/east.json
Labels: Area:Norfair

#1079 Cross-room strat restructure (part 1)
  logicalRequirements.md
  region/brinstar/blue.json
  region/region-readme.md
  schema/m3-region.schema.json
  schema/m3-requirements.schema.json
  strats.md
  tests/asserts/keywords.py
Labels: Area:Brinstar, breaking, Major Overhaul

#1087 Add G-Mode Setups to Red Tower
  region/brinstar/red.json
Labels: Area:Brinstar, Tech:G-Mode

#1080 LN Firefleas update
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#1088 Add Bombs requirement to Main Street strat
  region/maridia/outer.json
Labels: Area:Maridia

#1090 Update Cross Room Runways in West Crateria
  region/crateria/west.json
  tests/asserts/keywords.py
Labels: Cross-Room Migration

#1091 Update Runways in Landing Site
  region/crateria/central.json
  region/crateria/roomDiagrams/central_8_LandingSite.png
Labels: Area:Crateria, Room Diagram Update, Cross-Room Migration

#1092 Runway changes: Parlor and Crateria Tube
  region/crateria/central.json
Labels: Area:Crateria, Cross-Room Migration

#1093 Cross Room Runways in Central Crateria, Pt 3
  region/crateria/central.json
  region/crateria/west.json
  schema/m3-region.schema.json
Labels: Area:Crateria, Cross-Room Migration

#1094 New Runway Cleanup - Misc Changes
  region/brinstar/blue.json
  region/crateria/central.json
  region/crateria/west.json
Labels: Cross-Room Migration

#1096 Update Cross Room Runways in East Crateria
  region/crateria/east.json
  tests/asserts/keywords.py
Labels: Area:Crateria, Cross-Room Migration

#1099 Add vertical spark into room strats
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/crateria/central.json
  region/crateria/east.json
  region/lowernorfair/east.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  region/norfair/east.json
  region/tourian/main.json
  region/wreckedship/main.json
Labels: Cross-Room Migration

#1095 Croc Region runways
  region/norfair/crocomire.json
  region/norfair/roomDiagrams/crocomire_128_GrappleBeamRoom.png
  tests/asserts/keywords.py
Labels: Area:Norfair, Cross-Room Migration

#1103 Missing Vertical Spark + Heat adjust
  region/lowernorfair/east.json
  region/norfair/west.json
Labels: Area:Norfair

#1105 Crab Hole add double spring ball jump strat
  region/maridia/outer.json
Labels: Strat:Basic, Area:Maridia

#1102 Update Cross Room Runways in Wrecked Ship
  region/wreckedship/main.json
  schema/m3-region.schema.json
Labels: Area:Wrecked Ship, Cross-Room Migration

#1106 Update Cross Room Runways in Tourian Pt.1
  region/tourian/main.json
  region/tourian/roomDiagrams/main_233_SeaweedRoom.png
Labels: Area:Tourian, Cross-Room Migration

#1089 Cross room strat restructure (part 2) - G-Mode
  logicalRequirements.md
  region/brinstar/blue.json
  region/region-readme.md
  schema/m3-region.schema.json
  strats.md
  tests/asserts/keywords.py
Labels: Cross-Room Migration

#1109 Check node types
  region/crateria/east.json
  region/crateria/west.json
  tests/asserts/keywords.py
Labels: Area:Crateria, Tests, Cross-Room Migration

#1108 Kraid runway migration, and comeInSpeedballing schema addition
  region/brinstar/kraid.json
  schema/m3-region.schema.json
  strats.md
Labels: Model:Logic Element, Area:Brinstar, Cross-Room Migration

#1107 Update Cross Room Runways in Tourian Pt.2
  region/tourian/main.json
  region/tourian/roomDiagrams/main_242_TourianEscapeRoom4.png
Labels: Area:Tourian, Room Diagram Update, Cross-Room Migration

#1117 Update Cross-Room X-Ray Climbs
  helpers.json
  region/brinstar/green.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/lowernorfair/east.json
  region/lowernorfair/west.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/outer.json
  region/norfair/east.json
  region/norfair/west.json
Labels: Cross-Room Migration

#1116 Update docs to clarify that h_canNavigateHeatRooms is no longer needed
  helpers.json
  logicalRequirements.md
Labels: Model:Key Element

#1110 Update Cross-Room Runways in UN West
  region/norfair/west.json
Labels: Area:Norfair, Cross-Room Migration

#1111 Add helpers for X-mode leniency
  helpers.json
  region/brinstar/green.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/lowernorfair/east.json
  region/maridia/inner-pink.json
  region/norfair/east.json
  region/wreckedship/main.json
Labels: Logic:Helper, Area:Many

#1120 Red Brinstar runway migration
  region/brinstar/red.json
Labels: Area:Brinstar, Cross-Room Migration
