Repository vg-json-data/sm-json-data, pull requests merged in 2023-09, with the labels that each got.

#1041 G-mode: Green Hill Zone
  region/brinstar/green.json
Labels: Area:Brinstar, Tech:G-Mode

#1046 Fish Tank CrossRoomJump + SpringBall
  region/maridia/outer.json
Labels: Area:Maridia

#1047 Bomb into springball jump
  region/crateria/west.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  tech.json
Labels: Area:Maridia, Area:Crateria, Logic:Tech

#1044 Red Tower Springballjump
  region/brinstar/red.json
Labels: Area:Brinstar

#1045 East cac / Halfie Climb springball strat
  region/maridia/inner-pink.json
Labels: Area:Maridia

#1050 Upward G-Mode
  region/brinstar/kraid.json
  region/crateria/east.json
  region/maridia/inner-pink.json
  region/maridia/outer.json
  region/norfair/crocomire.json
  region/norfair/east.json
  region/wreckedship/main.json
  tech.json
Labels: Logic:Tech, Area:Many

#1048 CrabTunnel canLeaveCharged
  region/maridia/outer.json
Labels: Area:Maridia

#1052 West Ocean - Add zeb spawner as farm strat
  region/crateria/east.json
Labels: Area:Crateria

#1043 update WRITG
  region/lowernorfair/east.json
Labels: Area:Lower Norfair

#1054 croc escape comeincharged shinespark
  region/norfair/west.json
Labels: Area:Norfair

#1042 Sand halls Update
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  tech.json
Labels: Area:Maridia, Logic:Tech

#1053 doorUnlockedAtNode object
  logicalRequirements.md
  region/brinstar/blue.json
  region/crateria/central.json
  region/crateria/east.json
  region/crateria/roomDiagrams/east_7_TheMoat.png
  region/crateria/west.json
  region/lowernorfair/west.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/norfair/east.json
  schema/m3-requirements.schema.json
Labels: Model:Logic Element, Room Diagram Update, Area:Many

#1049 Croc speedway update
  region/norfair/roomDiagrams/west_120_CrocomireSpeedway.png
  region/norfair/west.json
Labels: Area:Norfair, Room Diagram Update

#1055 Add Reset Room to PCJR Mella Farm
  region/norfair/crocomire.json
Labels: Area:Norfair

#1056 Remove obstaclesToAvoid
  logicalRequirements.md
  region/brinstar/pink.json
  schema/m3-requirements.schema.json
  tests/asserts/keywords.py
Labels: Model:Logic Element

#1058 Remove All Previous Node Objects
  logicalRequirements.md
  region/brinstar/green.json
  region/brinstar/pink.json
  region/norfair/east.json
  region/norfair/west.json
  schema/m3-region.schema.json
  schema/m3-requirements.schema.json
Labels: Model:Logic Element

#1051 Bobs crateria notes
  region/crateria/central.json
  region/crateria/roomDiagrams/central_12_PitRoom.png
Labels: Area:Crateria, Room Diagram Update

#1061 Pink Brinstar: Add some G-Mode Strats
  region/brinstar/pink.json
Labels: Area:Brinstar, Tech:G-Mode

#1062 Wrap-up obstacles clean-up
  region/crateria/central.json
  region/lowernorfair/east.json
  region/region-readme.md
  schema/m3-region.schema.json
  tests/asserts/keywords.py
Labels: Model:Key Element, Tests

#1064 Update strats.md and schema
  schema/m3-region.schema.json
  strats.md
Labels: Model:Key Element

#1063 G-Mode: Pink Brinstar part 2
  region/brinstar/pink.json
Labels: Area:Brinstar, Tech:G-Mode

#1066 Add h_KraidCameraFix
  helpers.json
  region/brinstar/kraid.json
Labels: Area:Brinstar, Logic:Helper

#1065 Split (excess)shinesparkFrames into separate requirements
  logicalRequirements.md
  region/brinstar/blue.json
  region/brinstar/green.json
  region/brinstar/kraid.json
  region/brinstar/pink.json
  region/brinstar/red.json
  region/crateria/central.json
  region/crateria/east.json
  region/crateria/west.json
  region/lowernorfair/east.json
  region/lowernorfair/west.json
  region/maridia/inner-green.json
  region/maridia/inner-pink.json
  region/maridia/inner-yellow.json
  region/maridia/outer.json
  region/norfair/crocomire.json
  region/norfair/east.json
  region/norfair/west.json
  region/region-readme.md
  region/tourian/main.json
  region/wreckedship/main.json
  schema/m3-region.schema.json
  schema/m3-requirements.schema.json
Labels: breaking, PR: Ready

#1069 G-Mode Setup: West Ocean with Zebs and ice
  region/crateria/east.json
Labels: Area:Crateria, Tech:G-Mode

#1071 G-Mode: Big Pink Top Third
  region/brinstar/pink.json
Labels: Area:Brinstar, Tech:G-Mode

#1073 G-Mode: Big Pink part 2
  region/brinstar/pink.json
Labels: Area:Brinstar, Tech:G-Mode

#1074 Add missing HiJump req to Mt. Everest cross room jump
  region/maridia/outer.json
Labels: Area:Maridia

#1076 Remove G-Mode Strats That CF and Exit G-Mode
  region/crateria/west.json
Labels: Area:Crateria, Tech:G-Mode

#1075 G-Mode in Big Pink part 3
  region/brinstar/pink.json
Labels: Area:Brinstar, Tech:G-Mode

#1078 G-Mode Through the Spikeway
  region/brinstar/green.json
Labels: Area:Brinstar, Tech:G-Mode

#1077 G-Mode Pink Hopper Room
  region/brinstar/pink.json
Labels: Area:Brinstar, Tech:G-Mode
