Repository vg-json-data/sm-json-data, pull requests merged in 2023-12, with the labels that each got.

#1187 Runway migration: Big Pink
  region/brinstar/pink/Big Pink Save Room.json
  region/brinstar/pink/Big Pink.json
  strats.md
Labels: Area:Brinstar, Cross-Room Migration

#1192 Runway migration for rest of Pink Brinstar
  region/brinstar/pink/Dachora Energy Refill.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Hopper Energy Tank Room.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/pink/Spore Spawn Farming Room.json
  region/brinstar/pink/Spore Spawn Super Room.json
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/brinstar/roomDiagrams/pink_WaterwayEnergyTankRoom_65.png
Labels: Area:Brinstar, Cross-Room Migration

#1188 Schema changes to represent cross-room spark position
  region/crateria/west/Gauntlet Entrance.json
  region/maridia/outer/Mt. Everest.json
  schema/m3-room.schema.json
  strats.md
Labels: Model:Logic Element

#1194 More Ice vertical door lock skips
  region/brinstar/green/Spore Spawn Kihunter Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/Crateria Kihunter Room.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Area:Crateria, Area:Wrecked Ship, Area:Brinstar

#1197 New tech canSkipDoorLock
  strats.md
  tech.json
Labels: Logic:Tech

#1196 Norfair ice vertical door lock skips
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/west/Crocomire Speedway.json
Labels: Area:Norfair

#1195 Maridia ice vertical door lock skips (+ one more WS)
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/wreckedship/main/Attic.json
Labels: Area:Maridia, Area:Wrecked Ship

#1202 Lower Norfair Very Deep Stuck strats
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/west/Screw Attack Room.json
Labels: Area:Lower Norfair

#1206 Bug Sand Hole
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/maridia/roomDiagrams/inner-yellow_BugSandHole_211.png
Labels: Area:Maridia, Room Diagram Update, Cross-Room Migration

#1208 Migrate remaining bypassStrats and clean up schema
  region/crateria/east/West Ocean.json
  region/maridia/inner-pink/Colosseum.json
  region/region-readme.md
  schema/m3-room.schema.json
Labels: Area:Maridia, Area:Crateria

#1186 Runway Migration: Finishing off Outer Maridia
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Glass Tunnel Save Room.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Maridia Map Room.json
  region/maridia/outer/West (Glass Tube) Tunnel.json
Labels: Area:Maridia, Cross-Room Migration

#1207 Rest of Very Deep Stuck strats
  logicalRequirements.md
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Rinka Shaft.json
  region/wreckedship/main/Electric Death Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  schema/m3-requirements.schema.json
Labels: Area:Wrecked Ship, Area:Tourian

#1215 G-Mode Migration: Crateria Central Pt. 1
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Crateria Tube.json
  region/crateria/central/Final Missile Bombway.json
  region/crateria/central/Flyway.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
  region/crateria/central/Pre-Map Flyway.json
Labels: Area:Crateria, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1214 Fix zebbo farms in Boyon Gate Hall
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/maridia/outer/Boyon Gate Hall.json
Labels: Area:Maridia, Area:Brinstar

#1219 Everest strats
  region/maridia/outer/Mt. Everest.json
  region/maridia/roomDiagrams/outer_MtEverest_174.png
Labels: Area:Maridia, Room Diagram Update

#1217 G-Mode Migration: Crateria Central Pt. 2
  region/crateria/central/Blue Brinstar Elevator Room.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
Labels: Area:Crateria, Tech:G-Mode, Cross-Room Migration

#1227 Add West Ocean IBJ
  region/crateria/east/West Ocean.json
Labels: Area:Crateria

#1229 WS Main Shaft
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  region/wreckedship/roomDiagrams/main_WreckedShipMainShaft_155.png
Labels: Area:Wrecked Ship, Room Diagram Update

#1230 Update Beta Power Bomb Room
  region/brinstar/red/Beta Power Bomb Room.json
Labels: Area:Brinstar

#1232 Update Mission Impossible
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
Labels: Area:Brinstar

#1226 Update Ice Beam Gate Room
  region/norfair/roomDiagrams/west_IceBeamGateRoom_106.png
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Norfair, Room Diagram Update

#1234 Runway Migration - Remove Remaining canLeaveCharged
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Main Hall.json
  region/lowernorfair/east/Metal Pirates Room.json
Labels: Area:Lower Norfair, Cross-Room Migration

#1231 Update Kraid Fight
  region/brinstar/kraid/Kraid Room.json
Labels: Area:Brinstar

#1236 East Sand Hole - Right item with bomb escape
  region/maridia/inner-pink/East Sand Hole.json
Labels: Area:Maridia

#1233 Runway Migration - Stragglers
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/pink/Spore Spawn Farming Room.json
  region/crateria/central/Final Missile Bombway.json
  region/maridia/inner-yellow/Watering Hole.json
  region/maridia/outer/West (Glass Tube) Tunnel.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/west/Crocomire Speedway.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Area:Many, Cross-Room Migration

#1224 Misc strats
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/red/Caterpillar Room.json
  region/crateria/east/West Ocean.json
  region/crateria/roomDiagrams/east_WestOcean_32.png
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Double Chamber.json
  region/norfair/roomDiagrams/east_DoubleChamber_104.png
Labels: Room Diagram Update, Area:Many

#1218 Update Climb Room Diagram
  region/crateria/central/Climb.json
  region/crateria/roomDiagrams/central_Climb_11.png
Labels: Area:Crateria, Room Diagram Update

#1238 Add req to Crab Hole Suitless HiJump
  region/maridia/outer/Crab Hole.json
Labels: Area:Maridia

#1239 Green brin main shaft Spring Ball jumps
  region/brinstar/green/Green Brinstar Main Shaft.json
Labels: Area:Brinstar

#1240 G-Mode Migration in West Crateria
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
  region/crateria/west/Green Brinstar Elevator Room.json
  region/crateria/west/Green Pirates Shaft.json
  region/crateria/west/Lower Mushrooms.json
  region/crateria/west/Statues Hallway.json
  region/crateria/west/Statues Room.json
  region/crateria/west/Terminator Room.json
Labels: Area:Crateria, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1243 Ice Beam Gate Room Sova Boost
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Norfair

#1244 Rework Grapple Beam Room
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/roomDiagrams/crocomire_GrappleBeamRoom_128.png
Labels: Area:Norfair

#1241 Some of the missing G-Mode strats in Crateria West
  region/crateria/west/Gauntlet Entrance.json
  region/crateria/west/Green Brinstar Elevator Room.json
  region/crateria/west/Statues Room.json
Labels: Area:Crateria, Tech:G-Mode, Cross-Room Migration

#1242 Entrance/exit condition schemas for jumpways
  logicalRequirements.md
  region/region-readme.md
  schema/m3-room.schema.json
  strats.md
Labels: Model:Logic Element, Cross-Room Migration

#1245 Add R-Mode and G-Mode strats to Gauntlet E-Tank Room
  region/crateria/roomDiagrams/west_GauntletEnergyTankRoom_31.png
  region/crateria/west/Gauntlet Energy Tank Room.json
Labels: Area:Crateria, Room Diagram Update, Tech:G-Mode

#1251 G-Mode Migration - East Crateria Run Scripts
  region/crateria/east/Bowling Alley Path.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/East Ocean.json
  region/crateria/east/Forgotten Highway Elbow.json
  region/crateria/east/Forgotten Highway Elevator.json
  region/crateria/east/Forgotten Highway Kago Room.json
  region/crateria/east/Homing Geemer Room.json
  region/crateria/east/Red Brinstar Elevator Room.json
  region/crateria/east/The Moat.json
  region/crateria/east/West Ocean.json
Labels: Area:Crateria, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1248 Add G-Mode to Green Pirate Shaft
  helpers.json
  region/crateria/west/Green Pirates Shaft.json
Labels: Area:Crateria, Tech:G-Mode

#1255 Misc Strats
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/roomDiagrams/green_GreenHillZone_54.png
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
Labels: Strat:Basic, Area:Many

#1256 Add Plasma Spark Fake Kassiuz Junction
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/roomDiagrams/inner-yellow_PlasmaSparkRoom_197.png
Labels: Strat:High-Level, Area:Maridia

#1253 West Ocean - Use Bridge to Bypass Door Locks
  connection/crateria/east.json
  connection/inter.json
  region/crateria/east/West Ocean.json
  region/crateria/roomDiagrams/east_WestOcean_32.png
  tests/asserts/keywords.py
Labels: Strat:High-Level, Area:Crateria, Tests

#1247 Refine leaveShinecharged in Spore Spawn Kihunter Room
  region/brinstar/green/Spore Spawn Kihunter Room.json
Labels: Area:Brinstar

#1257 G-Mode Migration: Finishing off Crateria
  region/crateria/east/Forgotten Highway Elevator.json
  region/crateria/east/Red Brinstar Elevator Room.json
  region/crateria/east/The Moat.json
  region/crateria/east/West Ocean.json
Labels: Area:Crateria, Tech:G-Mode, Cross-Room Migration

#1258 G-Mode Migration: Wrecked Ship Run Scripts + Minor Edits
  region/wreckedship/main/Attic.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Electric Death Room.json
  region/wreckedship/main/Gravity Suit Room.json
  region/wreckedship/main/Phantoon's Room.json
  region/wreckedship/main/Spiky Death Room.json
  region/wreckedship/main/Sponge Bath.json
  region/wreckedship/main/Wrecked Ship East Missile Room.json
  region/wreckedship/main/Wrecked Ship East Super Room.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  region/wreckedship/main/Wrecked Ship Entrance.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  region/wreckedship/main/Wrecked Ship Map Room.json
  region/wreckedship/main/Wrecked Ship Save Room.json
  region/wreckedship/main/Wrecked Ship West Super Room.json
Labels: Area:Wrecked Ship, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1259 G-Mode Migration: Wrecked Ship - Easy Strats
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Area:Wrecked Ship, Tech:G-Mode, Cross-Room Migration

#1260 Rename 4 Rooms
  connection/brinstar/green.json
  connection/brinstar/intra.json
  connection/inter.json
  connection/maridia/inner.json
  connection/maridia/outer.json
  connection/wreckedship/main.json
  region/brinstar/green/Noob Bridge.json
  region/brinstar/roomDiagrams/green_NoobBridge_55.png
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/outer/West Glass Tube Tunnel.json
  region/maridia/roomDiagrams.json
  region/maridia/roomDiagrams/inner-yellow_KassiuzRoom_217.png
  region/wreckedship/main/Assembly Line.json
  region/wreckedship/main/Attic.json
  region/wreckedship/roomDiagrams/main_AssemblyLine_168.png
Labels: Cleanup

#1262 G-Mode Migration: Sand Rooms Run Scripts + Small Edits
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-pink/Below Botwoon Energy Tank.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon Quicksand Room.json
  region/maridia/inner-pink/East Aqueduct Quicksand Room.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/West Aqueduct Quicksand Room.json
  region/maridia/inner-pink/West Sand Hole.json
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/maridia/inner-yellow/Butterfly Room.json
  region/maridia/inner-yellow/Plasma Beach Quicksand Room.json
  region/maridia/roomDiagrams/inner-green_EastSandHall_210.png
  region/maridia/roomDiagrams/inner-green_WestSandHall_199.png
Labels: Area:Maridia, Room Diagram Update, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1264 G-Mode Migration: Sand Rooms, Some of the easiest edits
  region/maridia/inner-pink/Botwoon Quicksand Room.json
  region/maridia/inner-yellow/Bug Sand Hole.json
Labels: Area:Maridia, Tech:G-Mode, Cross-Room Migration

#1263 Consolidate West Ocean notables
  region/crateria/east/West Ocean.json
Labels: Cleanup

#1274 Add test for comeInShinecharged when using leaveShinecharged 'auto'
  tests/asserts/keywords.py
Labels: Tests

#1272 Green Brin Main Shaft bottom ice clip
  region/brinstar/green/Green Brinstar Main Shaft.json
Labels: Area:Brinstar

#1271 Tighten Reverse Croc Speedway shinecharge frames
  region/norfair/west/Crocomire Speedway.json
Labels: Area:Norfair

#1268 Add shortcharge strats in Plasma Spark Room
  region/maridia/inner-yellow/Plasma Spark Room.json
Labels: Area:Maridia

#1269 Red Tower top: easier shinespark strats
  region/brinstar/red/Red Tower.json
Labels: Area:Brinstar

#1270 More Mt. Everest shinecharges
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia

#1275 G-Mode Migration: Aqueduct
  region/maridia/inner-pink/Aqueduct.json
Labels: Area:Maridia, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1283 G-Mode Migration: Tourian - Run Scripts
  region/tourian/main/Big Boy Room.json
  region/tourian/main/Blue Hopper Room.json
  region/tourian/main/Dust Torizo Room.json
  region/tourian/main/Lower Tourian Save Room.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Metroid Room 4.json
  region/tourian/main/Mother Brain Room.json
  region/tourian/main/Rinka Shaft.json
  region/tourian/main/Seaweed Room.json
  region/tourian/main/Tourian Escape Room 1.json
  region/tourian/main/Tourian Escape Room 2.json
  region/tourian/main/Tourian Escape Room 3.json
  region/tourian/main/Tourian Escape Room 4.json
  region/tourian/main/Tourian Eye Door Room.json
  region/tourian/main/Tourian First Room.json
  region/tourian/main/Tourian Recharge Room.json
  region/tourian/main/Upper Tourian Save Room.json
Labels: Area:Tourian, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1282 G-Mode Aqueduct Cleanup
  region/maridia/inner-pink/Aqueduct.json
Labels: Area:Maridia, Tech:G-Mode

#1273 Parlor shinecharges (and a few small Crateria rooms)
  region/crateria/central/Blue Brinstar Elevator Room.json
  region/crateria/central/Bomb Torizo Room.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/west/Green Brinstar Elevator Room.json
Labels: Area:Crateria

#1278 Bubble Mountain Spring Ball Jumps
  region/norfair/east/Bubble Mountain.json
Labels: Area:Norfair

#1281 Refine strats in Spiky Acid Platforms Tunnel
  region/norfair/east/Spiky Platforms Tunnel.json
Labels: Area:Norfair

#1276 Add Many Strats to Pink Hopper Room
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/roomDiagrams/pink_PinkBrinstarHopperRoom_61.png
Labels: Area:Brinstar

#1287 G-Mode Migration: Green Maridia
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/Shaktool Room.json
  region/maridia/inner-green/Spring Ball Room.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
Labels: Area:Maridia, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1288 G-Mode Migration: Run Script for Yellow Maridia
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/maridia/inner-yellow/Forgotten Highway Save Room.json
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/inner-yellow/Plasma Beach Quicksand Room.json
  region/maridia/inner-yellow/Plasma Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/Plasma Tutorial Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/inner-yellow/Thread The Needle Room.json
  region/maridia/inner-yellow/Watering Hole.json
Labels: Area:Maridia, Tech:G-Mode, Cross-Room Migration, Run Scripts
