Repository vg-json-data/sm-json-data, pull requests merged in 2024-06, with the labels that each got.

#1531 Redo Magdollite Tunnel
  region/norfair/east/Magdollite Tunnel.json
Labels: Area:Norfair

#1526 Another Pass at Ice Clips, Add canHighPixelCeilingClip for Preserving Flash Suits
  helpers.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Spore Spawn Kihunter Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
  region/brinstar/pink/Big Pink.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/West Ocean.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Bubble Mountain.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  tech.json
Labels: Strat:High-Level, Tech:Flash Suit

#1533 Add and use canPowerBombMidIBJ
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/red/Red Tower.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/west/Screw Attack Room.json
  tech.json
Labels: Strat:Basic, Logic:Tech, Area:Many

#1529 More Logic Updates
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
Labels: Area:Lower Norfair, Area:Many, Cleanup

#1534 Various logic changes
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/The Moat.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/West Sand Hole.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/west/Crocomire Escape.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 3.json
  tech.json
Labels: Area:Many

#1539 Add flashSuitChecked to transitioning with stored fall speed
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/red/Red Tower.json
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Tube.json
  region/crateria/central/Landing Site.json
  region/crateria/east/Bowling Alley Path.json
  region/crateria/east/Homing Geemer Room.json
  region/crateria/west/Green Pirates Shaft.json
  region/crateria/west/Lower Mushrooms.json
  region/crateria/west/Terminator Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
  region/maridia/inner-yellow/Plasma Tutorial Room.json
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/West Glass Tube Tunnel.json
  region/norfair/east/Frog Speedway.json
  region/norfair/east/Lower Norfair Elevator.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/west/Business Center.json
  region/norfair/west/Ice Beam Gate Room.json
  region/wreckedship/main/Gravity Suit Room.json
  region/wreckedship/main/Wrecked Ship Entrance.json
Labels: Tech:Flash Suit

#1541 Add leniency to reverse Lava Dive
  region/norfair/east/Lava Dive Room.json
Labels: Area:Norfair

#1543 PCJR Quick Fix: Return right if speed blocks are broken, morphless
  region/norfair/crocomire/Post Crocomire Jump Room.json
Labels: Area:Norfair

#1546 Convert some comeInShinecharging to comeInGettingBlueSpeed
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/brinstar/red/Alpha Power Bomb Room.json
  region/brinstar/red/Below Spazer.json
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Pillar Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/west/Crocomire Speedway.json
  region/tourian/main/Blue Hopper Room.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Tourian Escape Room 3.json
  region/tourian/main/Tourian Escape Room 4.json
  region/wreckedship/main/Bowling Alley.json
Labels: Cleanup

#1544 Verify flash suit compatibility in Green Brinstar - Part 2
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/green/Green Brinstar Fireflea Room.json
  region/brinstar/green/Green Brinstar Main Shaft Save Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Brinstar Missile Refill.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/green/Noob Bridge.json
  region/brinstar/green/Spore Spawn Kihunter Room.json
  region/brinstar/green/Spore Spawn Room.json
Labels: Area:Brinstar, Tech:Flash Suit

#1548 Add G-Mode Return Strats - Horizontal SpawnAt, Doorways
  region/brinstar/pink/Big Pink.json
  region/crateria/central/Crateria Tube.json
  region/lowernorfair/east/Amphitheatre.json
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Glass Tunnel.json
  region/norfair/west/Ice Beam Gate Room.json
  region/tourian/main/Big Boy Room.json
  region/tourian/main/Mother Brain Room.json
  region/tourian/main/Seaweed Room.json
Labels: Tech:G-Mode

#1551 Remove unnecessary nodes in PCJR, Red Tower
  region/brinstar/red/Red Tower.json
  region/brinstar/roomDiagrams/red_RedTower_66.png
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/roomDiagrams/crocomire_PostCrocomireJumpRoom_127.png
Labels: Area:Norfair, Area:Brinstar, Room Diagram Update

#1554 Add and refine more horizontal Spawn Ats
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/roomDiagrams/blue_BlueBrinstarBoulderRoom_42.png
  region/crateria/east/West Ocean.json
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/roomDiagrams/east_FastPillarsSetupRoom_133.png
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/norfair/west/Ice Beam Gate Room.json
Labels: Room Diagram Update, Area:Many

#1549 Convert some SpeedBooster to getBlueSpeed, canShineCharge
  helpers.json
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Landing Site.json
  region/crateria/east/West Ocean.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Metal Pirates Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/norfair/crocomire/Grapple Tutorial Room 2.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Frog Speedway.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Ice Beam Gate Room.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Tourian Escape Room 3.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Bowling Alley.json
Labels: Area:Many

#1555 G-Mode Regain Mobility Strats in Norfair and LN
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Farming Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Plowerhouse Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/west/Fast Ripper Room.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Norfair Reserve Tank Room.json
  region/norfair/east/Single Chamber.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Ice Beam Snake Room.json
Labels: Area:Norfair, Area:Lower Norfair, Tech:G-Mode

#1552 Add Spawn At Node in Screw Attack Room
  region/lowernorfair/roomDiagrams/west_ScrewAttackRoom_151.png
  region/lowernorfair/west/Screw Attack Room.json
Labels: Area:Lower Norfair, Room Diagram Update

#1521 Reserve Double Damage Boost
  logicalRequirements.md
  region/crateria/central/Parlor and Alcatraz.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/east/Cathedral Entrance.json
  tech.json
  tests/asserts/keywords.py
Labels: Strat:High-Level, Area:Maridia, Area:Norfair, Model:Logic Element, Logic:Tech

#1553 Update WRitG + Muskateer dodge
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/lowernorfair/roomDiagrams/east_TheWorstRoomInTheGame_135.png
Labels: Area:Lower Norfair, Room Diagram Update

#1558 Blue Hopper Room add left spawn at
  region/tourian/main/Blue Hopper Room.json
  region/tourian/roomDiagrams/main_BlueHopperRoom_230.png
Labels: Area:Tourian, Room Diagram Update

#1563 Add comeInWithBlueSpringBallBounce in Final Missile Bombway
  region/crateria/central/Final Missile Bombway.json
Labels: Area:Crateria

#1557 Mickey Mouse Room add left spawn at
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/roomDiagrams/east_MickeyMouseRoom_144.png
Labels: Area:Lower Norfair, Room Diagram Update

#1560 Blue Brinstar remote runways
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/blue/Construction Zone.json
  region/brinstar/blue/Morph Ball Room.json
Labels: Area:Brinstar

#1564 More ways to break Climb bomb blocks
  region/crateria/central/Climb.json
Labels: Area:Crateria

#1559 Refine Moat shinespark strats and item collection
  logicalRequirements.md
  region/crateria/east/The Moat.json
  schema/m3-requirements.schema.json
  schema/m3-room.schema.json
  strats.md
Labels: Area:Crateria, Model:Logic Element

#1568 Add canTrickyJump reqs to Moat speedy jump and airball
  region/crateria/east/The Moat.json
Labels: Area:Crateria

#1538 Add flashSuitChecked to strats with tech that prevent it
  helpers.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/brinstar/green/Green Brinstar Fireflea Room.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/kraid/Warehouse Entrance.json
  region/brinstar/kraid/Warehouse Zeela Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Crateria Tube.json
  region/crateria/central/Final Missile Bombway.json
  region/crateria/central/Flyway.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
  region/crateria/central/Pre-Map Flyway.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/East Ocean.json
  region/crateria/east/Forgotten Highway Elbow.json
  region/crateria/east/Forgotten Highway Kago Room.json
  region/crateria/east/Homing Geemer Room.json
  region/crateria/east/The Moat.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Green Pirates Shaft.json
  region/crateria/west/Statues Hallway.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Wasteland.json
  region/lowernorfair/west/Acid Statue Room.json
  region/lowernorfair/west/Fast Ripper Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-green/Spring Ball Room.json
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/West Sand Hole.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Main Street.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/norfair/west/Ice Beam Gate Room.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  tech.json
Labels: Tech:Flash Suit

#1556 Morph Ball Room add left spawn at
  region/brinstar/blue/Morph Ball Room.json
  region/brinstar/roomDiagrams/blue_MorphBallRoom_38.png
Labels: Area:Brinstar, Room Diagram Update

#1562 Green Brinstar remote runways and temp blue
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/green/Green Brinstar Fireflea Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/green/Noob Bridge.json
  region/brinstar/green/Spore Spawn Kihunter Room.json
Labels: Area:Brinstar
