Repository vg-json-data/sm-json-data, pull requests merged in 2024-08, with the labels that each got.

#1596 Shaktool Room restructure
  helpers.json
  region/maridia/inner-green/Shaktool Room.json
  region/maridia/roomDiagrams/inner-green_ShaktoolRoom_222.png
Labels: Area:Maridia, Room Diagram Update

#1587 Crateria Central: Use Flash Suit
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Landing Site.json
  tech.json
Labels: Area:Crateria, Tech:Flash Suit

#1590 Yellow Maridia remote runways
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Plasma Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/Plasma Tutorial Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/inner-yellow/Thread The Needle Room.json
  region/maridia/inner-yellow/Watering Hole.json
Labels: Area:Maridia

#1597 Acid Snakes Tunnel carry temp blue
  region/norfair/east/Acid Snakes Tunnel.json
  tech.json
Labels: Area:Norfair

#1594 Wrecked Ship: Use Flash Suit
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Sponge Bath.json
  region/wreckedship/main/Wrecked Ship East Super Room.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
Labels: Area:Wrecked Ship, Tech:Flash Suit

#1599 Add script to populate strat IDs
  scripts/populate_strat_ids.py
Labels: Model:Key Element

#1602 Add test to ensure unique strat IDs
  tests/asserts/keywords.py
Labels: Tests

#1607 Fix East Sand Hall blue spring ball bounce notables
  region/maridia/inner-green/East Sand Hall.json
Labels: Area:Maridia

#1610 Bat Cave temporary blue
  region/norfair/east/Bat Cave.json
Labels: Area:Norfair

#1612 Yellow Maridia: Use Flash Suit
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/inner-yellow/Plasma Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/inner-yellow/Watering Hole.json
Labels: Area:Maridia, Tech:Flash Suit

#1611 Outer Maridia: Use Flash Suit
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Mt. Everest.json
  region/maridia/outer/Red Fish Room.json
Labels: Area:Maridia, Tech:Flash Suit

#1616 Bowling Alley temp blue break bomb blocks
  region/wreckedship/main/Bowling Alley.json
Labels: Area:Wrecked Ship

#1615 Misc Fixes: Sponge Bath, WS E-Tank, Green Pirate, Mama Turtle
  region/crateria/west/Green Pirates Shaft.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/outer/Mama Turtle Room.json
  region/wreckedship/main/Sponge Bath.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
Labels: Area:Many

#1618 Add note to LandingSite - BigJumpMidairShinespark
  region/crateria/central/Landing Site.json
Labels: Area:Crateria

#1613 Bubble mountain temporary blue
  region/norfair/east/Bubble Mountain.json
Labels: Area:Norfair
