Repository vg-json-data/sm-json-data, pull requests merged in 2024-03, with the labels that each got.

#1398 Wave gate room update
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/roomDiagrams/pink_PinkBrinstarHopperRoom_61.png
Labels: Area:Brinstar, Room Diagram Update

#1400 Refine Bowling Alley X-Ray Climb
  region/wreckedship/main/Bowling Alley.json
Labels: Area:Wrecked Ship

#1401 Various
  region/brinstar/pink/Big Pink.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/norfair/west/Business Center.json
Labels: Area:Many

#1403 Frozen Enemy Runways in Norfair West
  region/norfair/west/Business Center.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Ice Beam Snake Room.json
Labels: Area:Norfair

#1404 Tricky Heated Power Bombs with Reserves Only
  region/lowernorfair/east/Pillar Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
Labels: Area:Lower Norfair

#1407 Pink Maridia Cross room jumps
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/roomDiagrams/inner-pink_Aqueduct_183.png
Labels: Area:Maridia, Room Diagram Update

#1412 More Spooky Temporary Blue
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Area:Wrecked Ship

#1409 Cross room jumps into Water review - The rest of Maridia
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
  region/maridia/inner-yellow/Butterfly Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Mt. Everest.json
  region/wreckedship/main/Sponge Bath.json
Labels: Area:Maridia, Area:Wrecked Ship

#1414 Add Missing Bombs Requirements
  region/brinstar/red/Red Tower.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/west/Acid Statue Room.json
  region/maridia/inner-green/Spring Ball Room.json
  region/maridia/inner-pink/Colosseum.json
Labels: Area:Many

#1416 Add missing cross-room jump up Main Street
  region/maridia/outer/Main Street.json
Labels: Area:Maridia

#1417 X-Ray climbs in Maridia Elevator and Kassiuz Room
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
Labels: Area:Maridia

#1418 Screw Attack Room spring ball jump
  region/lowernorfair/west/Screw Attack Room.json
Labels: Area:Lower Norfair

#1413 Spiky Acid Snakes Tunnel
  region/norfair/east/Spiky Acid Snakes Tunnel.json
Labels: Area:Norfair

#1415 Lava Dive Rework
  helpers.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/roomDiagrams/east_LavaDiveRoom_115.png
Labels: Area:Norfair, Logic:Helper, Room Diagram Update

#1420 Upper Norfair Farming Room Gate Glitch
  region/norfair/east/Upper Norfair Farming Room.json
Labels: Area:Norfair

#1421 Add comesThroughToilet strat property
  region/maridia/outer/Mt. Everest.json
  schema/m3-room.schema.json
  strats.md
  tests/asserts/keywords.py
Labels: Area:Maridia, Model:Logic Element

#1424 Plasma spark bomb boost
  region/maridia/inner-yellow/Plasma Spark Room.json
Labels: Area:Maridia

#1423 Add Artificial Morph Helpers - A Step Towards Reducing Errors
  helpers.json
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/blue/Morph Ball Room.json
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Final Missile Bombway.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Green Pirates Shaft.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/Shaktool Room.json
  region/maridia/inner-green/Spring Ball Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Mt. Everest.json
  region/maridia/outer/Red Fish Room.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Tourian Escape Room 3.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Tech:G-Mode, Area:Many, Cleanup

#1425 Use Artificial Morph Helpers from G-Mode Junctions
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/pink/Big Pink.json
  region/crateria/central/Landing Site.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Green Pirates Shaft.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Mt. Everest.json
  schema/m3-room.schema.json
Labels: Tech:G-Mode, Area:Many, Cleanup

#1405 Frozen Enemy Runways in Lower Norfair
  region/lowernorfair/east/Lower Norfair Farming Room.json
  region/lowernorfair/east/Plowerhouse Room.json
Labels: Area:Lower Norfair

#1427 Replace Items with Helpers: Bombs, SpringBall
  region/brinstar/blue/Morph Ball Room.json
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/kraid/Warehouse Entrance.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/crateria/central/Landing Site.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/lowernorfair/east/Wasteland.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/Spring Ball Room.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/outer/Main Street.json
  region/norfair/west/Crumble Shaft.json
  region/tourian/main/Mother Brain Room.json
  tech.json
Labels: Area:Many, Cleanup

#1428 Refine some Three Musketeers strats
  region/lowernorfair/east/Three Musketeers' Room.json
Labels: Area:Lower Norfair

#1430 G-Mode Setup and Immobile: Red Brinstar
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/Hellway.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
Labels: Area:Brinstar, Tech:G-Mode

#1431 Refine top of Mickey Mouse
  region/lowernorfair/east/Mickey Mouse Room.json
Labels: Area:Lower Norfair

#1429 Turbo tube Related Strat Changes
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-pink/Botwoon Quicksand Room.json
  region/maridia/outer/Fish Tank.json
  region/tourian/main/Blue Hopper Room.json
Labels: Area:Maridia, Area:Tourian

#1432 Add leaveNormally exit condition to downward door & sand transitions
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/Forgotten Highway Elbow.json
  region/crateria/east/Forgotten Highway Kago Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Botwoon Quicksand Room.json
  region/maridia/inner-pink/East Aqueduct Quicksand Room.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/West Aqueduct Quicksand Room.json
  region/maridia/inner-pink/West Sand Hole.json
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/maridia/inner-yellow/Plasma Beach Quicksand Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/maridia/outer/Red Fish Room.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Red Pirate Shaft.json
  region/norfair/west/Crocomire Speedway.json
  region/tourian/main/Metroid Room 4.json
  region/tourian/main/Tourian Escape Room 1.json
  region/wreckedship/main/Attic.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  schema/m3-room.schema.json
  strats.md
Labels: Model:Key Element, Area:Many

#1433 G-Mode in Alpha Power Bomb Room
  region/brinstar/red/Alpha Power Bomb Room.json
Labels: Area:Brinstar, Tech:G-Mode

#1434 G-Mode Uses in Red Brinstar: Beta PB, Caterpillar, X-Ray
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/X-Ray Scope Room.json
Labels: Area:Brinstar, Tech:G-Mode

#1439 Add canJumpIntoRespawningBlock
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/maridia/inner-green/East Pants Room.json
  region/norfair/east/Bat Cave.json
  tech.json
Labels: Logic:Tech

#1436 Add canBeExtremelyPatient, canLongCeilingBombJump, G-Mode in Red Firefleas
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/crateria/central/Climb.json
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/outer/Main Street.json
  region/tourian/main/Metroid Room 1.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  tech.json
Labels: Strat:High-Level, Tech:G-Mode

#1441 Some grapple teleports from Halfie Climb
  region/brinstar/blue/Construction Zone.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Crateria Tube.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/The Moat.json
  region/crateria/west/Green Pirates Shaft.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
  region/maridia/inner-pink/Halfie Climb Room.json
  tech.json
Labels: Logic:Tech

#1442 Add G-Mode Strats in Red Tower
  region/brinstar/red/Red Tower.json
Labels: Area:Brinstar, Tech:G-Mode

#1440 Remaining Moondances
  helpers.json
  region/brinstar/kraid/Warehouse Zeela Room.json
  region/brinstar/pink/Spore Spawn Super Room.json
  region/crateria/east/Bowling Alley Path.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-yellow/Plasma Tutorial Room.json
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/West Glass Tube Tunnel.json
  region/maridia/roomDiagrams/outer_GlassTunnel_170.png
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Frog Speedway.json
  region/norfair/east/Lower Norfair Elevator.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/roomDiagrams/east_BubbleMountain_97.png
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Ice Beam Gate Room.json
  region/tourian/main/Tourian Escape Room 1.json
  region/tourian/main/Tourian Escape Room 3.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Wrecked Ship Entrance.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  region/wreckedship/roomDiagrams/main_BowlingAlley_161.png
Labels: Room Diagram Update, Area:Many

#1443 More Halfie Climb top-right grapple teleports
  helpers.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Spore Spawn Super Room.json
  region/brinstar/red/Below Spazer.json
  region/brinstar/red/Red Tower.json
  region/lowernorfair/east/Lower Norfair Escape Power Bomb Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/Wasteland.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Draygon Save Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/maridia/inner-yellow/Butterfly Room.json
  region/maridia/inner-yellow/Plasma Tutorial Room.json
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/West Glass Tube Tunnel.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Frog Savestation.json
  region/norfair/east/Lower Norfair Elevator.json
  region/norfair/east/Nutella Refill.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/tourian/main/Mother Brain Room.json
  region/tourian/main/Tourian Escape Room 4.json
  region/wreckedship/main/Gravity Suit Room.json
  tech.json
Labels: Area:Maridia

#1444 Add Strats in Crab Hole
  region/maridia/outer/Crab Hole.json
Labels: Area:Maridia

#1445 Add 'Carry Grapple Teleport' strats
  region/brinstar/blue/Construction Zone.json
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/red/Red Tower.json
  region/crateria/central/Crateria Tube.json
  region/crateria/west/Green Pirates Shaft.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
  region/maridia/inner-pink/Draygon Save Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/maridia/inner-yellow/Butterfly Room.json
  region/maridia/inner-yellow/Plasma Tutorial Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/West Glass Tube Tunnel.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Frog Savestation.json
  region/norfair/east/Lower Norfair Elevator.json
  region/norfair/east/Nutella Refill.json
  region/wreckedship/main/Gravity Suit Room.json
Labels: Area:Many

#1446 Refine WS ETank grapple fling
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
Labels: Area:Wrecked Ship

#1447 Remove startingDownTiles from Purple Farming Room
  region/norfair/east/Purple Farming Room.json
Labels: Area:Norfair
