Repository vg-json-data/sm-json-data, pull requests merged in 2024-04, with the labels that each got.

#1448 Max lava dive
  region/norfair/east/Lava Dive Room.json
  tests/asserts/keywords.py
Labels: Area:Norfair

#1449 G-Mode in Kraid's Brinstar - A Few Missing Strats
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/kraid/Kraid Eye Door Room.json
  region/brinstar/kraid/Kraid Room.json
Labels: Area:Brinstar, Tech:G-Mode

#1451 Add G-Mode in Business Center
  region/norfair/west/Business Center.json
Labels: Area:Norfair, Tech:G-Mode

#1450 Halfie Climb top left grapple teleports
  region/brinstar/blue/Construction Zone.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Fireflea Room.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/kraid/Kraid Eye Door Room.json
  region/brinstar/kraid/Kraid Room.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/red/Below Spazer.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/The Moat.json
  region/crateria/west/Green Pirates Shaft.json
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Escape Power Bomb Room.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/east/Single Chamber.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/tourian/main/Seaweed Room.json
  region/tourian/main/Tourian Escape Room 3.json
  region/wreckedship/main/Electric Death Room.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
Labels: Area:Many

#1453 Pillars Setup Missing IBJ requirement
  region/lowernorfair/east/Fast Pillars Setup Room.json
Labels: Area:Lower Norfair

#1452 Halfie Climb bottom left door
  region/brinstar/blue/Construction Zone.json
  region/brinstar/blue/Morph Ball Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/pink/Dachora Room.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/west/Terminator Room.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Main Hall.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/west/Crocomire Speedway.json
Labels: Area:Many

#1455 A Few G-Mode Setups in Unheated Norfair
  region/norfair/east/Frog Speedway.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Norfair, Tech:G-Mode

#1456 Colosseum right side and canUnmorphGrappleHang
  region/brinstar/pink/Dachora Room.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-yellow/Thread The Needle Room.json
  region/norfair/east/Frog Speedway.json
  region/wreckedship/main/Attic.json
  tech.json
Labels: Area:Many

#1457 Draygon's Room grapple teleports
  region/brinstar/blue/Construction Zone.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/kraid/Kraid Eye Door Room.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/red/Below Spazer.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/The Moat.json
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/wreckedship/main/Electric Death Room.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
Labels: Area:Many

#1459 Revisit Crystal Flash Moondances
  region/norfair/east/Frog Speedway.json
  region/norfair/west/Crocomire Speedway.json
  region/wreckedship/main/Bowling Alley.json
Labels: Area:Norfair, Area:Wrecked Ship

#1461 Colosseum bomb jump water escape by Spiffy
  region/maridia/inner-pink/Colosseum.json
Labels: Strat:High-Level, Area:Maridia

#1458 Metroid Rooms
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Metroid Room 4.json
Labels: Area:Tourian

#1463 Main street + plasma spark xray climb
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/outer/Main Street.json
Labels: Area:Maridia

#1464 Blue Hopper left-to-right dodging and Screw Attack
  region/tourian/main/Blue Hopper Room.json
Labels: Area:Tourian

#1465 Warehouse Zeela ice moonfall screw attack
  region/brinstar/kraid/Warehouse Zeela Room.json
Labels: Area:Brinstar

#1466 Spring fling bomb water escapes
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-pink/Colosseum.json
Labels: Area:Maridia

#1468 More G-Mode Setups in Unheated Norfair
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/crocomire/Post Crocomire Missile Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Red Pirate Shaft.json
Labels: Area:Norfair, Tech:G-Mode

#1467 Ice beam gate room temporary blue
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Norfair

#1469 Crateria temporary blue strats
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Crateria Tube.json
  region/crateria/central/Final Missile Bombway.json
  region/crateria/central/Flyway.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
  region/crateria/central/Pre-Map Flyway.json
  region/crateria/east/Bowling Alley Path.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/East Ocean.json
  region/crateria/east/Forgotten Highway Elbow.json
  region/crateria/east/Forgotten Highway Kago Room.json
  region/crateria/east/Homing Geemer Room.json
  region/crateria/east/The Moat.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
  region/crateria/west/Green Pirates Shaft.json
  region/crateria/west/Statues Hallway.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  schema/m3-room.schema.json
  strats.md
  tech.json
  tests/asserts/keywords.py
Labels: Area:Norfair, Area:Crateria, Model:Logic Element, Logic:Tech

#1472 Add G-Mode in Ice Beam Gate Room
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Norfair, Tech:G-Mode

#1477 M4 fix: Change exluded to explicit
  region/tourian/main/Metroid Room 4.json
Labels: Area:Tourian

#1475 Add G-Mode to Grapple Room, Post Croc Shaft, Missiles
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/crocomire/Post Crocomire Missile Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
Labels: Area:Norfair, Tech:G-Mode

#1480 Waterway spark fix
  region/brinstar/pink/Waterway Energy Tank Room.json
Labels: Area:Brinstar

#1474 Add G-Mode to Crocomire, Grapple Tutorial 2, 3
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Grapple Tutorial Room 2.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
Labels: Area:Norfair, Tech:G-Mode

#1484 WS E-Tank spring ball jump
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
Labels: Area:Wrecked Ship

#1482 Add collectsItems and setsFlags
  schema/m3-room.schema.json
  strats.md
  tests/asserts/keywords.py
Labels: Model:Key Element

#1483 G-Mode in Bubble Mountain
  region/norfair/east/Bubble Mountain.json
Labels: Area:Norfair, Tech:G-Mode

#1485 More Underwater Walljumps
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Mt. Everest.json
Labels: Strat:High-Level, Area:Maridia

#1478 G-Mode Bottom of Vertical Doors
  region/brinstar/green/Spore Spawn Kihunter Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
  region/crateria/central/Climb.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/Forgotten Highway Elevator.json
  region/crateria/east/Red Brinstar Elevator Room.json
  strats.md
Labels: Area:Crateria, Area:Brinstar, Tech:G-Mode

#1486 Remove Diagonal IBJ from Crateria Supers
  region/crateria/central/Crateria Super Room.json
Labels: Area:Crateria

#1473 Add canFreeFallClip tech
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Spore Spawn Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
  region/brinstar/pink/Big Pink.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/West Ocean.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/outer/Main Street.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/wreckedship/main/Attic.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  strats.md
  tech.json
Labels: Logic:Tech, Area:Many

#1479 Various Strats
  helpers.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Pillar Room.json
  region/lowernorfair/roomDiagrams/east_MickeyMouseRoom_144.png
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/roomDiagrams/inner-green_PantsRoom_220.png
  region/norfair/roomDiagrams/west_CrocomireEscape_121.png
  region/norfair/west/Crocomire Escape.json
  region/tourian/main/Tourian Escape Room 4.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  tech.json
Labels: Logic:Tech, Room Diagram Update, Area:Many

#1488 Fix X-Ray version of bottom Green Brin Main Shaft ice clip
  region/brinstar/green/Green Brinstar Main Shaft.json
Labels: Area:Brinstar

#1489 Mama Turtle Speedy HiJump
  region/maridia/outer/Mama Turtle Room.json
Labels: Area:Maridia

#1491 Add G-Mode to LN Firefleas
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#1495 Ceres: Add G-Mode, PB Doors
  region/ceres/main/58 Escape.json
  region/ceres/main/Dead Scientist Room.json
  region/ceres/main/Falling Tile Room.json
  region/ceres/main/Magnet Stairs Room.json
Labels: Tech:G-Mode, Area:Ceres

#1492 G-Mode Bottom of Vertical Doors - WS, Tourian
  region/tourian/main/Blue Hopper Room.json
  region/tourian/main/Tourian Escape Room 2.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Area:Wrecked Ship, Area:Tourian, Tech:G-Mode

#1494 G-Mode Bottom of Vertical Doors - Norfair
  region/lowernorfair/east/Lower Norfair Escape Power Bomb Room.json
  region/lowernorfair/east/Wasteland.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Purple Shaft.json
Labels: Area:Norfair, Area:Lower Norfair, Tech:G-Mode

#1496 Missing or in Sponge Bath Base
  region/wreckedship/main/Sponge Bath.json
Labels: Area:Wrecked Ship
