Repository vg-json-data/sm-json-data, pull requests merged in 2024-05, with the labels that each got.

#1499 A Few Misc Fixes
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/lowernorfair/east/Amphitheatre.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/outer/Main Street.json
Labels: Area:Many

#1500 Tightened Volcano Room Heat Frames
  region/norfair/east/Volcano Room.json
Labels: Area:Norfair

#1501 Some clean-up in rooms with useImplicitDoorUnlocks false
  region/lowernorfair/east/Amphitheatre.json
  region/tourian/main/Blue Hopper Room.json
  tests/asserts/keywords.py
Labels: Area:Lower Norfair, Area:Tourian, Tests

#1503 Remove bad strat in Plasma Spark Room
  region/maridia/inner-yellow/Plasma Spark Room.json
Labels: Area:Maridia

#1504 Flash Suit Strat Compatibility - Green Brinstar Pt. 1
  region/brinstar/green/Brinstar Map Room.json
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Etecoon Save Room.json
  region/brinstar/green/Etecoon Super Room.json
  region/brinstar/green/Green Brinstar Fireflea Room.json
  tech.json
Labels: Area:Brinstar

#1507 Split tech requirements into two fields: tech and other
  logicalRequirements.md
  readme.md
  schema/m3-requirements.schema.json
  schema/m3-tech.schema.json
  tech.json
Labels: breaking, Major Overhaul, Cleanup

#1493 G-Mode Bottom of Vertical Doors - Maridia
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia, Tech:G-Mode

#1506 Use canMidAirMorph Throughout
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/red/Caterpillar Room.json
  region/crateria/central/Final Missile Bombway.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/West Ocean.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Pillar Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/Spring Ball Room.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/West Sand Hole.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/maridia/outer/Red Fish Room.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Green Bubbles Missile Room.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/norfair/west/Ice Beam Snake Room.json
  region/norfair/west/Ice Beam Tutorial Room.json
  region/tourian/main/Mother Brain Room.json
  region/wreckedship/main/Wrecked Ship East Super Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  tech.json
Labels: Strat:Basic, Area:Many

#1508 Add heatFramesWithEnergyDrops to schema/docs
  logicalRequirements.md
  schema/m3-requirements.schema.json
Labels: Model:Logic Element

#1509 Mother Brain R-mode strats
  region/tourian/main/Mother Brain Room.json
  tests/asserts/keywords.py
Labels: Strat:High-Level, Area:Tourian

#1511 Add Items to Tech Pt.1 - Artificial Morph
  helpers.json
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/brinstar/red/Red Tower.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/east/East Ocean.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Green Pirates Shaft.json
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Pillar Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/east/Wasteland.json
  region/lowernorfair/west/Acid Statue Room.json
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/West Sand Hole.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Spiky Acid Snakes Tunnel.json
  region/norfair/west/Crocomire Escape.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Tourian Escape Room 4.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  tech.json
Labels: Logic:Helper, Logic:Tech, Cleanup

#1518 Add canTrickyJump req to Everest jump through Toilet
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia

#1510 Metal Pirate Low Resource Strats
  region/lowernorfair/east/Metal Pirates Room.json
  tech.json
  tests/asserts/keywords.py
Labels: Area:Lower Norfair, Logic:Tech

#1517 Add Items to Tech Pt.2 and Cleanup
  helpers.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Fireflea Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Spore Spawn Kihunter Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/West Ocean.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/outer/Crab Hole.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Kronic Boost Room.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Spiky Death Room.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  tech.json
Labels: Logic:Helper, Logic:Tech, Cleanup

#1519 Add canEnterGMode to Strats that don't Start at a Door
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/pink/Big Pink.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Landing Site.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Green Pirates Shaft.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/crocomire/Post Crocomire Missile Room.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/west/Hi Jump Energy Tank Room.json
Labels: Tech:G-Mode

#1522 Some logic tweaks
  region/crateria/east/East Ocean.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/maridia/inner-green/Pants Room.json
  tech.json
Labels: Area:Many

#1525 Add insanejump to sandfall softlocky jumps
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/West Sand Hall.json
  tech.json
Labels: Area:Maridia

#1527 Add more Blue Boulder cross-room jumps
  region/brinstar/blue/Blue Brinstar Boulder Room.json
Labels: Area:Brinstar

#1528 Fix Green Bubble Missile missing Morph req
  region/norfair/east/Green Bubbles Missile Room.json
Labels: Area:Norfair

#1524 Add more leniencies and trickyjump requirements
  helpers.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Ice Beam Tutorial Room.json
  region/tourian/main/Blue Hopper Room.json
  tech.json
Labels: Logic:Helper, Area:Many

#1502 Crateria remote runway strats
  logicalRequirements.md
  region/brinstar/blue/Morph Ball Room.json
  region/crateria/central/Bomb Torizo Room.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Pre-Map Flyway.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/East Ocean.json
  region/crateria/east/The Moat.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Entrance.json
  region/crateria/west/Green Pirates Shaft.json
  region/crateria/west/Statues Hallway.json
  region/maridia/inner-green/East Sand Hall.json
  schema/m3-requirements.schema.json
  schema/m3-room.schema.json
  strats.md
  tech.json
  tests/asserts/keywords.py
Labels: Area:Crateria, Model:Logic Element
