Repository vg-json-data/sm-json-data, pull requests merged in 2024-01, with the labels that each got.

#1284 Add Missing G-Mode Strats in Tourian
  region/tourian/main/Blue Hopper Room.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Metroid Room 4.json
Labels: Area:Tourian, Tech:G-Mode

#1296 Overhaul Mama Turtle Room
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/roomDiagrams/outer_MamaTurtleRoom_178.png
Labels: Area:Maridia

#1291 Remove Item Name Text From Room Diagrams
  region/lowernorfair/roomDiagrams/east_LowerNorfairSpringBallMazeRoom_146.png
  region/norfair/roomDiagrams/crocomire_PostCrocomireJumpRoom_127.png
  region/norfair/roomDiagrams/east_DoubleChamber_104.png
  region/norfair/roomDiagrams/west_CrocomireEscape_121.png
Labels: Room Diagram Update

#1277 G-mode Migration: Botwoon E-Tank Room, Go Down the Sand
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
Labels: Area:Maridia, Tech:G-Mode

#1285 Add Missing G-Mode Strats in Wrecked Ship
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Wrecked Ship East Super Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Area:Wrecked Ship, Tech:G-Mode

#1295 Update Screw Attack Transition Jump
  region/lowernorfair/west/Screw Attack Room.json
Labels: Area:Lower Norfair

#1293 Blue Brinstar shinecharges/sparks
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/blue/Construction Zone.json
  region/brinstar/blue/Morph Ball Room.json
Labels: Area:Brinstar

#1279 Schema changes to represent unlocking doors
  logicalRequirements.md
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/lowernorfair/east/Amphitheatre.json
  region/region-readme.md
  region/tourian/main/Blue Hopper Room.json
  schema/m3-room.schema.json
  strats.md
  tests/asserts/keywords.py
Labels: Model:Key Element

#1297 Migrate and Add Missing G-Mode Strats in Yellow Maridia
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
Labels: Area:Maridia, Tech:G-Mode, Cross-Room Migration

#1298 Misc strat updates
  enemies/main.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Green Hill Zone.json
  region/crateria/east/Bowling Alley Path.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/West Sand Hole.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/roomDiagrams/inner-yellow_PlasmaSparkRoom_197.png
  region/norfair/east/Lava Dive Room.json
Labels: Area:Maridia, Area:Crateria, Area:Brinstar, Room Diagram Update

#1299 Green Brinstar shinecharges & sparks
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/green/Noob Bridge.json
  strats.md
Labels: Area:Brinstar

#1301 Red Brinstar shinecharges
  region/brinstar/red/Bat Room.json
  region/brinstar/red/Below Spazer.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/Hellway.json
  region/brinstar/red/Red Tower.json
Labels: Area:Brinstar

#1304 G-Mode Migration: Pink Maridia - Run Scripts
  region/maridia/inner-pink/Aqueduct Save Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Botwoon Quicksand Room.json
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Draygon Save Room.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/East Aqueduct Quicksand Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/Maridia Health Refill Room.json
  region/maridia/inner-pink/Maridia Missile Refill Room.json
  region/maridia/inner-pink/Space Jump Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/Toilet Bowl.json
  region/maridia/inner-pink/West Aqueduct Quicksand Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-pink/West Sand Hole.json
Labels: Area:Maridia, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1306 G-Mode Migration: Outer Maridia Pt.1 - Run Scripts
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel Save Room.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Maridia Map Room.json
  region/maridia/outer/Red Fish Room.json
  region/maridia/outer/West Glass Tube Tunnel.json
Labels: Area:Maridia, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1302 Various Strat updates
  region/crateria/central/Final Missile Bombway.json
  region/maridia/outer/Fish Tank.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/roomDiagrams/west_IceBeamSnakeRoom_108.png
  region/norfair/west/Business Center.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Ice Beam Snake Room.json
  region/norfair/west/Ice Beam Tutorial Room.json
  region/tourian/main/Tourian Escape Room 4.json
Labels: Room Diagram Update, Area:Many

#1310 WS Main Shaft careful jump
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Area:Wrecked Ship

#1280 Misc Strats: Some Speed Jumps and IBJing Above Spikes
  helpers.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/brinstar/roomDiagrams/red_RedBrinstarFirefleaRoom_67.png
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/norfair/east/Double Chamber.json
  region/wreckedship/main/Sponge Bath.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
Labels: Logic:Helper, Room Diagram Update, Area:Many

#1313 G-Mode Migration: Glass Tunnel, Main St., Mt. Everest pt.1
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/maridia/outer/Red Fish Room.json
Labels: Area:Maridia, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1315 Add missing Gravity jumps in Everest
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia

#1305 Wrecked Ship shinecharges
  region/wreckedship/main/Attic.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Gravity Suit Room.json
  region/wreckedship/main/Spiky Death Room.json
  region/wreckedship/main/Sponge Bath.json
  region/wreckedship/main/Wrecked Ship East Super Room.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Area:Wrecked Ship

#1308 Tourian shinecharges
  region/tourian/main/Big Boy Room.json
  region/tourian/main/Blue Hopper Room.json
  region/tourian/main/Dust Torizo Room.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Rinka Shaft.json
  region/tourian/main/Seaweed Room.json
  region/tourian/main/Tourian Escape Room 2.json
  region/tourian/main/Tourian Escape Room 3.json
  region/tourian/main/Tourian Escape Room 4.json
  region/tourian/main/Tourian First Room.json
  schema/m3-room.schema.json
  strats.md
Labels: Area:Tourian

#1312 Migrate remaining adjacentRunway and canComeInCharged
  logicalRequirements.md
  region/crateria/central/Crateria Super Room.json
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Farming Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Main Hall.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Pillar Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/lowernorfair/west/Acid Statue Room.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Lava Dive Room.json
  region/wreckedship/main/Basement.json
  schema/m3-requirements.schema.json
  schema/m3-room.schema.json
  strats.md
Labels: Area:Maridia, Area:Norfair

#1307 G-Mode Migration: Boyon Gate, Crab Hole
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
Labels: Area:Maridia, Tech:G-Mode, Cross-Room Migration

#1316 Add G-Mode Strats to Everest and Glass Tunnel, Update Glass Tunnel
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia, Tech:G-Mode, Cross-Room Migration

#1317 Finish runway migration
  region/crateria/central/Crateria Super Room.json
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Escape Power Bomb Room.json
  region/lowernorfair/east/Lower Norfair Farming Room.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Main Hall.json
  region/lowernorfair/east/Metal Pirates Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Pillar Room.json
  region/lowernorfair/east/Plowerhouse Room.json
  region/lowernorfair/east/Red Kihunter Shaft Save Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/Ridley Tank Room.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/lowernorfair/east/Wasteland.json
  region/lowernorfair/west/Acid Statue Room.json
  region/lowernorfair/west/Fast Ripper Room.json
  region/lowernorfair/west/Golden Torizo Energy Recharge.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/region-readme.md
  schema/m3-room.schema.json
Labels: Area:Norfair, Area:Crateria

#1318 Simple G-Mode Migration: Main Street
  region/maridia/outer/Main Street.json
Labels: Area:Maridia, Tech:G-Mode, Cross-Room Migration

#1319 G-Mode Migration: Run Scripts for the Few Strats in Norfair
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/west/Ice Beam Tutorial Room.json
Labels: Area:Norfair, Area:Lower Norfair, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1320 G-Mode Migration: Green Brinstar - Run Scripts
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/green/Noob Bridge.json
  region/brinstar/green/Spore Spawn Kihunter Room.json
Labels: Area:Brinstar, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1321 G-Mode Migration: Remaining Areas of Brinstar - Run Scripts
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/kraid/Warehouse Entrance.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/pink/Spore Spawn Farming Room.json
  region/brinstar/pink/Spore Spawn Super Room.json
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/brinstar/red/Red Tower.json
Labels: Area:Brinstar, Tech:G-Mode, Cross-Room Migration, Run Scripts

#1322 G-Mode Migration: Remaining Strats
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/red/Red Tower.json
  region/maridia/outer/Crab Hole.json
Labels: Area:Maridia, Area:Brinstar, Tech:G-Mode, Cross-Room Migration

#1324 Add canAwakenZebes Knowledge Tech
  helpers.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/blue/Construction Zone.json
  region/brinstar/blue/Morph Ball Room.json
  region/crateria/central/Climb.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
  region/crateria/central/The Final Missile.json
  strats.md
  tech.json
Labels: Area:Crateria, Area:Brinstar, Logic:Helper, Logic:Tech

#1325 G-Mode Migration: Schema Cleanup
  logicalRequirements.md
  region/region-readme.md
  schema/m3-requirements.schema.json
  schema/m3-room.schema.json
  tests/asserts/keywords.py
Labels: Tech:G-Mode, Cross-Room Migration, Cleanup

#1326 Wasteland Rework
  enemies/main.json
  region/lowernorfair/east/Wasteland.json
  region/lowernorfair/roomDiagrams/east_Wasteland_138.png
Labels: Area:Lower Norfair, Room Diagram Update

#1329 Various Logic changes
  helpers.json
  region/lowernorfair/east/Metal Pirates Room.json
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/East Sand Hole.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/tourian/main/Blue Hopper Room.json
Labels: Area:Many

#1327 Frozen Enemy Runways in Brinstar
  helpers.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Noob Bridge.json
  region/brinstar/kraid/Kraid Eye Door Room.json
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/Hellway.json
  region/brinstar/red/Red Tower.json
  tech.json
Labels: Strat:High-Level, Area:Brinstar, Logic:Tech

#1331 Add Horizontal Shinespark Tech
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/kraid/Kraid Eye Door Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/brinstar/red/Bat Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Landing Site.json
  region/crateria/east/Bowling Alley Path.json
  region/crateria/east/East Ocean.json
  region/crateria/east/Homing Geemer Room.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
  region/lowernorfair/east/Wasteland.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Lower Norfair Elevator.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Spiky Acid Snakes Tunnel.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Crumble Shaft.json
  region/tourian/main/Rinka Shaft.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Spiky Death Room.json
  region/wreckedship/main/Sponge Bath.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  strats.md
  tech.json
Labels: Strat:Basic, Logic:Tech, Area:Many

#1330 Lower Norfair Pillar Room
  region/lowernorfair/east/Pillar Room.json
Labels: Area:Lower Norfair

#1337 Add position constraints to a few shinesparks
  region/crateria/central/Landing Site.json
  region/norfair/west/Crocomire Speedway.json
Labels: Area:Norfair, Area:Crateria

#1332 Unlock doors WS, Upper Norfair, Tourian
  helpers.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Grapple Tutorial Room 1.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Power Bomb Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Frog Savestation.json
  region/norfair/east/Green Bubbles Missile Room.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/east/Lower Norfair Elevator.json
  region/norfair/east/Magdollite Tunnel.json
  region/norfair/east/Nutella Refill.json
  region/norfair/east/Purple Farming Room.json
  region/norfair/east/Purple Shaft.json
  region/norfair/east/Rising Tide.json
  region/norfair/east/Single Chamber.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Speed Booster Room.json
  region/norfair/east/Spiky Acid Snakes Tunnel.json
  region/norfair/east/Spiky Platforms Tunnel.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/east/Volcano Room.json
  region/norfair/west/Business Center.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Ice Beam Acid Room.json
  region/norfair/west/Ice Beam Gate Room.json
  region/norfair/west/Ice Beam Snake Room.json
  region/norfair/west/Ice Beam Tutorial Room.json
  region/tourian/main/Blue Hopper Room.json
  region/wreckedship/main/Attic.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Gravity Suit Room.json
  region/wreckedship/main/Spiky Death Room.json
  region/wreckedship/main/Wrecked Ship Entrance.json
  strats.md
  tests/asserts/keywords.py
Labels: Area:Norfair, Area:Wrecked Ship, Area:Tourian

#1338 Add spring ball jump and IBJ options for Tourian Escape 4 L->R
  region/tourian/main/Tourian Escape Room 4.json
  strats.md
Labels: Area:Tourian

#1334 Unlocks doors lower norfair
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Escape Power Bomb Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Metal Pirates Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Plowerhouse Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/east/Wasteland.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/lowernorfair/west/Screw Attack Room.json
Labels: Area:Lower Norfair
