Repository vg-json-data/sm-json-data, pull requests merged in 2024-09, with the labels that each got.

#1624 Add script to populate tech IDs
  .github/workflows/run_scripts.yml
  schema/m3-tech.schema.json
  scripts/format_json.py
  scripts/populate_tech_ids.py
Labels: Model:Key Element

#1626 Cathedral temporary blue
  region/norfair/east/Cathedral.json
Labels: Area:Norfair

#1628 Bombway temp blue
  region/crateria/central/Final Missile Bombway.json
  schema/m3-room.schema.json
  strats.md
Labels: Area:Crateria

#1630 A couple of new Alcatraz strats
  region/crateria/central/Parlor and Alcatraz.json
Labels: Area:Crateria

#1631 Construction Zone more temp blue
  region/brinstar/blue/Construction Zone.json
Labels: Area:Brinstar

#1632 A couple more strats in Early Supers
  region/brinstar/green/Early Supers Room.json
Labels: Area:Brinstar

#1635 Etecoon ETank temp blue
  region/brinstar/green/Etecoon Energy Tank Room.json
Labels: Area:Brinstar

#1634 Gauntlet temp blue
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
Labels: Area:Crateria

#1637 A few Big Pink temp blue strats
  region/brinstar/pink/Big Pink.json
Labels: Area:Brinstar

#1638 X-Ray Scope Room shinespark to break bomb block
  region/brinstar/red/X-Ray Scope Room.json
Labels: Area:Brinstar

#1633 Green Maridia: Use Flash Suit
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/West Sand Hall.json
Labels: Area:Maridia, Tech:Flash Suit

#1641 Add lower Bowling Alley leave with temp blue
  region/wreckedship/main/Bowling Alley.json
Labels: Area:Wrecked Ship

#1642 Relax shortcharge requirements for robot clip
  region/wreckedship/main/Wrecked Ship East Super Room.json
Labels: Area:Wrecked Ship

#1639 Crab Hole temp blue
  region/maridia/outer/Crab Hole.json
Labels: Area:Maridia

#1646 Kassiuz Room temp blue
  region/maridia/inner-yellow/Kassiuz Room.json
Labels: Area:Maridia

#1647 Northwest Maridia Bug Room temp blue
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
Labels: Area:Maridia

#1643 Underwater Wall Jump Break Free
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  tech.json
Labels: Strat:High-Level, Area:Maridia, Logic:Tech

#1645 Aqueduct: Use Flash Suit
  region/maridia/inner-pink/Aqueduct.json
  tech.json
Labels: Area:Maridia, Tech:Flash Suit

#1648 Fix up canChainTemporaryBlue reqs
  region/brinstar/blue/Construction Zone.json
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/crateria/east/West Ocean.json
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
  region/maridia/inner-pink/Below Botwoon Energy Tank.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/inner-pink/Draygon Save Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-yellow/Plasma Room.json
  region/tourian/main/Big Boy Room.json
  region/tourian/main/Dust Torizo Room.json
  region/wreckedship/main/Sponge Bath.json
Labels: Area:Many

#1649 Plasma Spark Room temp blue
  region/maridia/inner-yellow/Plasma Spark Room.json
Labels: Area:Maridia

#1650 Bowtwoon ETank, Hallway, Colosseum: Use Flash Suit
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Colosseum.json
Labels: Area:Maridia, Tech:Flash Suit

#1651 Bowling Alley Path temp blue
  region/crateria/east/Bowling Alley Path.json
Labels: Area:Crateria

#1644 Bug Sand Hole temp blue
  region/maridia/inner-yellow/Bug Sand Hole.json
Labels: Area:Maridia

#1640 Add script to populate notable IDs
  .github/workflows/run_scripts.yml
  logicalRequirements.md
  schema/m3-requirements.schema.json
  schema/m3-room.schema.json
  scripts/migrate_notables.py
  tests/asserts/keywords.py
Labels: breaking, Model:Key Element, Tests

#1656 Double Chamber temp blue
  region/norfair/east/Double Chamber.json
Labels: Area:Norfair

#1653 Add canMorphTurnaround, Fix Screw speed jump
  helpers.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Hallway.json
  tech.json
Labels: Area:Maridia, Area:Lower Norfair, Logic:Tech

#1655 Crab Shaft, Draygon, East Cac: Use Flash Suit
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
Labels: Area:Maridia, Tech:Flash Suit

#1657 Frog Savestation temp blue
  region/norfair/east/Frog Savestation.json
Labels: Area:Norfair

#1662 Etecoon ETank small fixes
  region/brinstar/green/Etecoon Energy Tank Room.json
Labels: Area:Brinstar

#1663 Lava Dive temp blue
  region/norfair/east/Lava Dive Room.json
Labels: Area:Norfair

#1658 Kronic Boost temp blue
  region/norfair/east/Kronic Boost Room.json
Labels: Area:Norfair

#1659 Green Bubbles temp blue
  region/norfair/east/Green Bubbles Missile Room.json
Labels: Area:Norfair

#1669 Remove Some Deprecated Event nodes
  region/brinstar/green/Spore Spawn Room.json
  region/brinstar/kraid/Kraid Room.json
  region/brinstar/roomDiagrams/green_SporeSpawnRoom_57.png
  region/brinstar/roomDiagrams/kraid_KraidsRoom_84.png
  region/ceres/main/Ceres Ridley's Room.json
  region/ceres/roomDiagrams/ceres_CeresRidleysRoom_6.png
  region/crateria/central/Bomb Torizo Room.json
  region/crateria/roomDiagrams/central_BombTorizoRoom_19.png
  region/crateria/roomDiagrams/west_StatuesRoom_27.png
  region/crateria/west/Statues Room.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/roomDiagrams/inner-pink_DraygonsRoom_193.png
  region/wreckedship/main/Phantoon's Room.json
  region/wreckedship/roomDiagrams/main_PhantoonsRoom_158.png
Labels: Room Diagram Update, Area:Many, Cleanup

#1664 LN Elevator temp blue
  region/norfair/east/Lower Norfair Elevator.json
Labels: Area:Norfair

#1666 Nutella Refill temp blue
  region/norfair/east/Nutella Refill.json
Labels: Area:Norfair

#1668 Red Pirate Shaft temp blue
  region/norfair/east/Red Pirate Shaft.json
Labels: Area:Norfair

#1667 Purple Shaft temp blue
  region/norfair/east/Purple Shaft.json
Labels: Area:Norfair

#1670 A few temp blue strat adjustments
  region/brinstar/pink/Big Pink.json
  region/crateria/central/Climb.json
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Many

#1665 Magdollite Tunnel temp blue
  region/norfair/east/Magdollite Tunnel.json
Labels: Area:Norfair

#1661 East Sand Hole: Use Flash Suit
  helpers.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/roomDiagrams/inner-pink_EastSandHole_208.png
Labels: Area:Maridia, Room Diagram Update, Tech:Flash Suit

#1671 Rising Tide temp blue
  region/norfair/east/Rising Tide.json
Labels: Area:Norfair

#1672 Add a couple notables that got missed in the migration
  region/lowernorfair/east/Ridley's Room.json
  region/maridia/inner-pink/Botwoon's Room.json
Labels: Area:Maridia, Area:Norfair

#1673 Misc Fixes: Warehouse Entrance Moondance, Reverse PCJR Shinecharge
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/kraid/Warehouse Entrance.json
  region/brinstar/pink/Big Pink.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  region/wreckedship/roomDiagrams/main_WreckedShipMainShaft_155.png
Labels: Room Diagram Update, Area:Many
