Repository vg-json-data/sm-json-data, pull requests merged in 2024-02, with the labels that each got.

#1336 Boss Update
  region/brinstar/green/Spore Spawn Room.json
  region/crateria/central/Bomb Torizo Room.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/inner-pink/Draygon's Room.json
  region/norfair/crocomire/Crocomire's Room.json
  region/wreckedship/main/Phantoon's Room.json
Labels: Area:Many

#1339 Add stutter acid shinecharge strat in Tourian Escape 4
  region/tourian/main/Tourian Escape Room 4.json
  tech.json
Labels: Area:Tourian

#1342 Tighten heat frames for GT crumble item
  region/lowernorfair/west/Golden Torizo's Room.json
  tech.json
Labels: Area:Lower Norfair, Logic:Tech

#1345 Insane jump
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/crateria/central/Climb.json
  region/crateria/central/Pit Room.json
  region/crateria/east/East Ocean.json
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Pillar Room.json
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/east/Norfair Reserve Tank Room.json
  region/tourian/main/Big Boy Room.json
Labels: Area:Many

#1328 Mother Brain's Room Zebetites and Phase 1
  enemies/bosses/main.json
  helpers.json
  items.json
  region/tourian/main/Mother Brain Room.json
  region/tourian/roomDiagrams/main_MotherBrainRoom_238.png
  tech.json
Labels: Area:Tourian, Logic:Helper, Logic:Tech, Room Diagram Update

#1347 Refine Base strat for getting out of Watering Hole
  region/maridia/inner-yellow/Watering Hole.json
Labels: Area:Maridia

#1348 Add gravity jump option in West Sand Hole
  region/maridia/inner-pink/West Sand Hole.json
Labels: Area:Maridia

#1353 Add tricky crouch jump down-grab in Everest
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia

#1357 Add X-ray climb strat in Pink Brinstar Hopper Room
  region/brinstar/pink/Pink Brinstar Hopper Room.json
Labels: Area:Brinstar

#1356 Add x-ray climb strat in post croc shaft
  region/norfair/crocomire/Post Crocomire Shaft.json
Labels: Area:Norfair

#1351 Wrecked Ship Enemy Extend Runways
  region/wreckedship/main/Attic.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Wrecked Ship East Super Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  region/wreckedship/main/Wrecked Ship Map Room.json
  region/wreckedship/main/Wrecked Ship Save Room.json
Labels: Area:Wrecked Ship

#1360 Deep transition tech: X-Ray climbs in Big Pink and Everest
  region/brinstar/pink/Big Pink.json
  region/maridia/outer/Mt. Everest.json
  tech.json
Labels: Area:Maridia, Area:Brinstar, Logic:Tech

#1355 Add/refine Alcatraz Escape strats
  region/crateria/central/Parlor and Alcatraz.json
Labels: Area:Crateria

#1361 Add more Mission Impossible strats
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
Labels: Area:Brinstar

#1364 Bowling Chozo Egg location was Swapped
  region/wreckedship/main/Bowling Alley.json
Labels: Area:Wrecked Ship

#1367 Add crouch jump req to Alcatraz double damage boost
  region/crateria/central/Parlor and Alcatraz.json
Labels: Area:Crateria

#1363 Cathedral Entrance 10 PB CF
  region/norfair/east/Cathedral Entrance.json
Labels: Area:Norfair

#1368 Red Fish water escape strats
  region/maridia/outer/Red Fish Room.json
Labels: Area:Maridia

#1354 Some Double Chamber strats
  region/norfair/east/Double Chamber.json
Labels: Area:Norfair

#1371 Split Puyo clip
  region/maridia/inner-green/East Pants Room.json
Labels: Area:Maridia

#1365 Beetom 10 PB CF strats
  region/crateria/west/Green Pirates Shaft.json
  region/norfair/east/Frog Speedway.json
Labels: Area:Norfair, Area:Crateria

#1372 Remove some kihunter farms
  region/brinstar/green/Spore Spawn Kihunter Room.json
  region/crateria/east/Crateria Kihunter Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/Three Musketeers' Room.json
Labels: Area:Lower Norfair, Area:Crateria

#1350 Crateria Enemy Extend Runways
  helpers.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/kraid/Kraid Eye Door Room.json
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/red/Hellway.json
  region/crateria/central/Crateria Power Bomb Room.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/Bowling Alley Path.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Green Pirates Shaft.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  tech.json
Labels: Area:Crateria, Logic:Tech, Area:Many

#1370 East Sand Hall Spring Ball jump right-to-left
  region/maridia/inner-green/East Sand Hall.json
Labels: Area:Maridia

#1375 Add resourceAvailable to schema
  logicalRequirements.md
  schema/m3-requirements.schema.json
Labels: Model:Logic Element

#1377 resourceMissingAtMost requirement
  logicalRequirements.md
  schema/m3-requirements.schema.json
Labels: Model:Logic Element

#1378 Red Tower Frozen Beetom Climb
  region/brinstar/red/Red Tower.json
Labels: Area:Brinstar

#1380 Update X-Ray Exit Damage Boost waver hits
  region/brinstar/red/Red Brinstar Fireflea Room.json
Labels: Area:Brinstar

#1381 canManageReserves tech
  tech.json
Labels: Logic:Tech

#1379 Remove walljump req from Indy Jones Long Mella
  region/norfair/crocomire/Post Crocomire Jump Room.json
Labels: Area:Norfair

#1374 East Sand Hall speedjumps
  region/maridia/inner-green/East Sand Hall.json
Labels: Area:Maridia

#1373 Green Brinstar Main Shaft Bottom Ice Clip
  region/brinstar/green/Green Brinstar Main Shaft.json
Labels: Area:Brinstar

#1376 Frozen Enemy Runways in Pink & Green Maridia
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Below Botwoon Energy Tank.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Halfie Climb Room.json
Labels: Area:Maridia

#1384 Some Norfair shinecharges
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Bubble Mountain.json
Labels: Area:Norfair

#1383 Frozen Enemy Runways in Yellow & Outer Maridia
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/maridia/inner-yellow/Butterfly Room.json
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/inner-yellow/Watering Hole.json
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/maridia/outer/Red Fish Room.json
Labels: Area:Maridia

#1382 Pink Hoppers more walljumpless strats
  region/brinstar/pink/Pink Brinstar Hopper Room.json
Labels: Area:Brinstar

#1385 A few more East Upper Norfair shinecharges
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Frog Savestation.json
  region/norfair/east/Green Bubbles Missile Room.json
Labels: Area:Norfair

#1390 Frozen Enemy Runways in Tourian
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Metroid Room 4.json
  region/tourian/main/Rinka Shaft.json
Labels: Area:Tourian

#1389 Grapple teleports from Red Brin Firefleas
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/kraid/Warehouse Entrance.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/red/Alpha Power Bomb Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/crateria/central/Final Missile Bombway.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Farming Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Plowerhouse Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/west/Acid Statue Room.json
  region/lowernorfair/west/Fast Ripper Room.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-green/Shaktool Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Frog Speedway.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/east/Purple Shaft.json
  region/norfair/east/Single Chamber.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Spiky Acid Snakes Tunnel.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/norfair/west/Ice Beam Snake Room.json
  region/tourian/main/Big Boy Room.json
Labels: Area:Many

#1391 Warehouse Entrance arm pump jump
  region/brinstar/kraid/Warehouse Entrance.json
Labels: Area:Brinstar

#1392 Fish Tank tricky frozen fish
  region/maridia/outer/Fish Tank.json
Labels: Area:Maridia

#1393 Unheated Frozen Enemy Runways in Norfair
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Red Pirate Shaft.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Norfair

#1395 Tricky grapple jump
  region/brinstar/green/Green Hill Zone.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  tech.json
Labels: Area:Maridia, Area:Brinstar, Logic:Tech

#1397 Main Hall Elevator Reserve Trigger
  helpers.json
  region/lowernorfair/east/Main Hall.json
  region/norfair/east/Lower Norfair Elevator.json
Labels: Area:Lower Norfair

#1388 Business Center shinecharges
  region/norfair/west/Business Center.json
Labels: Area:Norfair

#1394 More Insane jump + misc
  region/crateria/central/Climb.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/roomDiagrams/east_RedKihunterShaft_137.png
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia, Area:Lower Norfair, Area:Crateria, Room Diagram Update

#1399 West Sand Hall Spring Fling with Momentum
  region/maridia/inner-green/West Sand Hall.json
Labels: Area:Maridia
