Repository vg-json-data/sm-json-data, pull requests merged in 2024-11, with the labels that each got.

#1702 Change enemy farms to use partialRefill throughout
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/red/Below Spazer.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/Forgotten Highway Kago Room.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Green Pirates Shaft.json
  region/crateria/west/Lower Mushrooms.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Metal Pirates Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Rising Tide.json
  region/norfair/east/Single Chamber.json
  region/norfair/west/Business Center.json
Labels: Area:Many

#1708 Fix speedbooster req in Crab Hole
  region/maridia/outer/Crab Hole.json
Labels: Area:Maridia

#1703 Update Norfair Reserve Tank Room
  region/norfair/east/Norfair Reserve Tank Room.json
Labels: Area:Norfair

#1712 Misc: Walljumpess Ridley, Acid Statue Reserve, Fix Crab Shaft Flash Use
  region/brinstar/red/Red Tower.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/west/Acid Statue Room.json
  region/maridia/inner-pink/Crab Shaft.json
Labels: Area:Many

#1714 Another Blue Boulder shinecharge strat
  region/brinstar/blue/Blue Brinstar Boulder Room.json
Labels: Area:Brinstar

#1711 Mama Turtle Room - new node Top Right Junction
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/roomDiagrams/outer_MamaTurtleRoom_178.png
Labels: Area:Maridia, Room Diagram Update

#1722 Forgotten Highway Elbow shinecharge
  region/crateria/east/Forgotten Highway Elbow.json
Labels: Area:Crateria

#1724 Red Brin Elevator Room spark
  region/crateria/east/Forgotten Highway Elevator.json
  region/crateria/east/Red Brinstar Elevator Room.json
Labels: Area:Crateria, Area:Brinstar

#1718 Parlor shinecharge updates & new strats
  region/crateria/central/Parlor and Alcatraz.json
Labels: Area:Crateria

#1725 Update West Ocean hero shot spark
  region/crateria/east/West Ocean.json
Labels: Area:Crateria

#1726 Add Blue Brin ETank notable spark
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
Labels: Area:Brinstar

#1727 Tighten framesRemaining in Etecoon ETank leaveShinecharged
  region/brinstar/green/Etecoon Energy Tank Room.json
Labels: Area:Brinstar

#1719 Samus Eater temp blue strats
  region/brinstar/red/Alpha Power Bomb Room.json
  region/brinstar/red/Hellway.json
  tech.json
Labels: Area:Brinstar

#1730 Remove useless airball strats in West Sand Hall
  region/maridia/inner-green/West Sand Hall.json
Labels: Area:Maridia

#1721 East Ocean shinecharge updates
  region/crateria/east/East Ocean.json
Labels: Area:Crateria

#1713 Halfie Climb shinecharges
  region/maridia/inner-pink/Halfie Climb Room.json
Labels: Area:Maridia

#1728 Add canMidairShinespark as dependency in canShinechargeMovementComplex
  tech.json
Labels: Logic:Tech

#1717 Pause Abuse Crateria Supers Spikes, Add resourceConsumed
  helpers.json
  logicalRequirements.md
  region/crateria/central/Crateria Super Room.json
  schema/m3-requirements.schema.json
  tech.json
Labels: Area:Crateria, Model:Logic Element, Logic:Helper, breaking

#1729 Refine Croc Escape comeInShinecharged
  region/norfair/west/Crocomire Escape.json
Labels: Area:Norfair

#1716 Mama Turtle Room Update pt.2
  region/maridia/outer/Mama Turtle Room.json
Labels: Area:Maridia

#1723 Use collectsItems Throughout
  helpers.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/pink/Big Pink.json
  region/crateria/west/Terminator Room.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/outer/Mama Turtle Room.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Green Bubbles Missile Room.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Gravity Suit Room.json
Labels: Area:Many

#1732 Below Spazer cross-room spark up strats
  region/brinstar/red/Below Spazer.json
Labels: Area:Brinstar

#1733 Crateria Supers spark strats
  region/crateria/central/Crateria Super Room.json
Labels: Area:Crateria

#1734 Ice Beam Acid shinesparks
  region/norfair/west/Ice Beam Acid Room.json
Labels: Area:Norfair

#1737 Ice Beam Tutorial Room shinesparks
  region/norfair/west/Ice Beam Tutorial Room.json
Labels: Area:Norfair

#1738 Grapple Tutorial Room 1 shinecharges
  region/norfair/crocomire/Grapple Tutorial Room 1.json
Labels: Area:Norfair

#1740 Grapple Beam Room shinecharges
  region/norfair/crocomire/Grapple Beam Room.json
Labels: Area:Norfair

#1742 Fix resourceAtMost in Norfair Reserve pause abuse
  region/norfair/east/Norfair Reserve Tank Room.json
Labels: Area:Norfair

#1735 Ice Beam Gate Room leave shinecharged
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Norfair

#1743 Add h_EquipmentScreenFix
  helpers.json
Labels: Logic:Helper

#1739 Grapple Tutorial Room 2 shinesparks
  region/norfair/crocomire/Grapple Tutorial Room 2.json
Labels: Area:Norfair

#1745 Add more speedy cross room jumps
  region/brinstar/red/Caterpillar Room.json
  region/norfair/east/Bubble Mountain.json
  region/wreckedship/main/Sponge Bath.json
Labels: Area:Many

#1749 Post Croc Farm Room shinecharges
  region/norfair/crocomire/Post Crocomire Farming Room.json
Labels: Area:Norfair

#1755 Post Croc Shaft shinecharges
  region/norfair/crocomire/Post Crocomire Shaft.json
Labels: Area:Norfair

#1731 Croc Speedway shinecharges
  region/norfair/west/Crocomire Speedway.json
  tech.json
Labels: Area:Norfair

#1746 Morph Hoppers Pause Abuse
  region/brinstar/blue/Morph Ball Room.json
Labels: Area:Brinstar

#1753 Reserve Pause Abuse: Remaining Maridia
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/inner-yellow/Plasma Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mama Turtle Room.json
Labels: Area:Maridia

#1748 Green Maridia: Reserve Pause Abuse and Refine Strats
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/West Sand Hall.json
Labels: Area:Maridia

#1756 Fast Ripper Room shinecharges
  region/lowernorfair/west/Fast Ripper Room.json
Labels: Area:Lower Norfair

#1757 Reserve Pause Abuse WS, Tourian
  region/tourian/main/Blue Hopper Room.json
  region/wreckedship/main/Basement.json
Labels: Area:Wrecked Ship, Area:Tourian

#1736 Ice Beam Snake Room shinesparks
  region/norfair/west/Ice Beam Snake Room.json
  tech.json
Labels: Area:Norfair

#1758 Pause Abuse: Red KiHunters
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/Three Musketeers' Room.json
Labels: Area:Lower Norfair

#1760 Remove unnecessary nodes: Construction Zone, Watering Hole
  region/brinstar/blue/Construction Zone.json
  region/brinstar/roomDiagrams/blue_ConstructionZone_39.png
  region/maridia/inner-yellow/Watering Hole.json
  region/maridia/roomDiagrams/inner-yellow_WateringHole_181.png
Labels: Area:Maridia, Area:Brinstar, Room Diagram Update, Cleanup, Node Change

#1759 Pause Abuse: WRITG Top Pirate
  region/lowernorfair/east/The Worst Room In The Game.json
Labels: Area:Lower Norfair

#1751 Beta Power Bomb Room: Morph Power Beam kill is not basic
  region/brinstar/red/Beta Power Bomb Room.json
Labels: Area:Brinstar

#1750 PCJR shinesparks
  region/crateria/central/Landing Site.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
Labels: Area:Norfair

#1761 G-Mode Setups: Upper Norfair East
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Magdollite Tunnel.json
  region/norfair/east/Norfair Reserve Tank Room.json
  region/norfair/east/Purple Farming Room.json
  region/norfair/east/Rising Tide.json
  region/norfair/east/Single Chamber.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Upper Norfair Farming Room.json
Labels: Area:Norfair, Tech:G-Mode

#1767 Fix wrong strat name in Fast Ripper Room
  region/lowernorfair/west/Fast Ripper Room.json
Labels: Area:Lower Norfair

#1744 Add Missing Ceiling Bomb Jumps and G-Mode Open Green Gates
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/red/Caterpillar Room.json
  region/crateria/central/Crateria Super Room.json
  region/maridia/outer/Crab Tunnel.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Spiky Acid Snakes Tunnel.json
  region/wreckedship/main/Bowling Alley.json
Labels: Strat:High-Level, Area:Many

#1764 Redefine h_UnderwaterCrouchJumpWithFlashSuit
  helpers.json
  region/crateria/east/East Ocean.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/East Sand Hole.json
Labels: Area:Maridia, Logic:Helper, Tech:Flash Suit

#1763 Halfie Climb grapple teleport into grapple clip
  region/maridia/inner-pink/Halfie Climb Room.json
Labels: Area:Maridia

#1765 Croc Escape G-Mode Setup
  region/norfair/west/Crocomire Escape.json
Labels: Area:Norfair, Tech:G-Mode

#1768 Rename canIframeSpikeJump to canUseIFrames, Cleanup
  helpers.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/red/Alpha Power Bomb Room.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/east/Bowling Alley Path.json
  region/crateria/west/Green Pirates Shaft.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/lowernorfair/east/Wasteland.json
  region/lowernorfair/west/Acid Statue Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-yellow/Plasma Room.json
  region/maridia/outer/Boyon Gate Hall.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/east/Spiky Acid Snakes Tunnel.json
  region/norfair/west/Crocomire Escape.json
  region/tourian/main/Blue Hopper Room.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Mother Brain Room.json
  region/tourian/main/Tourian Escape Room 3.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  tech.json
Labels: Logic:Tech, Area:Many, Cleanup

#1771 Tourian Escape 3 R to L canUseIFrames
  region/tourian/main/Tourian Escape Room 3.json
Labels: Area:Tourian

#1772 Beta PBs Remove Unnecessary Node
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/roomDiagrams/red_BetaPowerBombRoom_77.png
Labels: Area:Brinstar, Room Diagram Update, Cleanup, Node Change

#1775 Schema Cleanup
  items.json
  region/region-readme.md
  schema/m3-requirements.schema.json
  schema/m3-room.schema.json
Labels: Cleanup

#1762 Screw Attack Room shinecharges
  region/lowernorfair/west/Screw Attack Room.json
  strats.md
  tests/asserts/keywords.py
Labels: Area:Lower Norfair

#1770 Slightly Refine canSuitlessMaridia
  region/crateria/east/East Ocean.json
  region/crateria/east/The Moat.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/Spring Ball Room.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Below Botwoon Energy Tank.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/West Sand Hole.json
  region/maridia/inner-yellow/Butterfly Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/Thread The Needle Room.json
  region/maridia/inner-yellow/Watering Hole.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Mt. Everest.json
  region/maridia/outer/Red Fish Room.json
  region/wreckedship/main/Electric Death Room.json
  tech.json
Labels: Area:Maridia

#1779 Post Croc Farm Remove Node
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/roomDiagrams/crocomire_PostCrocomireFarmingRoom_123.png
Labels: Area:Norfair, Room Diagram Update, Cleanup, Node Change

#1774 Fast Pillars Setup Room shinecharges
  region/lowernorfair/east/Fast Pillars Setup Room.json
Labels: Area:Lower Norfair

#1783 Lower Norfair Firefleas shinecharges
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
Labels: Area:Lower Norfair

#1789 Remove $id in schema
  schema/m3-bossScenarios.schema.json
  schema/m3-connection.schema.json
  schema/m3-enemies.schema.json
  schema/m3-helpers.schema.json
  schema/m3-items.schema.json
  schema/m3-note.schema.json
  schema/m3-requirements.schema.json
  schema/m3-room.schema.json
  schema/m3-tech.schema.json
  schema/m3-weapons.schema.json
Labels: Cleanup

#1781 More ways to open Caterpillar Room green gate with G-mode
  region/brinstar/red/Caterpillar Room.json
  region/maridia/outer/Crab Tunnel.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
Labels: Area:Brinstar

#1790 Add isDoorImmediatelyClosed property
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/region-readme.md
  schema/m3-room.schema.json
Labels: Model:Key Element

#1792 update canGrappleJump note
  tech.json
Labels: Logic:Tech

#1786 Add Roll Under Door notable
  region/brinstar/pink/Spore Spawn Farming Room.json
Labels: Area:Brinstar

#1785 Add leniency runway for fish tank
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/outer/Fish Tank.json
Labels: Area:Maridia

#1793 A Few Quick Fixes - Plasma Spark, East Ocean, East Cac
  region/crateria/east/East Ocean.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
Labels: Area:Many

#1795 More tests
  region/crateria/central/Parlor and Alcatraz.json
  region/lowernorfair/east/Lower Norfair Farming Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Main Hall.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Lower Norfair Elevator.json
  region/norfair/east/Norfair Reserve Tank Room.json
  region/norfair/east/Purple Farming Room.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crocomire Speedway.json
  resources/app/manifests/pip_requirements.txt
  schema/m3-requirements.schema.json
  tests/asserts/keywords.py
  tests/asserts/validate.py
Labels: Area:Many, Tests

#1796 Obstacle tests for resetRoom
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/red/Caterpillar Room.json
  region/crateria/central/Climb.json
  region/crateria/central/Pit Room.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Green Pirates Shaft.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/lowernorfair/west/Fast Ripper Room.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-yellow/Plasma Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Ice Beam Gate Room.json
  region/tourian/main/Metroid Room 4.json
  region/wreckedship/main/Attic.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Wrecked Ship East Super Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  tests/asserts/keywords.py
Labels: Area:Many, Tests

#1799 Add detail in shinespark tech descriptions and docs
  strats.md
  tech.json
Labels: Docs

#1802 Add missing Gravity and edit crab farm spots
  region/crateria/east/Crab Maze.json
  region/maridia/inner-pink/Crab Shaft.json
Labels: Area:Maridia, Area:Crateria

#1800 Shinecharge frame migration script
  logicalRequirements.md
  schema/m3-requirements.schema.json
  schema/m3-room.schema.json
  scripts/migrations/shinecharge_frames.py
  strats.md
  tests/asserts/keywords.py
Labels: PR: Ready, Major Overhaul
