Repository vg-json-data/sm-json-data, pull requests merged in 2024-12, with the labels that each got.

#1804 Botwoon Hallway Suitless Bootless Update Description
  region/maridia/inner-pink/Botwoon Hallway.json
Labels: Area:Maridia

#1807 Shinecharge tests
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/lowernorfair/east/Plowerhouse Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  tests/asserts/keywords.py
Labels: Area:Many, Tests

#1808 Easy Misc Fixes
  region/brinstar/pink/Big Pink.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/outer/Mt. Everest.json
Labels: Area:Many

#1803 Implicit exit/entrance conditions and related docs
  connection/connection-readme.md
  schema/m3-room.schema.json
  strats.md
Labels: Model:Key Element, Docs

#1806 Refine Pillar Room shinespark strats
  region/lowernorfair/east/Pillar Room.json
Labels: Area:Lower Norfair

#1810 Add Obstacles for Gates: Boyon Gate, Green Hills
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/roomDiagrams/green_GreenHillZone_54.png
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/roomDiagrams/outer_BoyonGateHall_200.png
Labels: Area:Maridia, Area:Brinstar

#1809 Rename and Broaden h_EtecoonDoorSpawnFix
  helpers.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
Labels: Logic:Helper, Tech:G-Mode

#1812 Use New Implicit Strats, Electric Death, Blue Boulder
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/roomDiagrams/blue_BlueBrinstarBoulderRoom_42.png
  region/wreckedship/main/Electric Death Room.json
  region/wreckedship/roomDiagrams/main_ElectricDeathRoom_166.png
Labels: Area:Wrecked Ship, Area:Brinstar, Room Diagram Update, Cleanup

#1817 Wrecked Ship Main Shaft break bomb block with Ice and Screw
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Area:Wrecked Ship

#1816 Remove spawnAt: Toilet, Big Pink
  region/brinstar/pink/Big Pink.json
  region/brinstar/roomDiagrams/pink_BigPink_59.png
  region/maridia/inner-pink/Toilet Bowl.json
Labels: Area:Maridia, Area:Brinstar, Room Diagram Update

#1815 Add Node: Top of Crab Shaft
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/roomDiagrams/inner-pink_CrabShaft_175.png
Labels: Area:Maridia, Room Diagram Update

#1820 PCJR unmorph bomb boost
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/west/Crocomire Escape.json
Labels: Area:Norfair

#1813 Farm cycle schema and examples
  logicalRequirements.md
  region/brinstar/blue/Construction Zone.json
  region/brinstar/pink/Big Pink.json
  region/region-readme.md
  schema/m3-requirements.schema.json
  schema/m3-room.schema.json
Labels: Model:Key Element

#1811 Add more comprehensive tests on shinecharge, blue, and shinespark states
  helpers.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Spore Spawn Farming Room.json
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/brinstar/red/Red Tower.json
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/East Ocean.json
  region/crateria/east/The Moat.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/lowernorfair/east/Wasteland.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Frog Speedway.json
  region/norfair/west/Business Center.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Ice Beam Gate Room.json
  region/tourian/main/Tourian Escape Room 3.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  schema/m3-requirements.schema.json
  tech.json
  tests/asserts/keywords.py
Labels: Area:Many, Tests

#1821 LN Firefleas X-mode shinespark
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
Labels: Area:Lower Norfair

#1822 West Ocean speedy HiJump to top item
  region/crateria/east/West Ocean.json
Labels: Area:Crateria

#1825 West Ocean respawning shot block moondance
  region/crateria/east/West Ocean.json
Labels: Area:Crateria

#1827 Some tricky Bat Cave bottom-to-top strats
  region/norfair/east/Bat Cave.json
Labels: Area:Norfair

#1823 Split off bubble mountain Frozen Ripper Squeeze
  region/norfair/east/Bubble Mountain.json
Labels: Area:Norfair

#1824 Remove spawnAt: West Ocean, Fast Pillar, Ice Gate
  region/crateria/east/West Ocean.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/roomDiagrams/east_FastPillarsSetupRoom_133.png
  region/norfair/roomDiagrams/west_IceBeamGateRoom_106.png
  region/norfair/west/Ice Beam Gate Room.json
Labels: Room Diagram Update, Area:Many

#1830 Remove spawnAt: Ridley, Amphitheatre, Screw
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/roomDiagrams/east_Amphitheatre_136.png
  region/lowernorfair/roomDiagrams/west_ScrewAttackRoom_151.png
  region/lowernorfair/west/Screw Attack Room.json
Labels: Area:Lower Norfair, Room Diagram Update

#1833 Some Crateria farms
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Power Bomb Room.json
  region/crateria/central/Flyway.json
  region/crateria/central/Pit Room.json
  region/crateria/east/Bowling Alley Path.json
Labels: Area:Crateria

#1832 Remove spawnAt: Morph Ball Room
  region/brinstar/blue/Morph Ball Room.json
  region/brinstar/roomDiagrams/blue_MorphBallRoom_38.png
Labels: Area:Brinstar, Room Diagram Update

#1836 Pink Hoppers, Add Hit as Entrance Condition
  region/brinstar/pink/Pink Brinstar Hopper Room.json
Labels: Area:Brinstar

#1834 Remove spawnAt: Climb, Blue Hopper, Mickey Mouse
  region/crateria/central/Climb.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/roomDiagrams/east_MickeyMouseRoom_144.png
  region/tourian/main/Blue Hopper Room.json
  region/tourian/roomDiagrams/main_BlueHopperRoom_230.png
Labels: Room Diagram Update, Area:Many

#1837 Remove Spawn At Schema, etc.
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Mt. Everest.json
  region/region-readme.md
  schema/m3-room.schema.json
  strats.md
  tests/asserts/keywords.py
Labels: Cleanup

#1838 Remove Incorrect MB G-Mode Return
  region/tourian/main/Mother Brain Room.json
Labels: Area:Tourian, Tech:G-Mode

#1839 Add test for cycleFrames/farmCycleDrops coverage
  tests/asserts/keywords.py
Labels: Tests

#1840 Add tests for strat coverage when disabling implicit entrance/exits
  tests/asserts/keywords.py
Labels: Tests

#1841 Add spark position in East Sand Hall
  region/maridia/inner-green/East Sand Hall.json
Labels: Area:Maridia

#1843 Add missing spike hit req for red brin firefleas x-mode
  region/brinstar/red/Red Brinstar Fireflea Room.json
Labels: Area:Brinstar

#1845 Add missing HiJump req to Bomb Boost Spring Ball Jump
  region/maridia/inner-yellow/Plasma Spark Room.json
Labels: Area:Maridia

#1847 Migrate comeInShinechargedJumping framesRequired to shineChargeFrames
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  schema/m3-room.schema.json
  strats.md
  tests/asserts/keywords.py
Labels: Model:Key Element

#1852 Fix some missing zebes awake requirements
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
Labels: Area:Brinstar

#1853 Finish map tile data and add tests
  region/ceres/main/58 Escape.json
  region/ceres/main/Ceres Elevator Room.json
  region/ceres/main/Ceres Ridley's Room.json
  region/ceres/main/Dead Scientist Room.json
  region/ceres/main/Falling Tile Room.json
  region/ceres/main/Magnet Stairs Room.json
  region/crateria/east/Homing Geemer Room.json
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-pink/Toilet Bowl.json
  schema/m3-room.schema.json
  tests/asserts/keywords.py
Labels: Tests

#1854 Make auto-formatting sort object properties by schema order
  schema/m3-note.schema.json
  schema/m3-room.schema.json
  scripts/autoformat.py
  scripts/schema_order.py
Labels: Tests, Cleanup

#1860 Golden Torizo R-mode clips
  region/lowernorfair/west/Golden Torizo's Room.json
Labels: Area:Lower Norfair

#1861 More Croc Speedway speedball strats
  region/norfair/west/Crocomire Speedway.json
Labels: Area:Norfair

#1859 Add missing OR
  region/maridia/outer/Mama Turtle Room.json
Labels: Area:Maridia

#1863 Add some tests for 'and' and 'or', fix a couple issues
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  tests/asserts/keywords.py
Labels: Area:Maridia, Area:Norfair, Tests

#1862 Insane Frozen Choot Spring Ball Jump and various other strats
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/tourian/main/Tourian Escape Room 4.json
  region/wreckedship/main/Phantoon's Room.json
Labels: Area:Many

#1864 Single Chamber temp blue
  region/norfair/east/Single Chamber.json
Labels: Area:Norfair

#1865 Green Brin Beetom Room moonfall
  region/brinstar/green/Green Brinstar Beetom Room.json
Labels: Area:Brinstar

#1866 Norfair Reserve Power Bomb with Double Damage Boost
  region/norfair/east/Norfair Reserve Tank Room.json
Labels: Area:Norfair
