Repository vg-json-data/sm-json-data, pull requests merged in 2024-07, with the labels that each got.

#1571 Add G-Mode return strats where there are SpawnAts
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/blue/Morph Ball Room.json
  region/crateria/east/West Ocean.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/tourian/main/Blue Hopper Room.json
Labels: Tech:G-Mode, Area:Many

#1567 Pink Brinstar remote runways & temp blue
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/pink/Spore Spawn Farming Room.json
  region/brinstar/pink/Waterway Energy Tank Room.json
Labels: Area:Brinstar

#1573 Climb - Add logic for rising lava
  helpers.json
  region/crateria/central/Climb.json
Labels: Area:Crateria

#1575 Tourian remote runways
  region/tourian/main/Big Boy Room.json
  region/tourian/main/Blue Hopper Room.json
  region/tourian/main/Dust Torizo Room.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Metroid Room 4.json
  region/tourian/main/Rinka Shaft.json
  region/tourian/main/Seaweed Room.json
  region/tourian/main/Tourian Escape Room 1.json
  region/tourian/main/Tourian Escape Room 2.json
  region/tourian/main/Tourian Escape Room 3.json
  region/tourian/main/Tourian Escape Room 4.json
  region/tourian/main/Tourian Eye Door Room.json
  region/tourian/main/Tourian First Room.json
Labels: Area:Tourian

#1576 Boyon Gate and Crab Hole remote runways
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
Labels: Area:Maridia

#1570 Kraid Brinstar remote runways
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/kraid/Kraid Eye Door Room.json
  region/brinstar/kraid/Kraid Room.json
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/kraid/Warehouse Entrance.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
Labels: Area:Brinstar

#1580 Green Brinstar: Use Flash Suit
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
Labels: Area:Brinstar, Tech:Flash Suit

#1572 Wrecked Ship remote runways
  logicalRequirements.md
  region/wreckedship/main/Attic.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Electric Death Room.json
  region/wreckedship/main/Gravity Suit Room.json
  region/wreckedship/main/Phantoon's Room.json
  region/wreckedship/main/Spiky Death Room.json
  region/wreckedship/main/Sponge Bath.json
  region/wreckedship/main/Wrecked Ship East Super Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  region/wreckedship/main/Wrecked Ship West Super Room.json
  schema/m3-requirements.schema.json
Labels: Area:Wrecked Ship

#1582 Blue, Pink Brinstar: Use Flash Suit
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/blue/Morph Ball Room.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/pink/Waterway Energy Tank Room.json
Labels: Area:Brinstar, Tech:Flash Suit

#1584 Red, Kraid Brinstar: Use Flash Suit
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/kraid/Warehouse Entrance.json
  region/brinstar/red/Below Spazer.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/brinstar/red/Red Tower.json
  region/brinstar/red/X-Ray Scope Room.json
Labels: Area:Brinstar, Tech:Flash Suit

#1581 Most of rest of West Maridia remote runways
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Main Street.json
  schema/m3-room.schema.json
  strats.md
Labels: Area:Maridia

#1585 Aqueduct remote runways
  region/maridia/inner-pink/Aqueduct.json
Labels: Area:Maridia

#1586 More Pink Maridia remote runways
  region/maridia/inner-pink/Below Botwoon Energy Tank.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Botwoon's Room.json
Labels: Area:Maridia

#1588 Colosseum remote runways
  region/maridia/inner-pink/Colosseum.json
  tech.json
Labels: Area:Maridia

#1592 Oasis Add Obstacle for Bomb Blocks
  region/maridia/inner-green/Oasis.json
  region/maridia/roomDiagrams/inner-green_Oasis_198.png
Labels: Area:Maridia, Room Diagram Update

#1589 Rest of Pink Maridia remote runways
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Draygon Save Room.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/norfair/east/Frog Savestation.json
Labels: Area:Maridia

#1593 Rest of Crateria: Use Flash Suit
  region/crateria/east/The Moat.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
  region/crateria/west/Green Pirates Shaft.json
  region/crateria/west/Statues Room.json
Labels: Area:Crateria, Tech:Flash Suit
