Repository vg-json-data/sm-json-data, pull requests merged in 2024-10, with the labels that each got.

#1679 Add Morph reqs to reserve double damage boosts
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia

#1678 Add missing leaveWithRunway, Blue Hopper Obstacle, h_runOverRespawningEnemies
  helpers.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Purple Farming Room.json
  region/tourian/main/Blue Hopper Room.json
Labels: Logic:Helper, Area:Many

#1682 Fix strat ID uniqueness check
  region/maridia/inner-pink/East Sand Hole.json
  tests/asserts/keywords.py
Labels: Tests

#1681 Remove Deprecated Event Nodes, pt. 3
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/roomDiagrams/inner-pink_BotwoonsRoom_185.png
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/roomDiagrams/crocomire_CrocomiresRoom_122.png
  region/tourian/main/Mother Brain Room.json
  region/tourian/roomDiagrams/main_MotherBrainRoom_238.png
Labels: Room Diagram Update, Area:Many, Cleanup, Node Change

#1680 Glass Tunnel, Event Node Removal, Overhaul
  region/maridia/outer/Glass Tunnel.json
  region/maridia/roomDiagrams/outer_GlassTunnel_170.png
Labels: Area:Maridia, Room Diagram Update, Cleanup, Node Change

#1686 Tighten PCJR diagonal spark framesRequired
  region/norfair/crocomire/Post Crocomire Jump Room.json
Labels: Area:Norfair

#1688 Remove colosseum grapple clip notable
  region/maridia/inner-pink/Colosseum.json
Labels: Area:Maridia

#1677 Add canStaggeredWalljump reqs to Bubble Mountain runway walljumps
  region/norfair/east/Bubble Mountain.json
Labels: Area:Norfair

#1674 Pink Maridia (Final): Use Flash Suit
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-pink/West Sand Hole.json
  region/maridia/outer/Fish Tank.json
  tech.json
Labels: Area:Maridia, Tech:Flash Suit

#1684 Refine Escape Room 4 walljumpless Space Jump
  region/tourian/main/Tourian Escape Room 4.json
Labels: Area:Tourian

#1683 Misc Fixes
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/crateria/central/Landing Site.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/roomDiagrams/inner-green_PantsRoom_220.png
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Ice Beam Tutorial Room.json
Labels: Room Diagram Update, Area:Many

#1675 Crocomire: Use Flash Suit
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/crocomire/Grapple Tutorial Room 2.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
Labels: Area:Norfair, Tech:Flash Suit

#1694 Add min speed for Croc Speedway Reverse Speedball
  region/norfair/west/Crocomire Speedway.json
Labels: Area:Norfair

#1690 Norfair Reserve Tank Room -- define Sovas as Obstacle B, strat 32 "Return Carefully (Sovas Cleared)"
  region/norfair/east/Norfair Reserve Tank Room.json
Labels: Area:Norfair

#1697 Add missing Morph req to canMomentumConservingMorph
  tech.json
Labels: Logic:Tech

#1698 Various
  region/crateria/east/East Ocean.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia, Area:Lower Norfair, Area:Crateria

#1700 Update Plowerhouse
  region/lowernorfair/east/Plowerhouse Room.json
Labels: Area:Lower Norfair

#1691 Norfair Reserve Tank Room -- Damage Boost strat
  region/norfair/east/Norfair Reserve Tank Room.json
Labels: Area:Norfair

#1704 Update volcano room lava side CF
  region/norfair/east/Volcano Room.json
Labels: Area:Norfair

#1705 Add missing speedball req in Below Spazer
  region/brinstar/red/Below Spazer.json
Labels: Area:Brinstar

#1706 Crocomire's Room add missing HiJump
  region/norfair/crocomire/Crocomire's Room.json
Labels: Area:Norfair
