Repository vg-json-data/sm-json-data, pull requests merged in 2025-04, with the labels that each got.

#1988 Some more quick finds from Sam's videos
  region/crateria/central/Crateria Super Room.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/norfair/east/Acid Snakes Tunnel.json
Labels: Tech:G-Mode, Area:Many

#1990 G-Mode- Some Easy LN East Rooms: Amphitheatre, Main Hall, PBs in Jail
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Lower Norfair Escape Power Bomb Room.json
  region/lowernorfair/east/Main Hall.json
Labels: Area:Lower Norfair, Tech:G-Mode

#1985 G-Mode: Golden Torizo
  region/lowernorfair/west/Golden Torizo's Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#1992 G-Mode - Remaining Easy LN East Rooms: Plowerhouse, LN Farm
  region/lowernorfair/east/Lower Norfair Farming Room.json
  region/lowernorfair/east/Plowerhouse Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#1993 Add canTrickyJump to Everest left crab climb with HiJump
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia

#1994 Refine West Sand Hall Tunnel shinecharges
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
Labels: Area:Maridia

#1989 Colosseum side platform applications
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/maridia/inner-pink/Below Botwoon Energy Tank.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/outer/Crab Hole.json
  region/tourian/main/Metroid Room 1.json
  region/wreckedship/main/Bowling Alley.json
  schema/m3-room.schema.json
Labels: Area:Maridia

#1998 Add wallJumpAvoid to strat and notable schema
  region/tourian/main/Tourian Escape Room 4.json
  schema/m3-room.schema.json
  strats.md
Labels: Model:Key Element

#1995 G-Mode, Second Pass: Central Crateria
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
Labels: Area:Crateria, Tech:G-Mode

#1997 G-Mode, Second Pass: Crateria East and West
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Green Pirates Shaft.json
  region/crateria/west/Statues Room.json
Labels: Area:Crateria, Tech:G-Mode

#2014 Fix Main Street Gmode Requirements
  region/maridia/outer/Main Street.json
Labels: Area:Maridia

#2012 Spiky Acid Snakes Tunnel X-mode
  region/norfair/east/Spiky Acid Snakes Tunnel.json
Labels: Area:Norfair

#2013 Mother Brain left-to-right clips
  helpers.json
  logicalRequirements.md
  region/tourian/main/Mother Brain Room.json
  schema/m3-requirements.schema.json
Labels: Area:Tourian

#2006 Removing and refining high-difficulty notables
  region/brinstar/green/Early Supers Room.json
  region/crateria/central/Final Missile Bombway.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Mt. Everest.json
Labels: Area:Many

#2010 Moat side platform jumps (L->R)
  region/crateria/east/The Moat.json
Labels: Area:Crateria

#2003 Removing and refining lower-difficulty notables
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/red/Red Tower.json
  region/crateria/central/Landing Site.json
  region/crateria/east/The Moat.json
  region/crateria/west/Gauntlet Entrance.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-yellow/Butterfly Room.json
  region/norfair/west/Crumble Shaft.json
Labels: Area:Many

#2015 G-Mode - Pillars, Fast Pillar Setup
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Pillar Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#2002 Crab Hole R->L side platform applications
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/outer/Crab Hole.json
Labels: Area:Maridia

#2007 A couple L->R side platform air applications
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/kraid/Baby Kraid Room.json
  region/crateria/central/Flyway.json
Labels: Area:Brinstar

#2000 East Cactus Alley side platform jumps
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/tourian/main/Dust Torizo Room.json
Labels: Area:Maridia

#2004 Remaining R->L side platform underwater applications
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Main Street.json
Labels: Area:Maridia

#2008 Maridia Elevator Room L->R side platform jumps
  region/brinstar/kraid/Baby Kraid Room.json
  region/crateria/central/Flyway.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Fish Tank.json
Labels: Area:Maridia

#2020 G-Mode: Red Kihunter Shaft
  region/lowernorfair/east/Red Kihunter Shaft.json
Labels: Area:Lower Norfair, Tech:G-Mode

#2021 G-Mode: Three Musketeers
  region/lowernorfair/east/Three Musketeers' Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#2022 G-Mode: Wasteland
  region/lowernorfair/east/Wasteland.json
Labels: Area:Lower Norfair, Tech:G-Mode

#2018 G-Mode: WRITG
  region/lowernorfair/east/The Worst Room In The Game.json
  strats.md
Labels: Area:Lower Norfair, Tech:G-Mode

#2023 Add Morph req to speed zebetite skip
  region/tourian/main/Mother Brain Room.json
Labels: Area:Tourian

#2019 Blue Brinstar Boulder shinespark
  region/brinstar/blue/Blue Brinstar Boulder Room.json
Labels: Area:Brinstar

#2017 G-Mode: Metal Pirates
  region/lowernorfair/east/Metal Pirates Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#1999 Aqueduct shinecharges
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/maridia/inner-pink/Aqueduct.json
Labels: Area:Maridia

#2031 G-Mode: Refine Main Street Speed locked item
  region/maridia/outer/Main Street.json
Labels: Area:Maridia, Tech:G-Mode

#2025 G-Mode: LN Spring Ball Maze
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#2030 Grapple Tutorial Room 3 side platform jumps
  region/norfair/crocomire/Grapple Tutorial Room 3.json
Labels: Area:Norfair

#2033 Blue Boulder and Early Supers side platforms, and comeInBlueSpaceJumping
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/green/Early Supers Room.json
  schema/m3-room.schema.json
  strats.md
  tests/asserts/keywords.py
Labels: Area:Brinstar

#2026 Ridley Room side platform jumps
  region/lowernorfair/east/Ridley's Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  tests/asserts/keywords.py
Labels: Area:Lower Norfair

#2032 Bubble Mountain side platform jumps
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/lowernorfair/east/Ridley Tank Room.json
  region/norfair/east/Bubble Mountain.json
Labels: Area:Norfair

#2036 Refine water shinecharge return in Oasis, Precious, and West Sand Hall Tunnel
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
  region/maridia/inner-pink/The Precious Room.json
Labels: Area:Maridia

#2028 Fast Pillars Setup cross-room tricky dash jump
  region/lowernorfair/east/Fast Pillars Setup Room.json
Labels: Area:Lower Norfair

#2029 Screw Attack Room left-to-right side platform jumps
  region/brinstar/kraid/Baby Kraid Room.json
  region/lowernorfair/west/Screw Attack Room.json
Labels: Area:Lower Norfair

#2035 Croc Escape spring ball strats
  region/norfair/west/Crocomire Escape.json
Labels: Area:Norfair

#2034 G-Mode: Big Pink Overhaul
  region/brinstar/pink/Big Pink.json
Labels: Area:Brinstar, Tech:G-Mode

#2037 Big Pink side platform jumps
  region/brinstar/pink/Big Pink.json
Labels: Area:Brinstar
