Repository vg-json-data/sm-json-data, pull requests merged in 2025-09, with the labels that each got.

#2273 Add missing resetRoom requirement on Homing Geemer farm
  region/crateria/east/Homing Geemer Room.json
Labels: Area:Crateria

#2275 Pink Maridia check flash suits part 1
  helpers.json
  region/maridia/inner-pink/Aqueduct Save Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Below Botwoon Energy Tank.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Botwoon Quicksand Room.json
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Draygon Save Room.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/East Aqueduct Quicksand Room.json
  region/maridia/inner-pink/East Cactus Alley.json
  schema/m3-room.schema.json
  strats.md
Labels: Area:Maridia

#2277 Croc Speedway: tighten some heat frames
  region/norfair/west/Crocomire Speedway.json
Labels: Area:Norfair

#2279 Pink Brinstar check flash suits
  region/brinstar/pink/Big Pink Save Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Dachora Energy Refill.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Mission Impossible Room.json
  region/brinstar/pink/Pink Brinstar Wave Gate Room.json
  region/brinstar/pink/Spore Spawn Farming Room.json
  region/brinstar/pink/Spore Spawn Super Room.json
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/brinstar/pink/Wave Gate Energy Tank Room.json
Labels: Area:Brinstar, Tech:Flash Suit

#2283 Kraid Brinstar check flash suits
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/kraid/Kraid Eye Door Room.json
  region/brinstar/kraid/Kraid Recharge Station.json
  region/brinstar/kraid/Kraid Room.json
  region/brinstar/kraid/Kraid Save Room.json
  region/brinstar/kraid/Varia Suit Room.json
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/kraid/Warehouse Entrance.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
Labels: Area:Brinstar, Tech:Flash Suit

#2284 Red Brinstar check flash suits pt. 1
  region/brinstar/red/Alpha Power Bomb Room.json
  region/brinstar/red/Below Spazer.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/Caterpillar Save Room.json
  region/brinstar/red/Hellway.json
Labels: Area:Brinstar, Tech:Flash Suit

#2288 Green Maridia check flash suits pt. 1
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/Lonely Crab Room.json
  region/maridia/roomDiagrams/inner-green_EastSandHall_210.png
Labels: Area:Maridia

#2290 Green Maridia check flash suits pt. 3 (West Sand Hall, etc.)
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/Shaktool Room.json
  region/maridia/inner-green/Spring Ball Room.json
  region/maridia/inner-green/West Sand Hall.json
Labels: Area:Maridia
