Repository vg-json-data/sm-json-data, pull requests merged in 2025-01, with the labels that each got.

#1868 Add detail to canManipulateMellas tech
  tech.json
Labels: Docs

#1867 Update Mella Ice Climb
  region/norfair/crocomire/Post Crocomire Jump Room.json
Labels: Area:Norfair

#1869 Add requirements to musketeers UP
  region/lowernorfair/east/Three Musketeers' Room.json
Labels: Area:Lower Norfair

#1858 Remove Metroid Room Obstacles & M1 Nodes
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Metroid Room 4.json
  region/tourian/roomDiagrams/main_MetroidRoom1_226.png
  region/tourian/roomDiagrams/main_MetroidRoom2_227.png
  region/tourian/roomDiagrams/main_MetroidRoom3_228.png
  region/tourian/roomDiagrams/main_MetroidRoom4_229.png
Labels: Area:Tourian, Room Diagram Update, Node Change

#1874 Ice Beam Gate Room: Mella Wall Ice Clip X-Ray Climb
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Norfair

#1873 Construction Zone ice moonfall leave with stored fall speed
  region/brinstar/blue/Construction Zone.json
Labels: Area:Brinstar

#1871 Add some of SamLittlehorns' new ice moonfall strats
  region/maridia/outer/Mt. Everest.json
  region/maridia/outer/Red Fish Room.json
  region/norfair/east/Bubble Mountain.json
  region/tourian/main/Metroid Room 4.json
Labels: Area:Many

#1872 Crocomire Speedway G-Mode Setups
  region/norfair/west/Crocomire Speedway.json
Labels: Area:Norfair, Tech:G-Mode

#1879 Butterfly Room left side wall ice clip
  region/maridia/inner-yellow/Butterfly Room.json
Labels: Area:Maridia

#1886 Fix to-node in Mella Wall Ice Clip X-Ray Climb
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Norfair

#1875 Big Pink: Wall Ice Clip X-Ray Climb
  region/brinstar/pink/Big Pink.json
Labels: Area:Brinstar

#1878 Etecoon ETank Wall Ice Clip X-Ray Climb
  region/brinstar/green/Etecoon Energy Tank Room.json
Labels: Area:Brinstar

#1877 G-Mode Setups in Lower Norfair
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Farming Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Plowerhouse Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/west/Acid Statue Room.json
  region/lowernorfair/west/Fast Ripper Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#1876 G-Mode Setups - Finish Remaining Upper Norfair
  region/norfair/east/Bubble Mountain.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Ice Beam Snake Room.json
Labels: Area:Norfair, Tech:G-Mode

#1880 Red Kihunter Shaft shinecharges
  region/lowernorfair/east/Red Kihunter Shaft.json
Labels: Area:Lower Norfair

#1883 Add tests for exit/entrance conditions based on strat name phrases
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/pink/Waterway Energy Tank Room.json
  region/crateria/central/Final Missile Bombway.json
  region/crateria/central/Pre-Map Flyway.json
  region/crateria/east/The Moat.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/outer/Fish Tank.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Spiky Acid Snakes Tunnel.json
  region/norfair/west/Crocomire Speedway.json
  region/tourian/main/Dust Torizo Room.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Tourian Escape Room 2.json
  region/tourian/main/Tourian Escape Room 3.json
  region/tourian/main/Tourian Escape Room 4.json
  region/tourian/main/Tourian Eye Door Room.json
  region/wreckedship/main/Spiky Death Room.json
  region/wreckedship/main/Sponge Bath.json
  strats.md
  tests/asserts/keywords.py
Labels: Area:Many, Tests

#1884 Refine Botwoon Quicksand Hidden Tunnel logic
  region/maridia/inner-pink/Botwoon Quicksand Room.json
Labels: Area:Maridia

#1882 Worst Room In The Game shinecharges
  region/lowernorfair/east/The Worst Room In The Game.json
Labels: Area:Lower Norfair

#1888 Rename strats passing through Botwoon Quicksand tunnel
  region/maridia/inner-pink/Botwoon Quicksand Room.json
Labels: Area:Maridia

#1890 Add canHeatedCrystalFlash tech
  helpers.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  tech.json
Labels: Area:Norfair, Area:Lower Norfair, Logic:Tech

#1893 Refine PCJR Mella ice clip
  region/norfair/crocomire/Post Crocomire Jump Room.json
Labels: Area:Norfair

#1892 Remove h_canFly
  helpers.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/kraid/Warehouse Entrance.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/Red Tower.json
  region/crateria/central/Landing Site.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Statues Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Plasma Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/inner-yellow/Watering Hole.json
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/crocomire/Grapple Tutorial Room 2.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/norfair/west/Ice Beam Gate Room.json
  region/tourian/main/Tourian Escape Room 3.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Logic:Helper, Cleanup

#1889 Boyon Gate and Crab Hole shinecharges
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
Labels: Area:Maridia

#1891 Glass Tunnel shinecharges (etc.)
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  tests/asserts/keywords.py
Labels: Area:Maridia

#1896 Frozen Mochtroid morphless grapple teleport setups
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Halfie Climb Room.json
  tech.json
Labels: Area:Maridia, Logic:Tech

#1897 Add canLongIBJ and Use Throughout, Bug Fixes
  helpers.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/brinstar/red/Red Tower.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/central/Landing Site.json
  region/crateria/east/East Ocean.json
  region/crateria/east/The Moat.json
  region/crateria/east/West Ocean.json
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/west/Acid Statue Room.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Plasma Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Mt. Everest.json
  region/maridia/outer/Red Fish Room.json
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/crocomire/Grapple Tutorial Room 2.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/tourian/main/Tourian Escape Room 3.json
  region/tourian/main/Tourian Escape Room 4.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  tech.json
Labels: Logic:Tech, Area:Many

#1894 Fix Big Pink G-Mode Bug, Add Reqs Fish Tank Spark
  region/brinstar/pink/Big Pink.json
  region/maridia/outer/Fish Tank.json
  region/maridia/roomDiagrams/outer_FishTank_173.png
Labels: Area:Maridia, Area:Brinstar

#1898 Rest of Outer Maridia shinecharges
  region/maridia/outer/Main Street.json
  region/maridia/outer/West Glass Tube Tunnel.json
Labels: Area:Maridia

#1901 Clean up some notable names
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/crateria/east/East Ocean.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/tourian/main/Tourian Escape Room 4.json
  region/wreckedship/main/Wrecked Ship East Super Room.json
Labels: Cleanup

#1905 Yellow Maridia shinecharges
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/maridia/inner-yellow/Butterfly Room.json
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Northwest Maridia Bug Room.json
  region/maridia/inner-yellow/Plasma Beach Quicksand Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/Plasma Tutorial Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
Labels: Area:Maridia

#1906 Green Maridia shinecharges
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/Shaktool Room.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
  region/maridia/inner-green/West Sand Hall.json
Labels: Area:Maridia

#1900 Some Pink Maridia shinecharges
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Below Botwoon Energy Tank.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Botwoon's Room.json
  region/maridia/inner-pink/Colosseum.json
Labels: Area:Maridia

#1899 Another Pass Through canSuitlessMaridia
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/maridia/roomDiagrams/inner-pink_Aqueduct_183.png
  region/maridia/roomDiagrams/inner-pink_EastSandHole_208.png
  region/wreckedship/main/Spiky Death Room.json
Labels: Strat:Basic, Area:Maridia, Room Diagram Update

#1903 Misc: Microwave Dray, Main St Ice Super, Hi E-Tank Screw, etc.
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/outer/Main Street.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/wreckedship/main/Phantoon's Room.json
Labels: Area:Many

#1907 Main Street G-Mode Cleanup
  region/maridia/outer/Main Street.json
Labels: Area:Maridia, Tech:G-Mode

#1908 Samus eater teleport
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/red/Alpha Power Bomb Room.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Hellway.json
  region/crateria/central/Parlor and Alcatraz.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/west/Ice Beam Snake Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  schema/m3-room.schema.json
  strats.md
  tech.json
Labels: Model:Logic Element, Logic:Tech, Area:Many

#1910 Artificial Morph Double Spring, G/P/Y Maridia
  helpers.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/inner-yellow/Watering Hole.json
Labels: Area:Maridia, Tech:G-Mode

#1909 G-Mode Main St Pt 2. Add Many Variations
  logicalRequirements.md
  region/maridia/outer/Main Street.json
  schema/m3-requirements.schema.json
  tests/asserts/keywords.py
Labels: Area:Maridia, Tech:G-Mode

#1915 Main Street: Add Double Spring Ball Jumps
  region/maridia/outer/Main Street.json
Labels: Area:Maridia, Tech:G-Mode

#1913 Add Remaining Artificial Morph Double Spring Ball Jumps
  region/maridia/inner-yellow/Watering Hole.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/east/Lava Dive Room.json
Labels: Tech:G-Mode, Area:Many

#1918 Add missing implied notable requirements.
  region/brinstar/pink/Big Pink.json
  region/crateria/central/Landing Site.json
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/west/Golden Torizo's Room.json
Labels: Area:Many

#1917 Refine East Cac Alley left-side X-mode shinecharge
  region/maridia/inner-pink/East Cactus Alley Room.json
Labels: Area:Maridia

#1919 Reverse Spore Spawn fight
  region/brinstar/green/Spore Spawn Room.json
Labels: Area:Brinstar

#1920 TrickySpringBallJump Pass
  region/brinstar/red/Red Tower.json
  region/crateria/east/The Moat.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/West Sand Hole.json
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Crocomire's Room.json
  region/wreckedship/main/Sponge Bath.json
Labels: Area:Many

#1914 A Few Misc Fixes: Kzan, Room Diagram, Leniency
  region/brinstar/roomDiagrams/green_EarlySupersRoom_45.png
  region/brinstar/roomDiagrams/pink_PinkBrinstarPowerBombRoom_60.png
  region/brinstar/roomDiagrams/red_CaterpillarRoom_75.png
  region/crateria/east/East Ocean.json
  region/lowernorfair/east/Wasteland.json
  region/maridia/roomDiagrams/inner-pink_BelowBotwoonEnergyTank_205.png
  region/norfair/west/Crocomire Escape.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Tourian Escape Room 4.json
  region/tourian/roomDiagrams/main_TourianEscapeRoom4_242.png
  region/wreckedship/main/Spiky Death Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Room Diagram Update, Area:Many

#1925 Notable sand bomb boost (left to right)
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
Labels: Area:Maridia

#1924 Adjust Main Street 'Suitless Frozen Fish, HiJump'
  region/maridia/outer/Main Street.json
  tech.json
Labels: Area:Maridia

#1927 Sand Bomb Boost strat: add details and PB variant
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
Labels: Area:Maridia, Docs
