Repository vg-json-data/sm-json-data, pull requests merged in 2025-05, with the labels that each got.

#2040 Below Spazer side platform jumps
  region/brinstar/red/Below Spazer.json
Labels: Area:Brinstar

#2044 Golden Torizo side platform jumps
  region/lowernorfair/west/Golden Torizo's Room.json
Labels: Area:Lower Norfair

#2046 Maridia Elevator Room right-to-top side platform jumps
  region/maridia/inner-yellow/Maridia Elevator Room.json
Labels: Area:Maridia

#2043 Pink Brin Hopper Room right-to-left side platform jumps
  region/brinstar/pink/Pink Brinstar Hopper Room.json
Labels: Area:Brinstar

#2049 BugFix: Lower Norfair Elevator bypassing heat frames
  region/norfair/east/Lower Norfair Elevator.json
Labels: Area:Norfair

#2048 Refine Botwoon ETank right-side shinecharges
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
Labels: Area:Maridia

#2045 Screw Attack Room side platform and blue speed jumps
  region/lowernorfair/west/Screw Attack Room.json
  strats.md
Labels: Area:Lower Norfair

#2054 Refine G-Mode: Red Brinstar
  region/brinstar/red/Alpha Power Bomb Room.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/brinstar/red/Red Tower.json
Labels: Area:Brinstar, Tech:G-Mode

#2055 Refine G-Mode: Kraid Brinstar
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
Labels: Area:Brinstar, Tech:G-Mode

#2057 Refine G-Mode: Green Brinstar
  region/brinstar/green/Brinstar Reserve Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  tests/asserts/keywords.py
Labels: Area:Brinstar, Tech:G-Mode

#2053 Refine G-Mode: Pink Brinstar
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/pink/Spore Spawn Super Room.json
Labels: Area:Brinstar, Tech:G-Mode

#2047 Add Green Hill Zone side platform setup, extend Halfie Climb setup
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/crateria/east/The Moat.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/east/Bubble Mountain.json
Labels: Area:Many

#2050 Refine Crab Shaft shinecharges
  region/maridia/inner-pink/Crab Shaft.json
Labels: Area:Maridia

#2059 Crab Maze leave shinecharged
  region/crateria/east/Crab Maze.json
Labels: Area:Crateria

#2061 Refine Spiky Acid Snakes Tunnel space jump strats
  region/norfair/east/Spiky Acid Snakes Tunnel.json
Labels: Area:Norfair

#2068 Warehouse E-Tank tricky evade beetoms
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/wreckedship/main/Bowling Alley.json
Labels: Area:Brinstar

#2072 Add missing spring ball jump options in Escape Room 3
  region/tourian/main/Tourian Escape Room 3.json
Labels: Area:Tourian

#2063 Refine spiky platform bounceball strats
  region/norfair/east/Spiky Platforms Tunnel.json
Labels: Area:Norfair

#2074 Refine fast pillars setup top-left x-ray climb
  region/lowernorfair/east/Fast Pillars Setup Room.json
Labels: Area:Lower Norfair

#2073 Add reqs to deal with Pirates in Escape Room 4 L->R
  region/tourian/main/Tourian Escape Room 4.json
Labels: Area:Tourian
