Repository vg-json-data/sm-json-data, pull requests merged in 2025-07, with the labels that each got.

#2102 A few cross-room spring ball bounce strats
  region/crateria/east/West Ocean.json
  region/maridia/outer/Fish Tank.json
  region/wreckedship/main/Basement.json
Labels: Area:Many

#2103 Downward G-Mode setups, sand transitions
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-yellow/Bug Sand Hole.json
  tech.json
Labels: Area:Maridia, Tech:G-Mode

#2109 Refine Seaweed Room shinecharges
  region/tourian/main/Seaweed Room.json
Labels: Area:Tourian

#2115 LN Fireflea shinespark
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
Labels: Area:Lower Norfair

#2113 A couple more moonfall clips
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/norfair/east/Red Pirate Shaft.json
Labels: Area:Norfair, Area:Lower Norfair

#2097 Misc horizontal G-mode setups
  region/lowernorfair/east/Ridley's Room.json
  region/maridia/inner-pink/Draygon's Room.json
  region/norfair/east/Green Bubbles Tunnel.json
  region/norfair/west/Crocomire Escape.json
Labels: Tech:G-Mode, Area:Many

#2122 Rest of Blue Brinstar farms
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/blue/Morph Ball Room.json
Labels: Area:Brinstar

#2121 Rest of Crateria farms
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pre-Map Flyway.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/East Ocean.json
  region/crateria/east/Forgotten Highway Kago Room.json
  region/crateria/east/Homing Geemer Room.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
  region/crateria/west/Green Pirates Shaft.json
  region/crateria/west/Lower Mushrooms.json
  region/crateria/west/Terminator Room.json
Labels: Area:Crateria

#2125 Reverse Mother Brain notable
  region/tourian/main/Mother Brain Room.json
Labels: Area:Tourian

#2126 Below Spazer CWJ jump shot speedball
  region/brinstar/red/Below Spazer.json
Labels: Area:Brinstar

#2124 Refine Volcano Room
  logicalRequirements.md
  region/norfair/east/Volcano Room.json
  schema/m3-requirements.schema.json
  schema/m3-room.schema.json
Labels: Area:Norfair

#2123 Green Brinstar farms
  region/brinstar/green/Brinstar Pre-Map Room.json
  region/brinstar/green/Early Supers Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Beetom Room.json
  region/brinstar/green/Green Brinstar Fireflea Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/green/Noob Bridge.json
  region/brinstar/green/Spore Spawn Kihunter Room.json
Labels: Area:Brinstar

#2130 Tighten Big Pink right-side tunnel leaveShinecharged
  region/brinstar/pink/Big Pink.json
Labels: Area:Brinstar

#2127 Pink Brinstar farms
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Mission Impossible Room.json
  region/brinstar/pink/Pink Brinstar Wave Gate Room.json
  region/brinstar/pink/Spore Spawn Farming Room.json
  region/brinstar/pink/Spore Spawn Super Room.json
  region/brinstar/pink/Waterway Energy Tank Room.json
Labels: Area:Brinstar

#2128 Red Brinstar farms
  helpers.json
  region/brinstar/red/Alpha Power Bomb Room.json
  region/brinstar/red/Below Spazer.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/Hellway.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/brinstar/red/Red Tower.json
  region/brinstar/red/Skree Boost Room.json
Labels: Area:Brinstar

#2131 Warehouse Brinstar farms
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/kraid/Kraid Eye Door Room.json
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
Labels: Area:Brinstar

#2138 Restrict position of Kraid Eye Door hero shot spark
  region/brinstar/kraid/Kraid Eye Door Room.json
Labels: Area:Brinstar

#2136 Croc Area Farms
  region/norfair/crocomire/Cosine Room.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Indiana Jones Room.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
Labels: Area:Norfair

#2135 Add canLongXRayClimb tech
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Green Hill Zone.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Dachora Room.json
  region/brinstar/pink/Spore Spawn Super Room.json
  region/brinstar/red/Red Tower.json
  region/crateria/central/Climb Supers Room.json
  region/crateria/central/Climb.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/Crateria Kihunter Room.json
  region/crateria/east/The Moat.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Green Pirates Shaft.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/east/Wasteland.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/East Cactus Alley.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Maridia Swiss Cheese Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Maridia Tube.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/east/Single Chamber.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/west/Business Center.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Ice Beam Gate Room.json
  region/tourian/main/Rinka Shaft.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Electric Death Room.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  tech.json
Labels: Logic:Tech

#2144 More Bowling Alley X-Ray climbs
  region/wreckedship/main/Bowling Alley.json
  tech.json
Labels: Area:Wrecked Ship

#2133 Aqueduct G-Mode: Second Pass
  region/maridia/inner-pink/Aqueduct.json
Labels: Area:Maridia, Tech:G-Mode

#2151 Moat CWJ bomb boost
  region/crateria/east/The Moat.json
  region/maridia/outer/Mama Turtle Room.json
Labels: Area:Crateria

#2155 Halfie Climb temp blue updates based on Sam videos
  region/maridia/inner-pink/Halfie Climb Room.json
Labels: Area:Maridia

#2156 Post Croc Shaft superless moonfall option
  region/norfair/crocomire/Post Crocomire Shaft.json
Labels: Area:Norfair

#2157 Refine Rising Tide speedball
  region/norfair/east/Rising Tide.json
Labels: Area:Norfair

#2160 Add dodge option for Pants Room grapple jump
  region/maridia/inner-green/Pants Room.json
Labels: Area:Maridia

#2161 Aqueduct damageless snail stuck moonfall
  region/maridia/inner-pink/Aqueduct.json
Labels: Area:Maridia

#2162 Climb frozen pirate behemoth spark
  region/crateria/central/Climb.json
Labels: Area:Crateria

#2147 Refine Crumble Shaft
  region/norfair/west/Crumble Shaft.json
Labels: Area:Norfair

#2153 Fish Tank and Main Street farms
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Main Street.json
Labels: Area:Maridia

#2159 Refine Moat temp blue
  region/crateria/east/The Moat.json
Labels: Area:Crateria

#2145 Most of Pink Maridia G-Mode: Second Pass
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/West Cactus Alley.json
Labels: Area:Maridia, Tech:G-Mode

#2166 Behemoth spark while farming
  region/crateria/central/Climb.json
Labels: Area:Crateria

#2163 LN G-Mode: Second Pass
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/lowernorfair/west/Golden Torizo's Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#2167 Wall jump tech adjustments
  region/brinstar/pink/Big Pink.json
  region/brinstar/red/Red Tower.json
  region/crateria/central/Landing Site.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Gauntlet Entrance.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-pink/East Cactus Alley.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/The Beach.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/west/Crumble Shaft.json
  region/tourian/main/Metroid Room 1.json
  tech.json
Labels: Logic:Tech, Area:Many

#2170 Missed StaggeredWalljump
  region/norfair/west/Crumble Shaft.json
Labels: Area:Norfair

#2169 Indiana Jones G-Mode Restructure
  region/norfair/crocomire/Indiana Jones Room.json
Labels: Area:Norfair, Tech:G-Mode

#2152 G-Mode Fixes from Bobbob's List
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/blue/Morph Ball Room.json
  region/crateria/central/Landing Site.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/West Ocean.json
Labels: Area:Crateria, Area:Brinstar, Tech:G-Mode

#2164 Refine X-Ray dboost strats
  region/brinstar/red/Red Brinstar Fireflea Room.json
Labels: Area:Brinstar

#2182 Downgrade Plasma Spark precise crouch jump
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/Watering Hole.json
Labels: Area:Maridia
