Repository vg-json-data/sm-json-data, pull requests merged in 2025-02, with the labels that each got.

#1921 Remove canSandIBJ
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/East Sand Hole.json
  tech.json
Labels: Area:Maridia, Logic:Tech

#1922 Cross-room grapple jumps
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/red/Caterpillar Room.json
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/brinstar/red/Red Tower.json
  region/crateria/central/Crateria Super Room.json
  region/crateria/east/The Moat.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Ridley's Room.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Pseudo Plasma Spark Room.json
  region/maridia/outer/Boyon Gate Hall.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/maridia/outer/Red Fish Room.json
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/crocomire/Grapple Tutorial Room 2.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Spiky Acid Snakes Tunnel.json
  region/tourian/main/Tourian Escape Room 4.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  schema/m3-room.schema.json
  strats.md
  tech.json
  tests/asserts/keywords.py
Labels: Logic:Tech, Area:Many, New Strat Type

#1931 Add leaveWithGrappleJump in Everest
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia

#1933 Fix/refine Draygon Microwave Fight strat
  region/maridia/inner-pink/Draygon's Room.json
Labels: Area:Maridia

#1936 Fix Crab Shaft cross room space jump strat, add notes
  region/maridia/inner-pink/Crab Shaft.json
Labels: Area:Maridia

#1929 Video Site Finds Pt. 1
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/east/Double Chamber.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Metroid Room 4.json
Labels: Area:Many

#1938 Add more detail to run speed table
  strats.md
Labels: Docs

#1941 Add heat frames for leaveWithTemporaryBlue missile unlock
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Bat Cave.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Green Bubbles Missile Room.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Lava Dive Room.json
  region/norfair/east/Lower Norfair Elevator.json
  region/norfair/east/Magdollite Tunnel.json
  region/norfair/east/Purple Shaft.json
  region/norfair/east/Rising Tide.json
  region/norfair/east/Single Chamber.json
Labels: Area:Norfair

#1940 Add Suitless Puyo Ice Clip with Xray
  region/brinstar/green/Green Hill Zone.json
  region/maridia/inner-green/East Pants Room.json
  tech.json
Labels: Area:Maridia

#1939 Video Site Finds Pt. 2
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/red/Caterpillar Room.json
  region/crateria/central/Climb.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/West Sand Hall Tunnel.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/inner-yellow/Plasma Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Crab Tunnel.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Frog Speedway.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crumble Shaft.json
  region/tourian/main/Tourian Escape Room 4.json
  region/wreckedship/main/Sponge Bath.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
Labels: Area:Many

#1942 Rest of East Upper Norfair temp blue
  region/norfair/east/Spiky Acid Snakes Tunnel.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/east/Volcano Room.json
  tech.json
Labels: Area:Norfair, Docs

#1944 Update Draygon cross-room requirements and notes
  region/maridia/inner-pink/Draygon's Room.json
Labels: Area:Maridia

#1945 Add G-Mode to Croc Escape
  helpers.json
  region/norfair/west/Crocomire Escape.json
  tests/asserts/keywords.py
Labels: Area:Norfair, Tech:G-Mode

#1948 A Few Misc G-Mode Strats
  region/brinstar/blue/Morph Ball Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/crateria/east/Crateria Kihunter Room.json
Labels: Tech:G-Mode

#1947 G-Mode: Remaining Upper Norfair West
  helpers.json
  region/norfair/crocomire/Post Crocomire Power Bomb Room.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Ice Beam Acid Room.json
  region/norfair/west/Ice Beam Snake Room.json
  region/norfair/west/Ice Beam Tutorial Room.json
  tests/asserts/keywords.py
Labels: Area:Norfair, Tech:G-Mode

#1951 G-Mode: Acid Snakes, Cathedral/Entrance
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Cathedral.json
Labels: Area:Norfair, Tech:G-Mode

#1955 Test for unique strat names within a link
  region/brinstar/blue/Morph Ball Room.json
  region/brinstar/pink/Pink Brinstar Hopper Room.json
  region/brinstar/red/Below Spazer.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/outer/Fish Tank.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/tourian/main/Metroid Room 1.json
  tests/asserts/keywords.py
Labels: Tests

#1952 G-Mode: A few easy Upper Norfair East rooms
  region/norfair/east/Green Bubbles Missile Room.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Lower Norfair Elevator.json
  region/norfair/east/Purple Shaft.json
  region/norfair/east/Speed Booster Room.json
Labels: Area:Norfair, Tech:G-Mode

#1953 G-Mode: More easy Upper Norfair East rooms
  region/norfair/east/Norfair Reserve Tank Room.json
  region/norfair/east/Rising Tide.json
  region/norfair/east/Speed Booster Hall.json
Labels: Area:Norfair, Tech:G-Mode

#1956 G-Mode: Remaining easy Upper Norfair East rooms
  region/norfair/east/Magdollite Tunnel.json
  region/norfair/east/Spiky Platforms Tunnel.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/east/Volcano Room.json
Labels: Area:Norfair, Tech:G-Mode

#1958 West Cac Alley underwater bomb into Spring Ball jump
  region/maridia/inner-pink/West Cactus Alley Room.json
Labels: Area:Maridia

#1959 G-Mode: Single Chamber
  region/norfair/east/Single Chamber.json
Labels: Area:Norfair, Tech:G-Mode

#1960 Add canHeatedGMode
  helpers.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Cathedral.json
  region/norfair/east/Green Bubbles Missile Room.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Magdollite Tunnel.json
  region/norfair/east/Norfair Reserve Tank Room.json
  region/norfair/east/Purple Shaft.json
  region/norfair/east/Rising Tide.json
  region/norfair/east/Single Chamber.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/east/Volcano Room.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Ice Beam Snake Room.json
  strats.md
  tech.json
  tests/asserts/keywords.py
Labels: Logic:Tech, Tech:G-Mode
