Repository vg-json-data/sm-json-data, pull requests merged in 2025-08, with the labels that each got.

#2183 UN East farms part 1
  region/norfair/east/Bat Cave.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Cathedral Entrance.json
Labels: Area:Norfair

#2187 UN East Farms Part 2
  region/norfair/east/Cathedral.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Frog Speedway.json
  region/norfair/east/Green Bubbles Tunnel.json
  region/norfair/east/Kronic Boost Room.json
  region/norfair/east/Lava Farm Tunnel.json
Labels: Area:Norfair

#2186 Plasma Room damage-avoiding pseudo screw
  region/maridia/inner-yellow/Plasma Room.json
Labels: Area:Maridia

#2175 Upper Norfair West G-Mode: Second Pass
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/norfair/west/Ice Beam Gate Room.json
  region/norfair/west/Ice Beam Snake Room.json
Labels: Area:Norfair, Tech:G-Mode

#2184 More East Sand Hall notables
  region/maridia/inner-green/East Sand Hall.json
Labels: Area:Maridia

#2191 Botwoon E-Tank Room: add left-side suitless leaveShinecharged
  region/maridia/inner-pink/Botwoon Energy Tank Room.json
Labels: Area:Maridia

#2190 Outer Maridia G-Mode: Second Pass
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Maridia Tube.json
  region/maridia/outer/Mt. Everest.json
Labels: Area:Maridia, Tech:G-Mode

#2189 Pink Maridia farms part 2: Botwoon Hallway, etc.
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
Labels: Area:Maridia

#2195 Upper Norfair East G-mode: part 1
  region/norfair/east/Bubble Mountain.json
  region/norfair/east/Cathedral Entrance.json
  region/norfair/east/Frog Speedway.json
  region/norfair/east/Green Bubbles Tunnel.json
  region/norfair/east/Lower Norfair Elevator.json
Labels: Area:Norfair, Tech:G-Mode

#2199 More UN East Farms
  region/norfair/east/Magdollite Tunnel.json
  region/norfair/east/Norfair Reserve Tank Room.json
  region/norfair/east/Purple Farming Room.json
  region/norfair/east/Red Pirate Shaft.json
Labels: Area:Norfair

#2202 Screw Attack Room canBombAboveIBJ and other refinements
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/lowernorfair/west/Screw Attack Room.json
Labels: Area:Lower Norfair

#2203 Amphitheatre CF strats and a few other refinements
  region/lowernorfair/east/Amphitheatre.json
  tests/asserts/keywords.py
Labels: Area:Lower Norfair

#2204 Remaining UNEast Farms
  region/norfair/east/Rising Tide.json
  region/norfair/east/Single Chamber.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Upper Norfair Farming Room.json
Labels: Area:Norfair

#2206 More heated Crystal Flash strats
  helpers.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/norfair/east/Single Chamber.json
  region/norfair/east/Speed Booster Hall.json
  region/norfair/east/Spiky Platforms Tunnel.json
  region/norfair/east/Upper Norfair Farming Room.json
  region/norfair/east/Volcano Room.json
  region/norfair/west/Ice Beam Snake Room.json
Labels: Area:Norfair, Area:Lower Norfair

#2208 LN EAST FARMS 1
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Farming Room.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
Labels: Area:Lower Norfair

#2217 Remaining LN East Farms
  region/lowernorfair/east/Lower Norfair Spring Ball Maze.json
  region/lowernorfair/east/Metal Pirates Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Plowerhouse Room.json
  region/lowernorfair/east/Red Kihunter Shaft.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/east/Three Musketeers' Room.json
Labels: Area:Lower Norfair

#2211 Add canComplexGMode to Crateria
  region/brinstar/pink/Big Pink.json
  region/crateria/central/Climb Supers Room.json
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Tube.json
  region/crateria/central/Final Missile Bombway.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/East Ocean.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/crateria/west/Green Pirates Shaft.json
Labels: Area:Crateria, Tech:G-Mode

#2219 Add canComplexGMode to Green and Yellow Maridia
  region/maridia/inner-green/Shaktool Room.json
  region/maridia/inner-yellow/Kassiuz Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/inner-yellow/Plasma Spark Room.json
  region/maridia/inner-yellow/The Beach.json
Labels: Area:Maridia, Tech:G-Mode

#2214 Add canComplexGMode to LN
  helpers.json
  region/lowernorfair/east/Fast Pillars Setup Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze.json
  region/lowernorfair/east/Main Hall.json
  region/lowernorfair/east/Plowerhouse Room.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/east/The Jail.json
  region/lowernorfair/east/The Worst Room In The Game.json
  region/lowernorfair/east/Three Musketeers' Room.json
  region/lowernorfair/east/Wasteland.json
  region/lowernorfair/west/Golden Torizo's Room.json
  region/lowernorfair/west/Screw Attack Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#2216 Rest of Yellow Maridia farms
  region/maridia/inner-yellow/Plasma Tutorial Room.json
  region/maridia/inner-yellow/The Beach.json
  region/maridia/inner-yellow/Thread The Needle Room.json
  region/maridia/inner-yellow/Watering Hole.json
  region/maridia/inner-yellow/Yoink Room.json
Labels: Area:Maridia

#2226 Add canComplexGMode to setups (B, C, T, WS)
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/kraid/Kraid Eye Door Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Dachora Room.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/east/West Ocean.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Rinka Shaft.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Tech:G-Mode, Area:Many

#2228 Rest of Green Maridia farms: Shaktool Room, etc.
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-green/Lonely Crab Room.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/Shaktool Room.json
Labels: Area:Maridia

#2223 Green Maridia farms part 1: Sand Halls
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/West Sand Hall.json
Labels: Area:Maridia

#2232 Climb Supers speed keep lenience
  helpers.json
  region/crateria/central/Climb Supers Room.json
Labels: Area:Crateria

#2237 Remove R-mode Req from G-mode
  tech.json
Labels: Logic:Tech, Tech:G-Mode

#2238 Rename canEnterGMode to canGMode
  helpers.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/blue/Morph Ball Room.json
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Pink Brinstar Wave Gate Room.json
  region/brinstar/red/Caterpillar Room.json
  region/crateria/central/Landing Site.json
  region/crateria/east/West Ocean.json
  region/crateria/west/Green Pirates Shaft.json
  region/lowernorfair/east/Wasteland.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-yellow/Maridia Elevator Room.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Indiana Jones Room.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/east/Bubble Mountain.json
  region/norfair/west/Crocomire Speedway.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  strats.md
  tech.json
Labels: Logic:Tech, Tech:G-Mode

#2243 Red Tower x-ray climbs
  region/brinstar/red/Red Tower.json
Labels: Area:Brinstar

#2242 Early Supers right-side G-mode setup from right
  region/brinstar/green/Early Supers Room.json
Labels: Area:Brinstar

#2246 Maridia Elevator IBJ and SpaceJump ripper dodge options
  region/maridia/inner-yellow/Maridia Elevator Room.json
Labels: Area:Maridia

#2247 Misc Small Changes
  region/brinstar/green/Green Hill Zone.json
  region/crateria/west/Statues Room.json
  region/norfair/east/Double Chamber.json
  region/norfair/east/Green Bubbles Tunnel.json
  region/tourian/main/Metroid Room 1.json
  tech.json
Labels: Area:Many

#2249 Ice beam crouch gate clip
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Norfair

#2260 Crumble Shaft: adjust mapTileMask
  region/norfair/west/Crumble Shaft.json
Labels: Area:Norfair

#2259 Main uses of canComplexCarryFlashSuit
  helpers.json
  region/maridia/outer/Crab Gate Room.json
  tech.json
Labels: Tech:Flash Suit

#2253 Crateria Central check flash suits
  logicalRequirements.md
  region/crateria/central/230 Missile Room.json
  region/crateria/central/Blue Brinstar Elevator Room.json
  region/crateria/central/Bomb Torizo Room.json
  region/crateria/central/Climb Supers Room.json
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Map Room.json
  region/crateria/central/Crateria Power Bomb Room.json
  region/crateria/central/Crateria Save Room.json
  region/crateria/central/Crateria Tube.json
  region/crateria/central/Final Missile Bombway.json
  region/crateria/central/Flyway.json
  region/crateria/central/Landing Site.json
  region/crateria/central/Parlor and Alcatraz.json
  region/crateria/central/Pit Room.json
  region/crateria/central/Pre-Map Flyway.json
  strats.md
  tech.json
Labels: Area:Crateria, Tech:Flash Suit

#2256 Blue Brinstar check flash suits
  region/brinstar/blue/Billy Mays Room.json
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/blue/Blue Brinstar Energy Tank Room.json
  region/brinstar/blue/Construction Zone.json
  region/brinstar/blue/First Missile Room.json
  region/brinstar/blue/Morph Ball Room.json
Labels: Area:Brinstar, Tech:Flash Suit

#2261 Simplify underwater crouch jump helpers
  helpers.json
  region/crateria/east/East Ocean.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-pink/Botwoon Hallway.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/East Sand Pit.json
Labels: Tech:Flash Suit

#2262 A couple more helpers for flash suits
  helpers.json
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/maridia/outer/Crab Hole.json
Labels: Tech:Flash Suit

#2264 Tourian check flash suits
  region/tourian/main/Big Boy Room.json
  region/tourian/main/Dust Torizo Room.json
  region/tourian/main/Lower Tourian Save Room.json
  region/tourian/main/Metroid Room 1.json
  region/tourian/main/Metroid Room 2.json
  region/tourian/main/Metroid Room 3.json
  region/tourian/main/Metroid Room 4.json
  region/tourian/main/Mother Brain Room.json
  region/tourian/main/Rinka Shaft.json
  region/tourian/main/Seaweed Room.json
  region/tourian/main/Tourian Escape Room 1.json
  region/tourian/main/Tourian Escape Room 2.json
  region/tourian/main/Tourian Escape Room 3.json
  region/tourian/main/Tourian Escape Room 4.json
  region/tourian/main/Tourian Eye Door Room.json
  region/tourian/main/Tourian First Room.json
  region/tourian/main/Tourian Hopper Room.json
  region/tourian/main/Tourian Recharge Room.json
  region/tourian/main/Upper Tourian Save Room.json
  strats.md
Labels: Area:Tourian, Tech:Flash Suit

#2266 Crocomire Norfair check flash suits
  region/norfair/crocomire/Cosine Room.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Grapple Beam Room.json
  region/norfair/crocomire/Grapple Tutorial Room 1.json
  region/norfair/crocomire/Grapple Tutorial Room 2.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Indiana Jones Room.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/crocomire/Post Crocomire Power Bomb Room.json
  region/norfair/crocomire/Post Crocomire Save Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
Labels: Area:Norfair, Tech:Flash Suit

#2265 Wrecked Ship check flash suits
  region/wreckedship/main/Attic.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/main/Electric Death Room.json
  region/wreckedship/main/Gravity Suit Room.json
  region/wreckedship/main/Phantoon's Room.json
  region/wreckedship/main/Robot Assembly Line.json
  region/wreckedship/main/Spiky Death Room.json
  region/wreckedship/main/Sponge Bath.json
  region/wreckedship/main/Wrecked Ship East Super Room.json
  region/wreckedship/main/Wrecked Ship Energy Tank Room.json
  region/wreckedship/main/Wrecked Ship Entrance.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  region/wreckedship/main/Wrecked Ship Map Room.json
  region/wreckedship/main/Wrecked Ship Save Room.json
  region/wreckedship/main/Wrecked Ship West Super Room.json
Labels: Area:Wrecked Ship, Tech:Flash Suit

#2267 Refine flash suits and max height spring ball
  region/brinstar/red/Red Brinstar Fireflea Room.json
  region/crateria/east/East Ocean.json
  region/maridia/inner-green/East Pants Room.json
  region/maridia/inner-green/East Sand Hall.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-green/Pants Room.json
  region/maridia/inner-green/West Sand Hall.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/East Cactus Alley.json
  region/maridia/inner-pink/East Sand Pit.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/West Sand Pit.json
  region/maridia/inner-yellow/Watering Hole.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Main Street.json
  region/maridia/outer/Mama Turtle Room.json
  region/maridia/outer/Maridia Tube.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/east/Double Chamber.json
Labels: Area:Maridia, Area:Many, Tech:Flash Suit

#2268 Norfair West check flash suits
  region/norfair/roomDiagrams/west_IceBeamTrippersRoom_107.png
  region/norfair/west/Business Center.json
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crocomire Save Room.json
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Hi Jump Boots Room.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/norfair/west/Ice Beam Gate Room.json
  region/norfair/west/Ice Beam Room.json
  region/norfair/west/Ice Beam Snake Room.json
  region/norfair/west/Ice Beam Trippers Room.json
  region/norfair/west/Ice Beam Tutorial Room.json
  region/norfair/west/Norfair Map Room.json
Labels: Area:Norfair, Tech:Flash Suit
