Repository vg-json-data/sm-json-data, pull requests merged in 2025-10, with the labels that each got.

#2291 A few more East Sand Hall cross-room strats
  region/maridia/inner-green/East Sand Hall.json
Labels: Area:Maridia

#2295 Tighten Lava Grapple Tunnel grapple heat frames
  region/norfair/east/Lava Grapple Tunnel.json
Labels: Area:Norfair

#2299 Increase leaveSpaceJumping runway in Below Spazer top
  region/brinstar/red/Below Spazer.json
Labels: Area:Brinstar

#2301 Update note for Kronic Boost samus eater teleport
  region/norfair/east/Kronic Boost Room.json
Labels: Area:Norfair

#2300 Norfair East check flash suits pt. 2 (Double Chamber)
  region/norfair/east/Double Chamber.json
  region/norfair/east/Frog Savestation.json
  region/norfair/east/Frog Speedway.json
  region/norfair/east/Green Bubbles Tunnel.json
Labels: Area:Norfair

#2306 add CanSlopeSpark to logic
  region/brinstar/pink/Spore Spawn Farming Room.json
  tech.json
Labels: Logic:Tech, Tech:Flash Suit
