Repository vg-json-data/sm-json-data, pull requests merged in 2025-06, with the labels that each got.

#2080 Alpha PBs: fix Base strat 2->3
  region/brinstar/red/Alpha Power Bomb Room.json
Labels: Area:Brinstar

#2083 Ridley G-mode and ridleyKill requirement
  logicalRequirements.md
  region/lowernorfair/east/Ridley's Room.json
  schema/m3-requirements.schema.json
  tests/asserts/keywords.py
Labels: Area:Lower Norfair

#2086 Heated G-mode, Upper Norfair West, Sam's video finds
  region/norfair/west/Crocomire Speedway.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Ice Beam Snake Room.json
  region/norfair/west/Ice Beam Tutorial Room.json
Labels: Area:Norfair, Tech:G-Mode

#2089 Adjust Mama Turtle node map tiles
  region/maridia/outer/Mama Turtle Room.json
Labels: Area:Maridia

#2085 Refine some Metroid Room 2 shinecharges
  region/tourian/main/Metroid Room 2.json
Labels: Area:Tourian

#2095 Direct G-mode open blue gates
  region/brinstar/green/Green Hill Zone.json
  region/norfair/east/Double Chamber.json
Labels: Area:Norfair, Area:Brinstar, Tech:G-Mode

#2094 Fixes to strats in my plando
  region/brinstar/green/Spore Spawn Room.json
  region/maridia/inner-green/Shaktool Room.json
  region/norfair/crocomire/Post Crocomire Missile Room.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Bowling Alley.json
  region/wreckedship/roomDiagrams/main_BowlingAlley_161.png
Labels: Area:Many

#2099 Small misc changes
  region/brinstar/red/Caterpillar Room.json
  region/crateria/east/East Ocean.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-pink/Aqueduct.json
  region/norfair/crocomire/Grapple Tutorial Room 3.json
  region/norfair/crocomire/Post Crocomire Farming Room.json
  region/norfair/west/Ice Beam Gate Room.json
  region/tourian/main/Tourian Escape Room 3.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
Labels: Area:Many
