Repository vg-json-data/sm-json-data, pull requests merged in 2025-03, with the labels that each got.

#1964 Below Spazer left-side X-ray climb
  region/brinstar/red/Below Spazer.json
Labels: Area:Brinstar

#1961 In-room spikesuits
  helpers.json
  region/brinstar/blue/Blue Brinstar Boulder Room.json
  region/brinstar/green/Etecoon Energy Tank Room.json
  region/brinstar/green/Green Brinstar Fireflea Room.json
  region/brinstar/kraid/Baby Kraid Room.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/red/Alpha Power Bomb Room.json
  region/brinstar/red/Beta Power Bomb Room.json
  region/brinstar/red/Hellway.json
  region/crateria/west/Gauntlet Energy Tank Room.json
  region/lowernorfair/east/Lower Norfair Fireflea Room.json
  region/lowernorfair/east/Lower Norfair Spring Ball Maze Room.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Post Crocomire Missile Room.json
  region/wreckedship/main/Assembly Line.json
  region/wreckedship/main/Attic.json
  region/wreckedship/main/Bowling Alley.json
  tech.json
Labels: Area:Many

#1963 Add tricky spring ball jumps (primarily artificial morph double spring without HiJump)
  helpers.json
  region/crateria/east/East Ocean.json
  region/maridia/inner-pink/Colosseum.json
  region/maridia/inner-pink/East Cactus Alley Room.json
  region/maridia/inner-pink/East Sand Hole.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/outer/Mama Turtle Room.json
  region/norfair/east/Lava Dive Room.json
  tech.json
Labels: Area:Maridia, Tech:G-Mode, Area:Many

#1966 Refine Pink Brin Hoppers right-side speedy spring ball jump
  region/brinstar/pink/Pink Brinstar Hopper Room.json
Labels: Area:Brinstar

#1968 Refine Oasis jump-through-top-door strats, add detailNotes schema
  region/maridia/inner-green/Oasis.json
  schema/m3-note.schema.json
  schema/m3-room.schema.json
  tests/asserts/keywords.py
Labels: Area:Maridia, Model:Key Element, Docs

#1965 G-Mode: Double Chamber
  region/norfair/east/Double Chamber.json
Labels: Area:Norfair, Tech:G-Mode

#1967 G-Mode: Spiky Acid Snakes, Lava Dive
  region/norfair/east/Lava Dive Room.json
  region/norfair/east/Spiky Acid Snakes Tunnel.json
Labels: Area:Norfair, Tech:G-Mode

#1970 Business Center temp blue
  region/norfair/west/Business Center.json
Labels: Area:Norfair

#1971 G-Mode: Fast Ripper Room
  region/lowernorfair/west/Fast Ripper Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#1974 Add "bypassesDoorShell": "free"
  logicalRequirements.md
  region/brinstar/green/Green Brinstar Main Shaft.json
  region/brinstar/green/Spore Spawn Kihunter Room.json
  region/brinstar/kraid/Warehouse Zeela Room.json
  region/brinstar/pink/Big Pink.json
  region/brinstar/pink/Pink Brinstar Power Bomb Room.json
  region/brinstar/red/Alpha Power Bomb Room.json
  region/brinstar/red/Hellway.json
  region/crateria/central/Climb.json
  region/crateria/central/Crateria Tube.json
  region/crateria/east/Crab Maze.json
  region/crateria/east/Forgotten Highway Elevator.json
  region/crateria/east/Red Brinstar Elevator Room.json
  region/crateria/east/West Ocean.json
  region/lowernorfair/east/Amphitheatre.json
  region/lowernorfair/east/Lower Norfair Escape Power Bomb Room.json
  region/lowernorfair/east/Mickey Mouse Room.json
  region/lowernorfair/east/Ridley's Room.json
  region/lowernorfair/east/Wasteland.json
  region/lowernorfair/west/Screw Attack Room.json
  region/maridia/inner-green/Oasis.json
  region/maridia/inner-pink/Aqueduct.json
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-yellow/Bug Sand Hole.json
  region/maridia/outer/Crab Hole.json
  region/maridia/outer/Fish Tank.json
  region/maridia/outer/Glass Tunnel.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/crocomire/Crocomire's Room.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/crocomire/Post Crocomire Shaft.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/norfair/east/Purple Shaft.json
  region/tourian/main/Big Boy Room.json
  region/tourian/main/Blue Hopper Room.json
  region/tourian/main/Seaweed Room.json
  region/tourian/main/Tourian Escape Room 2.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  schema/m3-room.schema.json
  strats.md
  tests/asserts/keywords.py
Labels: Tech:G-Mode, Area:Many

#1973 Most of rest of West Norfair temp blue
  region/norfair/west/Crocomire Escape.json
  region/norfair/west/Crumble Shaft.json
  region/norfair/west/Hi Jump Energy Tank Room.json
  region/norfair/west/Ice Beam Acid Room.json
  region/norfair/west/Ice Beam Gate Room.json
Labels: Area:Norfair

#1972 Ice Beam Gate Room anti-shortcharge
  region/maridia/inner-green/East Sand Hall.json
  region/norfair/west/Ice Beam Gate Room.json
  schema/m3-room.schema.json
Labels: Area:Norfair

#1957 Most left-to-right side platform jumps into water
  region/crateria/west/Statues Hallway.json
  region/lowernorfair/east/Metal Pirates Room.json
  region/maridia/inner-pink/Draygon's Room.json
  region/maridia/inner-pink/Halfie Climb Room.json
  region/maridia/inner-pink/The Precious Room.json
  region/maridia/inner-pink/West Cactus Alley Room.json
  region/maridia/outer/Fish Tank.json
Labels: Area:Maridia, New Strat Type

#1981 More strats from Sam: Tourian Escape Room 2, etc.
  region/brinstar/kraid/Warehouse Kihunter Room.json
  region/crateria/east/Forgotten Highway Elbow.json
  region/tourian/main/Tourian Escape Room 2.json
Labels: Area:Many

#1979 Separate Toilet version of Fish Tank Wall Jump Entry
  region/maridia/outer/Fish Tank.json
Labels: Area:Maridia

#1982 Refine door lock ceiling clips, add G-mode variants
  region/brinstar/green/Spore Spawn Kihunter Room.json
  region/brinstar/green/Spore Spawn Room.json
  region/crateria/east/Crab Maze.json
  region/lowernorfair/west/Fast Ripper Room.json
  region/maridia/inner-pink/Crab Shaft.json
  region/norfair/crocomire/Post Crocomire Jump Room.json
  region/norfair/crocomire/Post Crocomire Missile Room.json
  region/norfair/east/Acid Snakes Tunnel.json
  region/tourian/main/Tourian Escape Room 2.json
  region/wreckedship/main/Basement.json
  region/wreckedship/main/Wrecked Ship Main Shaft.json
  tech.json
Labels: Tech:G-Mode, Area:Many

#1977 Refine Precious Room shinecharge/shinespark strats
  region/maridia/inner-pink/The Precious Room.json
  schema/m3-tech.schema.json
  tech.json
Labels: Area:Maridia

#1976 A few strats from Sam (moondances and door lock skips)
  region/brinstar/kraid/Warehouse Energy Tank Room.json
  region/brinstar/red/Red Tower.json
  region/maridia/outer/Mt. Everest.json
  region/norfair/west/Crocomire Speedway.json
Labels: Area:Many

#1978 Crab Shaft and Crab Hole (L->R) side platform jumps
  region/maridia/inner-pink/Crab Shaft.json
  region/maridia/outer/Crab Hole.json
Labels: Area:Maridia

#1984 Add ripper farm while moving strat
  region/lowernorfair/west/Fast Ripper Room.json
Labels: Area:Lower Norfair

#1983 G-Mode: Screw Attack, Acid Statue
  region/lowernorfair/west/Acid Statue Room.json
  region/lowernorfair/west/Screw Attack Room.json
Labels: Area:Lower Norfair, Tech:G-Mode

#1987 Refine Oasis shinecharges
  region/maridia/inner-green/Oasis.json
  tests/asserts/keywords.py
Labels: Area:Maridia
